@model Horizone.Models.Pronoun
@{
    ViewBag.Title = @StaticResource.Resources.Details;
}

<h2>@StaticResource.Resources.Details</h2>

<div>
    <h4>@StaticResource.Resources.Pronoun</h4>
    <hr />
    <div class=" autocontents">
        <p style="font-size: medium; font-weight:bold;">
            <strong>&#10027; @StaticResource.Resources.DictionaryTocharian : </strong>
        </p>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.Word)
            </dt>
            <dd style="font-size: medium; font-weight:bold;">
                <strong>  @Html.DisplayFor(model => model.DictionaryTocharian.Word) </strong>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.TochLanguage.Language)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.TochLanguage.Language)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.Sanskrit)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.Sanskrit)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.English)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.English)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.Francaise)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.Francaise)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.German)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.German)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.Latin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.Latin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.Chinese)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.Chinese)
            </dd>

            @if (Model.DictionaryTocharian.TochLanguage.Language == "TA")
            {
                <dt>
                    @Html.DisplayNameFor(model => model.DictionaryTocharian.EquivalentTB)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DictionaryTocharian.EquivalentTB)
                </dd>
            }
            @if (Model.DictionaryTocharian.TochLanguage.Language == "TB")
            {
                <dt>
                    @Html.DisplayNameFor(model => model.DictionaryTocharian.EquivalentTA)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DictionaryTocharian.EquivalentTA)
                </dd>
            }
            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.TochCorrespondence)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.TochCorrespondence)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.EquivalentInOther)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.EquivalentInOther)
            </dd>



            @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "en")
            {
                <dt>
                    @Html.DisplayNameFor(model => model.DictionaryTocharian.WordClass.Class)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DictionaryTocharian.WordClass.ClassEn)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DictionaryTocharian.WordSubClass.SubClass)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DictionaryTocharian.WordSubClass.SubClassEn)
                </dd>
                <dt>
                    @StaticResource.Resources.Number
                </dt>
                <dd>
                    <table class="table table-striped">
                        @foreach (var item in Model.DictionaryTocharian.Numbers)
                        {
                            <tr><td>@item.WordNumberEn</td></tr>
                        }

                    </table>
                </dd>

            }

            @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "fr")
            {
                <dt>
                    @Html.DisplayNameFor(model => model.DictionaryTocharian.WordClass.Class)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DictionaryTocharian.WordClass.ClassFr)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DictionaryTocharian.WordSubClass.SubClass)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DictionaryTocharian.WordSubClass.SubClassFr)
                </dd>
                <dt>
                    @StaticResource.Resources.Number
                </dt>
                <dd>
                    <table class="table table-striped">
                        @foreach (var item in Model.DictionaryTocharian.Numbers)
                        {
                            <tr><td>@item.WordNumberFr</td></tr>
                        }

                    </table>
                </dd>
            }
            @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "zh")
            {
                <dt>
                    @Html.DisplayNameFor(model => model.DictionaryTocharian.WordClass.Class)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DictionaryTocharian.WordClass.ClassZh)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DictionaryTocharian.WordSubClass.SubClass)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DictionaryTocharian.WordSubClass.SubClassZh)
                </dd>
                <dt>
                    @StaticResource.Resources.Number
                </dt>
                <dd>
                    <table class="table table-striped">
                        @foreach (var item in Model.DictionaryTocharian.Numbers)
                        {
                            <tr><td>@item.WordNumberZh</td></tr>
                        }

                    </table>
                </dd>

            }

            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.DerivedFrom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.DerivedFrom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.RelatedLexemes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.RelatedLexemes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.RootCharacter)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.RootCharacter)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.InternalRootVowel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.InternalRootVowel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.Stem)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.Stem)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.StemClass)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.StemClass)
            </dd>
        </dl>
        <a href="@Url.Action("Edit","DictionaryTocharians",new { id = Model.DictionaryId })" class="btn btn-info" , style="width:85px">@StaticResource.Resources.Edit</a>
    </div>
    <div class=" autocontents">
        <p style="font-size: medium; font-weight:bold;">
            <strong>&#10027; @StaticResource.Resources.Pronoun : </strong>
        </p>

        <dl class="dl-horizontal">
            @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "en")
            {

                <dt>
                    @StaticResource.Resources.Case
                </dt>
                <dd>
                    <table class="table table-striped">
                        @foreach (var item in Model.Cases)
                        {
                            <tr><td>@item.NameCaseEn</td></tr>
                        }

                    </table>
                </dd>
                <dt>
                    @StaticResource.Resources.Gender
                </dt>
                <dd>
                    <table class="table table-striped">
                        @foreach (var item in Model.Genders)
                        {
                            <tr><td>@item.NameGenderEn</td></tr>
                        }

                    </table>
                </dd>
                <dt>
                    @StaticResource.Resources.Person
                </dt>
                <dd>
                    <table class="table table-striped">
                        @foreach (var item in Model.Persons)
                        {
                            <tr><td>@item.ConjugatedPersonEn</td></tr>
                        }

                    </table>
                </dd>
            }
            @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "fr")
            {

                <dt>
                    @StaticResource.Resources.Case
                </dt>
                <dd>
                    <table class="table table-striped">
                        @foreach (var item in Model.Cases)
                        {
                            <tr><td>@item.NameCaseFr</td></tr>
                        }

                    </table>
                </dd>
                <dt>
                    @StaticResource.Resources.Gender
                </dt>
                <dd>
                    <table class="table table-striped">
                        @foreach (var item in Model.Genders)
                        {
                            <tr><td>@item.NameGenderFr</td></tr>
                        }

                    </table>
                </dd>
                <dt>
                    @StaticResource.Resources.Person
                </dt>
                <dd>
                    <table class="table table-striped">
                        @foreach (var item in Model.Persons)
                        {
                            <tr><td>@item.ConjugatedPersonFr</td></tr>
                        }

                    </table>
                </dd>
            }

            @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "zh")
            {
                <dt>
                    @StaticResource.Resources.Case
                </dt>
                <dd>
                    <table class="table table-striped">
                        @foreach (var item in Model.Cases)
                        {
                            <tr><td>@item.NameCaseZh</td></tr>
                        }

                    </table>
                </dd>
                <dt>
                    @StaticResource.Resources.Gender
                </dt>
                <dd>
                    <table class="table table-striped">
                        @foreach (var item in Model.Genders)
                        {
                            <tr><td>@item.NameGenderZh</td></tr>
                        }

                    </table>
                </dd>
                <dt>
                    @StaticResource.Resources.Person
                </dt>
                <dd>
                    <table class="table table-striped">
                        @foreach (var item in Model.Persons)
                        {
                            <tr><td>@item.ConjugatedPersonZh</td></tr>
                        }

                    </table>
                </dd>
            }

        </dl>
        <p>
            @Html.ActionLink(StaticResource.Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-info", style = "width:85px" }) |
            @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = Model.Id }, new { @class = "btn btn-info", style = "width:85px" })

            @Html.ActionLink(@StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-default", style = "width:85px" })
        </p>
    </div>
   
</div>
