@model IEnumerable<Horizone.Models.Pronoun>
@{
    ViewBag.Title = @StaticResource.Resources.Pronoun;
}
<h2>@StaticResource.Resources.Pronoun</h2>
<div id="search">
    <form class="form-group row" action="@Url.Action("SearchDictionary", "Pronouns")" method="post" enctype="multipart/form-data">
        <div>
            @{Html.RenderAction("SearchForm", "DashBoards"); }
        </div>

    </form>

</div>

<p>
    @Html.ActionLink(@StaticResource.Resources.Add, "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @StaticResource.Resources.Tocharian
        </th>
        <th>
            @StaticResource.Resources.Language
        </th>
        <th>
            @StaticResource.Resources.Meaning  @StaticResource.Resources.Sanskrit
        </th>
        <th>
            @StaticResource.Resources.Meaning  @StaticResource.Resources.English
        </th>

        <th>
            @StaticResource.Resources.Meaning  @StaticResource.Resources.French
        </th>
        <th>
            @StaticResource.Resources.Meaning   @StaticResource.Resources.German
        </th>
        <th>
            @StaticResource.Resources.Meaning   @StaticResource.Resources.Latin
        </th>
        <th>
            @StaticResource.Resources.Meaning   @StaticResource.Resources.Chinese
        </th>
        <th>
            @StaticResource.Resources.WordClass
        </th>
        <th>
            @StaticResource.Resources.WordSubClass
        </th>

        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details","Pronouns", new { id = item.Id })">&diams;  @item.DictionaryTocharian.Word </a>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DictionaryTocharian.TochLanguage.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DictionaryTocharian.Sanskrit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DictionaryTocharian.English)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DictionaryTocharian.Francaise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DictionaryTocharian.German)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DictionaryTocharian.Latin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DictionaryTocharian.Chinese)
            </td>

            @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "en")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.DictionaryTocharian.WordClass.ClassEn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DictionaryTocharian.WordSubClass.SubClassEn)
                </td>

            }
            @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "fr")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.DictionaryTocharian.WordClass.ClassFr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DictionaryTocharian.WordSubClass.SubClassFr)
                </td>

            }
            @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "zh")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.DictionaryTocharian.WordClass.ClassZh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DictionaryTocharian.WordSubClass.SubClassZh)
                </td>
            }
            <td>
                @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
                @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
            </td>
        </tr>
    }

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        }
    </script>
}
