@model Horizone.Models.FiberDistribution

@{
    ViewBag.Title = @StaticResource.Resources.Edit;
}
<h4>@StaticResource.Resources.Edit</h4>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@StaticResource.Resources.FiberDistribution</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.DistributionEn, htmlAttributes: new { @class = "control-label col-md-2" }) @StaticResource.Resources.English
            <div class="col-md-10">
                @Html.EditorFor(model => model.DistributionEn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DistributionEn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DistributionFr, htmlAttributes: new { @class = "control-label col-md-2" }) @StaticResource.Resources.French
            <div class="col-md-10">
                @Html.EditorFor(model => model.DistributionFr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DistributionFr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DistributionZh, htmlAttributes: new { @class = "control-label col-md-2" }) @StaticResource.Resources.Chinese
            <div class="col-md-10">
                @Html.EditorFor(model => model.DistributionZh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DistributionZh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@StaticResource.Resources.Save class="btn btn-primary" />
                @Html.ActionLink(@StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
 