@model Horizone.Models.NounAdjective


@{
    ViewBag.Title = @StaticResource.Resources.Delete;
}

<h2> @StaticResource.Resources.Delete</h2>

<h3 class="text-danger"> @StaticResource.Resources.AskDelete</h3>

<div>
    <h4>NounAdjective</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.Word)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictionaryTocharian.Word)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value=@StaticResource.Resources.Delete class="btn btn-danger" /> |
        @if (Model.DictionaryTocharian.WordClassId == 2)
        {
            @Html.ActionLink(@StaticResource.Resources.Return, "IndexNoun", null, new { @class = "btn btn-default", style = "width:85px" })
        }
        @if (Model.DictionaryTocharian.WordClassId == 4)
        {
            @Html.ActionLink(@StaticResource.Resources.Return, "IndexAdjective", null, new { @class = "btn btn-default", style = "width:85px" })
        }

    </div>
    }
</div>
