@model Horizone.Models.NounAdjective
@{
    ViewBag.Title = @StaticResource.Resources.Edit;
}

<h2>@StaticResource.Resources.Edit </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Noun / Adjective : <strong>" @Model.DictionaryTocharian.Word " </strong> </h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.DictionaryId, "DictionaryId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("DictionaryId", null, htmlAttributes: new { @class = "form-control" }) (<label style="color:red;">*  @StaticResource.Resources.Choose <strong>" @Model.DictionaryTocharian.Word " </strong> </label>)
            @Html.ValidationMessageFor(model => model.DictionaryId, "", new { @class = "text-danger" })
        </div>
    </div>
    @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "en")
    {

        <div class="form-group">
            <label class="control-label col-md-2">@StaticResource.Resources.Case</label>
            <div class="col-md-10">
                @Html.ListBox("CaseId", (MultiSelectList)ViewBag.CasesEn, new { @class = "form-control" }) (<label style="color:red;">*  @StaticResource.Resources.Required </label>)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">@StaticResource.Resources.Gender</label>
            <div class="col-md-10">
                @Html.ListBox("GenderId", (MultiSelectList)ViewBag.GendersEn, new { @class = "form-control" }) (<label style="color:red;">*  @StaticResource.Resources.Required </label>)
            </div>
        </div>

    }
    @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "fr")
    {

        <div class="form-group">
            <label class="control-label col-md-2">@StaticResource.Resources.Case</label>
            <div class="col-md-10">
                @Html.ListBox("CaseId", (MultiSelectList)ViewBag.CasesFr, new { @class = "form-control" }) (<label style="color:red;">*  @StaticResource.Resources.Required </label>)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">@StaticResource.Resources.Gender</label>
            <div class="col-md-10">
                @Html.ListBox("GenderId", (MultiSelectList)ViewBag.GendersFr, new { @class = "form-control" }) (<label style="color:red;">*  @StaticResource.Resources.Required </label>)
            </div>
        </div>

    }
    @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "zh")
    {

        <div class="form-group">
            <label class="control-label col-md-2">@StaticResource.Resources.Case</label>
            <div class="col-md-10">
                @Html.ListBox("CaseId", (MultiSelectList)ViewBag.CasesZh, new { @class = "form-control" }) (<label style="color:red;">*  @StaticResource.Resources.Required </label>)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">@StaticResource.Resources.Gender</label>
            <div class="col-md-10">
                @Html.ListBox("GenderId", (MultiSelectList)ViewBag.GendersZh, new { @class = "form-control" }) (<label style="color:red;">*  @StaticResource.Resources.Required </label>)
            </div>
        </div>

    }
    <div class="form-group">
        <div>
            <input type="submit" value=@StaticResource.Resources.Save class="btn btn-primary" style="width:95px" />
            @Html.ActionLink(@StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-default", style = "width:95px" })
        </div>

    </div>
</div>
}
