@model PagedList.IPagedList<Horizone.Models.NounAdjective>
@using PagedList.Mvc;
@{
    ViewBag.Title = @StaticResource.Resources.DictionaryTocharian;
}

<h2>@StaticResource.Resources.DictionaryTocharian @StaticResource.Resources.Noun - @StaticResource.Resources.Adjective </h2>
<div id="search">
    <form class="form-group row" action="@Url.Action("SearchNounAdjective", "NounAdjectives")" method="post" enctype="multipart/form-data">
        <div>
            @{Html.RenderAction("SearchForm", "DashBoards"); }
        </div>
    </form>
</div>

<p>
    @Html.ActionLink(@StaticResource.Resources.Add, "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <tr>
        <th>
            @StaticResource.Resources.Words
        </th>
        <th>
            @StaticResource.Resources.Language
        </th>
        <th>
            @StaticResource.Resources.Meaning  @StaticResource.Resources.Sanskrit
        </th>
        <th>
            @StaticResource.Resources.Meaning  @StaticResource.Resources.English
        </th>

        <th>
            @StaticResource.Resources.Meaning  @StaticResource.Resources.French
        </th>
        <th>
            @StaticResource.Resources.Meaning   @StaticResource.Resources.German
        </th>
        <th>
            @StaticResource.Resources.Meaning   @StaticResource.Resources.Latin
        </th>
        <th>
            @StaticResource.Resources.Meaning   @StaticResource.Resources.Chinese
        </th>
        <th>
            @StaticResource.Resources.WordClass
        </th>
        <th>
            @StaticResource.Resources.WordSubClass
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        
    <tr>

        <td>
            <a href="@Url.Action("Details","NounAdjectives", new { id = item.Id })">&diams;  @item.TochWord </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TochLanguage.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sanskrit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.English)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Francaise)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.German)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chinese)
        </td>

        @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "en")
        {
            <td>
                @Html.DisplayFor(modelItem => item.WordClass.ClassEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WordSubClass.SubClassEn)
            </td>

        }
        @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "fr")
        {
            <td>
                @Html.DisplayFor(modelItem => item.WordClass.ClassFr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WordSubClass.SubClassFr)
            </td>

        }
        @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "zh")
        {
            <td>
                @Html.DisplayFor(modelItem => item.WordClass.ClassZh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WordSubClass.SubClassZh)
            </td>

        }
        <td>
            @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
            @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
        </td>
    </tr>
       
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("IndexAdjective", new { page }))

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        }
    </script>
}
