@model IEnumerable<Horizone.Models.NounAdjective>

@{
    ViewBag.Title = @StaticResource.Resources.Search;
}
<h2>@StaticResource.Resources.SearchResult</h2>
&#10063; @Model.Count() @StaticResource.Resources.SearchResult <b> " @ViewBag.Search " </b> @StaticResource.Resources.Found
<br />
@if (Model.Count() == 0)
{
    <p>
        &#10067; @StaticResource.Resources.AskSearchAdvantage
    </p>
    <h5>&#9658; @StaticResource.Resources.ClickButton @StaticResource.Resources.Search <b> " @ViewBag.Search " </b></h5>

    <form class="form-group row" action="@Url.Action("SearchIndex", "DashBoards" )" method="post" enctype="multipart/form-data">
        <button type="submit" class="btn btn-default" style="width:20%; text-align:left;"> @StaticResource.Resources.Search <b> " @ViewBag.Search " </b> </button>
        <input class="form-control" type="hidden" id="Search" name="search" value="@ViewBag.Search" />
    </form>
}
<br />

<div id="search">
    <form class="form-group row" action="@Url.Action("SearchNounAdjective", "NounAdjectives")" method="post" enctype="multipart/form-data">
        <div>
            @{Html.RenderAction("SearchForm", "DashBoards"); }
        </div>
    </form>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TochLanguage.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WordClass.Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WordSubClass.SubClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TochWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sanskrit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.English)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Francaise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.German)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chinese)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquivalentTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquivalentTB)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TochLanguage.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WordClass.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WordSubClass.SubClass)
            </td>
            <td>
                <a href="@Url.Action("Details","NounAdjectives", new { id = item.Id })">&diams;  @item.TochWord </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sanskrit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.English)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Francaise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.German)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chinese)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquivalentTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquivalentTB)
            </td>

            <td>
                @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
                @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
            </td>
        </tr>
    }

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        }
    </script>
}
