@model Horizone.Models.Activity
<h2> ACTIVITY </h2>

@foreach (var item in Model)
{
    <img style="width:90px;height:90px;" src="~/Image/basin.jpg" />
    <ul>
        <li>
            @StaticResource.Resources.DateActivity
        </li>
        <li>
            @Html.DisplayFor(modelItem => item.DateofActivity)
        </li>
        <li>
            @StaticResource.Resources.Place
        </li>
        <li>
            @Html.DisplayFor(modelItem => item.Place)
        </li>
        <li>
            @StaticResource.Resources.Activity
        </li>
        <li>
            @Html.DisplayFor(modelItem => item.NameActivity)
        </li>
        <li>
            @StaticResource.Resources.Description
        </li>
        <li>
            @Html.DisplayFor(modelItem => item.Description)
        </li>
        <li>
            @StaticResource.Resources.Link
        </li>
        <li>
            @Html.DisplayFor(modelItem => item.UlrActivity)
        </li>


    </ul>
}


