@model List<Horizone.Models.Menu>
<div class="navbar-collapse collapse" style="background-color:black">
    <ul class="nav navbar-nav">
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink(item.Text, item.Text, "Home")</li>
        }
      
        

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@StaticResource.Resources.Link <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><h4 class="dropdownTitle" style="color:cornflowerblue">Silk Road Projects and Tocharian texts</h4></li>
                <li><a href="http://dsr.nii.ac.jp/">Digital Silk Road Project (DSR)</a></li>
                <li><a href="http://dsr.nii.ac.jp/toyobunko/">Digital Archive of Toyo Bunko Rare Books</a></li>
                <li><a href="http://turfan.bbaw.de/dta/">   Digitales Turfan-Archiv (DTA)</a></li>
                <li><a href="http://idp.bl.uk/">The International Dunhuang Project (IDP)</a></li>
                <li><a href="http://titus.uni-frankfurt.de/">Thesaurus Indogermanischer Text- und Sprachmaterialien (TITUS)</a></li>

                <li><h4 class="dropdownTitle" style="color:cornflowerblue">Collections and catalogues</h4></li>
                <li><a href="https://staatsbibliothek-berlin.de/die-staatsbibliothek/abteilungen/orient/">Staatsbibliothek zu Berlin – Preußischer Kulturbesitz: Orientabteilung</a></li>
                <li><a href="http://www.bbaw.de/forschung/turfanforschung/">Berlin-Brandenburgische Akademie der Wissenschaften: Turfanforschung</a></li>
                <li><a href="https://adw-goe.de/forschung/forschungsprojekte-akademienprogramm/kohd/">Katalogisierung der Orientalischen Handschriften in Deutschland (KOHD)</a></li>

                <li><h4 class="dropdownTitle" style="color:cornflowerblue">Sanskrit and Buddhist texts</h4></li>
                <li><a href="https://www.tipitaka.org/">The Pāḷi Tipiṭaka</a></li>
                <li><a href="http://www.sacred-texts.com/bud/index.htm">Sacred texts: Buddhism</a></li>
                <li><a href="https://www2.hf.uio.no/polyglotta/index.php?page=library&bid=2">Thesaurus Literaturae Buddhicae (TLB)</a></li>


            </ul>
        </li>
    </ul>
    <!--Choice language-->
    <ul class="nav navbar-right">
       <li>
           
       </li>
        <li>
            @using (Html.BeginForm("ChangeCulture", "Base"))
            {
                @Html.Hidden("returnUrl", Request.RawUrl)
                @Html.DropDownList("ddlCulture", new SelectList(new[] {
                    new {value="fr",text=StaticResource.Resources.French},
                    new {value="en",text=StaticResource.Resources.English},
                  //  new {value="zh",text=StaticResource.Resources.Chinese},
                   // new {value="vi",text=StaticResource.Resources.VietNamese},
                   // new {value="ja",text=StaticResource.Resources.Japanese},
                   // new {value="de",text=StaticResource.Resources.German},


                }, "value", "text", Session[Horizone.Common.CommonConstants.CurrentCulture]),new { onchange="this.form.submit();"})
            }
        </li>
    </ul>
    <ul class="nav navbar-right">
        <li><a href="@Url.Action("index","dashboards",new {area="backoffice" })">☆</a> </li>

    </ul>
</div>
