@model Horizone.Models.ScriptManuscript

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ScriptManuscript</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlignmentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlignmentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleHeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvCharPerLigne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvCharPerLigne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NibThickness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NibThickness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Script)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Script)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScriptAdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScriptAdd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
