@model IEnumerable<Horizone.Models.SubGenderManuscript>
@{
    ViewBag.Title = @StaticResource.Resources.TextSubgenre;
}

<h2>@StaticResource.Resources.TextSubgenre </h2>

<p>
    @Html.ActionLink(@StaticResource.Resources.Add, "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubGenderEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameGenderFr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameGenderZh)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubGenderEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameGenderFr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameGenderZh)
            </td>
            <td>
                @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
                @Html.ActionLink(@StaticResource.Resources.Details, "Details", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
                @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
            </td>
        </tr>
    }

</table>
