@model Horizone.Models.Verb

@{
    ViewBag.Title = @StaticResource.Resources.Delete;
}

<h2> @StaticResource.Resources.Delete</h2>

<h3 class="text-danger"> @StaticResource.Resources.AskDelete</h3>

<div>
    <h4>Verb</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.Word)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictionaryTocharian.Word)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mood.AbbreviationsMood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mood.AbbreviationsMood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenseAndAspect.Tense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenseAndAspect.Tense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valency.AbbreviationValency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valency.AbbreviationValency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voice.AbbreviationVoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voice.AbbreviationVoice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PronounSuffix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PronounSuffix)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@StaticResource.Resources.Delete class="btn btn-danger" /> |
            @Html.ActionLink(@StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
