@model PagedList.IPagedList<Horizone.Models.Verb>
@using PagedList.Mvc;
@{
    ViewBag.Title = @StaticResource.Resources.DictionaryTocharian;
}

<h2>@StaticResource.Resources.DictionaryTocharian </h2>
<div id="search">
    <form class="form-group row" action="@Url.Action("SearchWord", "DashBoards")" method="post" enctype="multipart/form-data">
        <div class="form-group col-md-2">
            <br />
            <button type="submit" class="btn btn-info bigBtn"><span class="glyphicon glyphicon-search"></span> @StaticResource.Resources.Search </button>
        </div>

        <div class="form-group col-md-4">
            <label for="Title"> @StaticResource.Resources.SearchWord </label>
            <input class="form-control" type="text" id="Search" name="search" />
        </div>

        <div class="form-group col-md-4">
            <p><strong>Insert:  </strong> </p>
            <a onclick="insertText('Search','ā');" href="#" style="background-color: blanchedalmond; padding:5px"> ā  </a><a> </a>
            <a onclick="insertText('Search','ä');" href="#" style="background-color: blanchedalmond; padding:5px"> ä  </a>
            <a onclick="insertText('Search','ī');" href="#" style="background-color: blanchedalmond; padding:5px"> ī  </a>
            <a onclick="insertText('Search','ö');" href="#" style="background-color: blanchedalmond; padding:5px"> ö  </a>
            <a onclick="insertText('Search','ū');" href="#" style="background-color: blanchedalmond; padding:5px"> ū  </a>
            <a onclick="insertText('Search','ü');" href="#" style="background-color: blanchedalmond; padding:5px"> ü  </a>
            <a onclick="insertText('Search','ṅ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṅ  </a>
            <a onclick="insertText('Search','ñ');" href="#" style="background-color: blanchedalmond; padding:5px"> ñ  </a>
            <a onclick="insertText('Search','ṇ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṇ  </a>
            <a onclick="insertText('Search','ṃ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṃ  </a>
            <a onclick="insertText('Search','ś');" href="#" style="background-color: blanchedalmond; padding:5px"> ś  </a>
            <a onclick="insertText('Search','ṣ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṣ  </a>
            <a onclick="insertText('Search','ṛ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṛ  </a>
            <a onclick="insertText('Search','ṭ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṭ  </a>

            <a onclick="insertText('Search','š');" href="#" style="background-color: blanchedalmond; padding:5px"> š  </a>
            <a onclick="insertText('Search','ß');" href="#" style="background-color: blanchedalmond; padding:5px"> ß  </a>
        </div>
    </form>

</div>

<p>
    @Html.ActionLink(@StaticResource.Resources.Add, "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <tr>

        <th>
            @StaticResource.Resources.Words
        </th>
        <th>
            @StaticResource.Resources.Language
        </th>
        <th>
            @StaticResource.Resources.Meaning @StaticResource.Resources.Sanskrit
        </th>
        <th>
            @StaticResource.Resources.Meaning @StaticResource.Resources.English
        </th>
        <th>
            @StaticResource.Resources.Meaning @StaticResource.Resources.French
        </th>
        <th>
            @StaticResource.Resources.Meaning  @StaticResource.Resources.German
        </th>
        <th>
            @StaticResource.Resources.Meaning  @StaticResource.Resources.Latin
        </th>
        <th>
            @StaticResource.Resources.Meaning  @StaticResource.Resources.Chinese
        </th>
        <th>
            @StaticResource.Resources.WordClass
        </th>
        <th>
            @StaticResource.Resources.WordSubClass
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.TochWord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TochLanguage.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sanskrit)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.English)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Francaise)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.German)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chinese)
        </td>

        @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "en")
        {
            <td>
                @Html.DisplayFor(modelItem => item.WordClass.ClassEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WordSubClass.SubClassEn)
            </td>

        }
        @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "fr")
        {
            <td>
                @Html.DisplayFor(modelItem => item.WordClass.ClassFr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WordSubClass.SubClassFr)
            </td>

        }
        @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "zh")
        {
            <td>
                @Html.DisplayFor(modelItem => item.WordClass.ClassZh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WordSubClass.SubClassZh)
            </td>

        }
        <td>
            @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
            @Html.ActionLink(@StaticResource.Resources.Details, "Details", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
            @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
        </td>
    </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        }
    </script>
}
