@model Horizone.Models.Client

@{
    ViewBag.Title = @StaticResource.Resources.Delete;
}

<h2> @StaticResource.Resources.Delete</h2>
<h3 class="text-danger">@StaticResource.Resources.AskDelete</h3>

<div>
    <h4> @StaticResource.Resources.User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @StaticResource.Resources.Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @StaticResource.Resources.LastName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @StaticResource.Resources.FirstName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @StaticResource.Resources.PhoneNumber
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink(@StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>

