@model IEnumerable<Horizone.Models.AboutProject>
@{
    ViewBag.Title = @StaticResource.Resources.AboutProject;
}


<div class="content">

    <h2> @StaticResource.Resources.AboutProject HISTOCHTEXT </h2>
    <div class="autocontents">
        <p>
            <b>@StaticResource.Resources.Content (s): </b>
        </p>

        <ul>
            <li>
                <a href="#Aim">&diams; @StaticResource.Resources.Aim </a>
            </li>
            <li>
                <a href="#Funding">&diams; @StaticResource.Resources.Funding       </a>
            </li>
            <li>
                <a href="#Programing">&diams; @StaticResource.Resources.Programing</a>
            </li>
            <li>
                <a href="#Feedback">&diams; @StaticResource.Resources.Feedback</a>
            </li>
            <li>
                <a href="#HisTochTextPress">&diams; @StaticResource.Resources.HisTochTextPress</a>
            </li>

        </ul>
    </div>
    <div class="autocontents">
        <p>
            <b> @StaticResource.Resources.SeeAlso : </b>
        </p>
        <ul>
            <li>@Html.ActionLink(StaticResource.Resources.AboutUs, "AboutUs", "Dashboards")</li>
            <li>@Html.ActionLink(StaticResource.Resources.Contact, "Contact", "Dashboards")</li>
        </ul>

    </div>
    <div class="autocontents">

        <h2 id="Aim">@StaticResource.Resources.Aim</h2>
        
            @foreach (var item in Model)
            {
                @Html.Raw(item.Aim)
            }
       
        <h2 id="Funding">@StaticResource.Resources.Funding</h2>
        
            @foreach (var item in Model)
            {
                @Html.Raw(item.Funding)
            }
        
        <h2 id="Programing">@StaticResource.Resources.Programing</h2>
        
            @foreach (var item in Model)
            {
                @Html.Raw(item.Programing)
            }
       
        <h2 id="Feedback">@StaticResource.Resources.Feedback</h2>
       
            @foreach (var item in Model)
            {
                @Html.Raw(item.Feedback)
            }
       
        <h2 id="HisTochTextPress">@StaticResource.Resources.HisTochTextPress</h2>
        <ul>
            <li>
                @{Html.RenderAction("InPresse", "DashBoards");}
            </li>           
        </ul>
    </div>
</div>

