@model ICollection<Horizone.Models.Bibliography>
@{
    ViewBag.Title = @StaticResource.Resources.Search;
}
<h2>@StaticResource.Resources.SearchResult</h2>

<div class="col-md-2">

    <form class="form-group row" action="@Url.Action("Search", "Bibliographies")" method="post" enctype="multipart/form-data">
        <div class="form-group ">
            <label for="search">@StaticResource.Resources.SearchWord</label>
            <input type="text" class="form-control" id="search" name="search" /><br />
        </div>
        @*<div class="form-group ">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" /><br />
            </div>
            <div class="form-group ">
                <label for="journal">Journal</label>
                <input type="text" class="form-control" id="journal" name="journal" /><br />
            </div>
            <div class="form-group ">
                <label for="publicationDate">Publication Date</label>
                <input type="text" class="form-control" id="publicationDate" name="publicationDate" /><br />
            </div>*@
    </form>
</div>
<div class="col-md-2">
    <div class="form-group">
        <br />
        <button type="submit" class="btn btn-info"> @StaticResource.Resources.Search</button>
    </div>

</div>

<div class="col-md-8">

    <div class="bibliography row">
        <table class="table">
            <tr>
                <th>
                    @StaticResource.Resources.Author
                </th>
                <th>
                    @StaticResource.Resources.PublicationDate
                </th>
                <th>
                    @StaticResource.Resources.TitleArticle
                </th>
                <th>
                    @StaticResource.Resources.Newspaper
                </th>
                <th>
                    @StaticResource.Resources.Link
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublicationDate)
                    </td>
                    <td>
                        @Html.Raw(item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Journal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UlrBibliography)
                    </td>

                </tr>
            }

        </table>

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

