@model Horizone.Models.ChainLinesVisibility

@{
    ViewBag.Title = @StaticResource.Resources.Delete;
}

<h2> @StaticResource.Resources.Delete</h2>

<h3 class="text-danger"> @StaticResource.Resources.AskDelete</h3>


<div>
    <h4>ChainLinesVisibility</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChainLinesVisibilityEn)  @StaticResource.Resources.English
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChainLinesVisibilityEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChainLinesVisibilityFr)  @StaticResource.Resources.French
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChainLinesVisibilityFr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChainLinesVisibilityZh)  @StaticResource.Resources.Chinese
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChainLinesVisibilityZh)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink(@StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-default" })
    </div>
    }
</div>
