@model Horizone.Models.ChainLinesVisibility

@{
    ViewBag.Title = @StaticResource.Resources.Edit;
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ChainLinesVisibility</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.ChainLinesVisibilityEn, htmlAttributes: new { @class = "control-label col-md-2" })  @StaticResource.Resources.English
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChainLinesVisibilityEn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ChainLinesVisibilityEn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChainLinesVisibilityFr, htmlAttributes: new { @class = "control-label col-md-2" })  @StaticResource.Resources.French
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChainLinesVisibilityFr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ChainLinesVisibilityFr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChainLinesVisibilityZh, htmlAttributes: new { @class = "control-label col-md-2" }) @StaticResource.Resources.Chinese
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChainLinesVisibilityZh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ChainLinesVisibilityZh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@StaticResource.Resources.Save class="btn btn-primary" />
                @Html.ActionLink(@StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
