@model Horizone.Models.Activity
@{
    ViewBag.Title = @StaticResource.Resources.Details;
}

<h2>@StaticResource.Resources.Details</h2>



<div>
    <h4>@StaticResource.Resources.Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Language.Symbol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language.Symbol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topic.TopicEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic.TopicEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofActivity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofActivity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameActivity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameActivity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UlrActivity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UlrActivity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(StaticResource.Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
    @Html.ActionLink(StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-primary" })
</p>