@model IEnumerable<Horizone.Models.ProperNoun>

@{
    /**/

    ViewBag.Title = @StaticResource.Resources.ProperNoun;
}

<h2>@StaticResource.Resources.ProperNoun</h2>

<p>
    @Html.ActionLink(@StaticResource.Resources.Add, "Create", null, new { @class = "btn btn-primary" })
</p>


@foreach (var item in Model)
{
    <div class="col-md-4" style="border-right: 2px solid lightblue">
        @Html.DisplayFor(modelItem => item.Name)

        @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px;float:right; " })
        @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px;float:right;" })
    </div>
}


