@model PagedList.IPagedList<Horizone.Models.ReverseDictionary>
@using PagedList.Mvc;
@{
    ViewBag.Title = @StaticResource.Resources.ReverseDictionary;
}

<h2>@StaticResource.Resources.ReverseDictionary</h2>
<div id="search">
    <form class="form-group row" action="@Url.Action("SearchReverse", "ReverseDictionaries")" method="post" enctype="multipart/form-data">
        <label for="Title"> @StaticResource.Resources.SearchContain </label>
        <div>
            @{Html.RenderAction("SearchForm", "DashBoards"); }
        </div>
    </form>
</div>

<div id="search">
    <form class="form-group row" action="@Url.Action("SearchEnd", "ReverseDictionaries")" method="post" enctype="multipart/form-data">
        <label for="Title"> @StaticResource.Resources.SearchEnd </label>
        <div>
            @{Html.RenderAction("SearchForm", "DashBoards"); }
        </div>
    </form>
</div>
<p>
    @Html.ActionLink(@StaticResource.Resources.Add, "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th hidden>
            @StaticResource.Resources.Words
        </th>
        <th>
            @StaticResource.Resources.Reverse
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td hidden>
                <form class="form-group row" action="@Url.Action("SearchWord", "DashBoards")" method="post" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-default" style="width:400px"> @Html.DisplayFor(modelItem => item.Word) </button>
                    <input class="form-control" type="hidden" id="Search" name="search" value=@item.Word />
                </form>
            </td>
            <td>
                <form class="form-group row" action="@Url.Action("SearchWord", "DashBoards")" method="post" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-default" style="width:80%"> @Html.DisplayFor(modelItem => item.SymbolPrefix) @Html.DisplayFor(modelItem => item.ReverseWord) @Html.DisplayFor(modelItem => item.SymbolSufix)  </button>
                    <input class="form-control" type="hidden" id="Search" name="search" value=@item.ReverseWord />
                </form>
            </td>
            <td>
                @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
                @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
                @Html.ActionLink("Sort", "EditReverse", new { id = item.Id }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
</table>


@Html.PagedListPager(Model, page => Url.Action("index", new { page }))
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        }
    </script>
}
