@model IEnumerable<Horizone.Models.ReverseDictionary>

@{
    ViewBag.Title = @StaticResource.Resources.ReverseDictionary;
}

<h2>@StaticResource.Resources.ReverseDictionary</h2>
<h4>@StaticResource.Resources.SearchResult</h4>

<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.ReverseWord)
        </th>
        <th>

        </th>

    </tr>

    @foreach (var item in Model)
    {

        <tr>
            
            <td style="width:30%">
                <form class="form-group row" action="@Url.Action("SearchWord", "DashBoards")" method="post" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-default" style="width:95%; text-align:left;">  @Html.DisplayFor(modelItem => item.ReverseWord) </button>
                    <input class="form-control" type="hidden" id="Search" name="search" value=@item.ReverseWord />
                </form>
            </td>
            <td>
                @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })

            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink(StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-primary", style = "width:85px" })
</p>
