@model IEnumerable<Horizone.Models.ReverseDictionary>

@{
    ViewBag.Title = "SortReverse";
}

<h2>SortReverse</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Word)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SymbolPrefix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReverseWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SymbolSufix)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Word)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SymbolPrefix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReverseWord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SymbolSufix)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
