@{
    ViewBag.Title = @StaticResource.Resources.ResetPassword;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @StaticResource.Resources.PasswordResetSuccess @Html.ActionLink(@StaticResource.Resources.ClickLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
