@model Horizone.Models.TochPhrase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TochPhrase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Index)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Index)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.English)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.English)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Francaise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Francaise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sanskrit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sanskrit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chinois)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chinois)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vietnam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vietnam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
