@model Horizone.Models.Provenience

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3 class="text-danger">Are you sure you want to delete this?</h3>
<div>
    <h4>Provenience</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MainFindSpot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainFindSpot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecificFindSpot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecificFindSpot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpeditionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpeditionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colection)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
