@using Microsoft.AspNet.Identity
<div id="slideleft-main">
    <form class="form-group" style="padding-left: 5px">

        <div class="form-group row">
            <input class="form-control" type="text" id="Content" name="Content" style="width: 90%;" />
        </div>
        <div class="form-group row">
            <p style="float:left"> @StaticResource.Resources.User   :   @User.Identity.GetUserName()   !  </p>
            @Html.ActionLink(@StaticResource.Resources.Add, "NewComment", "FontNews", new { @class = "btn btn-default", style = "background-color: #A8A2CC; width:95px; float:right;" })
        </div>
    </form>
</div>
<h6><i class="fa fa-address-card-o" style="font-size:24px"></i> @StaticResource.Resources.Add @StaticResource.Resources.Comment </h6>
<form style="width : 100%;">
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
</form>
<p style="float:left"> @StaticResource.Resources.User   :   @User.Identity.GetUserName()   !  </p>
@Html.ActionLink(@StaticResource.Resources.Add, "NewComment", "FontNews", new { @class = "btn btn-default", style = "background-color: #A8A2CC; width:95px; float:right;" })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            tinymce.init({ selector: '#Content' });
        });
    </script>
}
