@model PagedList.IPagedList<Horizone.Models.AbbreviationDictionary>
@using PagedList.Mvc;

@{
    ViewBag.Title = @StaticResource.Resources.AbbreviationDictionary;
}

<h2> @StaticResource.Resources.Abbreviations-  @StaticResource.Resources.Language </h2>
<div id="search">
    <form class="form-group row" action="@Url.Action("SearchAbbreviation", "Vocabularies")" method="post" enctype="multipart/form-data">
        <div>
            @{Html.RenderAction("SearchForm", "Home"); }
        </div>
    </form>
</div>

<table class="table">
    <tr>
        <th>
            @StaticResource.Resources.Symbol
        </th>
        <th>
            @StaticResource.Resources.Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("AbbreviationLanguage", new { page }))
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        }

    </script>
}
