@model IEnumerable<Horizone.Models.OtherWord>

@{
    ViewBag.Title = @StaticResource.Resources.DictionaryTocharian;
}

<h2>@StaticResource.Resources.DictionaryTocharian - @StaticResource.Resources.Adverb</h2>
<div class="autocontents">
    <p>
        <b> @StaticResource.Resources.Presentation @StaticResource.Resources.DictionaryTocharian </b>
        @{Html.RenderAction("PresentationDictionaryTocharian", "Home"); }
    </p>
</div>
<div id="search">
    <form class="form-group row" action="@Url.Action("SearchWord", "Vocabularies")" method="post" enctype="multipart/form-data">
        <div>
            @{Html.RenderAction("SearchForm", "Home"); }
        </div>

    </form>

</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TochLanguage.Language)
        </th>
        <th>
            @StaticResource.Resources.Tocharian
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sanskrit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.English)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Francaise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.German)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chinese)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.WordClass.Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WordSubClass.SubClass)
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        if ((item.WordClass.ClassEn == "Adverb") || (item.WordSubClass.SubClassEn == "Adverb"))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TochLanguage.Language)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TochWord)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sanskrit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.English)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Francaise)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.German)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chinese)
                </td>
                @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "en")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.WordClass.ClassEn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WordSubClass.SubClassEn)
                    </td>
                }
                @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "fr")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.WordClass.ClassFr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WordSubClass.SubClassFr)
                    </td>
                }
                @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "zh")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.WordClass.ClassZh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WordSubClass.SubClassZh)
                    </td>
                }
                <td>
                    @Html.ActionLink(@StaticResource.Resources.Details, "DetailsOtherWord", new { id = item.Id }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    }
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        }
    </script>
}
