@model IEnumerable<Horizone.Models.ProperNoun>

@{
    ViewBag.Title = @StaticResource.Resources.ProperNoun;
}

<h3>@StaticResource.Resources.TochStory </h3>
<h4>   @StaticResource.Resources.SearchBy @StaticResource.Resources.ProperNoun</h4>

<div id="search">
    <form class="form-group row" action="@Url.Action("SearchName", "Home")" method="post" enctype="multipart/form-data">
        <div>
            @{Html.RenderAction("SearchForm", "Home"); }
        </div>
    </form>

</div>
<table class="table">
    <tr>
        <th>
            @StaticResource.Resources.ProperNoun

        </th>
        <th>
            @StaticResource.Resources.Description
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "en")
                {

                    @Html.Raw(item.DescriptionEn)

                }
                @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "fr")
                {

                    @Html.Raw(item.DescriptionFr)

                }
                @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "zh")
                {

                    @Html.Raw(item.DescriptionZh)

                }
            </td>
        </tr>
    }

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        }
    </script>
}