@model IEnumerable<Horizone.Models.ReverseDictionary>

@{
    ViewBag.Title = @StaticResource.Resources.ReverseDictionary;
}

<h2>@StaticResource.Resources.ReverseDictionary</h2>

@if (@Model.Count() == 0)
{
    <h4> @ViewBag.Reverse : </h4>
    <h3 class="text-danger"> @StaticResource.Resources.NoReverse </h3>

}
@if (@Model.Count() != 0)
{
    foreach (var item in Model)
    {
        <dl class="dl-horizontal">

            <dt>
                @StaticResource.Resources.Reverse
            </dt>
            <dd>
                <form class="form-group row" action="@Url.Action("SearchWord", "Home")" method="post" enctype="multipart/form-data">
                    <div class="form-group col-md-2">
                        <button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-search"></span> @ViewBag.Reverse  </button>
                    </div>
                    <div class="form-group col-md-4" hidden>
                        <input class="form-control" type="text" id="Search" name="search" value=@ViewBag.Reverse />
                    </div>
                </form>
            </dd>
        </dl>
    }

}
<p>
    @Html.ActionLink(StaticResource.Resources.Return, "Vocabulaire", null, new { @class = "btn btn-primary", style = "width:85px" })
</p>
