@model Horizone.Models.Verb

@{
    ViewBag.Title = @StaticResource.Resources.Details;
}

<h2>@StaticResource.Resources.Details</h2>

<div>
    <h4>@StaticResource.Resources.Verb</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.Word)
        </dt>

        <dd style="font-size: medium; font-weight:bold;">
            <strong>  @Html.DisplayFor(model => model.DictionaryTocharian.Word) </strong>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.Sanskrit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictionaryTocharian.Sanskrit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.English)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictionaryTocharian.English)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.Francaise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictionaryTocharian.Francaise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.German)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictionaryTocharian.German)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.Latin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictionaryTocharian.Latin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.Chinese)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictionaryTocharian.Chinese)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.TochLanguage.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictionaryTocharian.TochLanguage.Language)
        </dd>
        @if (Model.DictionaryTocharian.TochLanguage.Language == "TA")
        {
            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.EquivalentTB)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.EquivalentTB)
            </dd>
        }
        @if (Model.DictionaryTocharian.TochLanguage.Language == "TB")
        {
            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.EquivalentTA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.EquivalentTA)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.TochCorrespondence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictionaryTocharian.TochCorrespondence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.EquivalentInOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictionaryTocharian.EquivalentInOther)
        </dd>

        @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "en")
        {
            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.WordClass.Class)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.WordClass.ClassEn)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.WordSubClass.SubClass)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.WordSubClass.SubClassEn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Mood.MoodEn)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Mood.MoodEn)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TenseAndAspect.TenseEn)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TenseAndAspect.TenseEn)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Valency.AbbreviationValency)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Valency.ValencyEn)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Voice.AbbreviationVoice)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Voice.VoiceEn)
            </dd>
            <dt>
                @StaticResource.Resources.Person
            </dt>
            <dd>
                <table class="table table-striped">
                    @foreach (var item in Model.Persons)
                    {
                        <tr><td>@item.ConjugatedPersonEn</td></tr>
                    }

                </table>
            </dd>
       
        <dt>
            @StaticResource.Resources.Number
        </dt>
        <dd>
            <table class="table table-striped">
                @foreach (var item in Model.DictionaryTocharian.Numbers)
                {
                    <tr><td>@item.WordNumberEn</td></tr>
                }

            </table>
        </dd>
        }

        @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "fr")
        {
            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.WordClass.Class)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.WordClass.ClassFr)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.WordSubClass.SubClass)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.WordSubClass.SubClassFr)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Mood.MoodFr)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Mood.MoodFr)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TenseAndAspect.TenseFr)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TenseAndAspect.TenseFr)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Valency.AbbreviationValency)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Valency.ValencyFr)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Voice.AbbreviationVoice)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Voice.VoiceFr)
            </dd>
            <dt>
                @StaticResource.Resources.Person
            </dt>
            <dd>
                <table class="table table-striped">
                    @foreach (var item in Model.Persons)
                    {
                        <tr><td>@item.ConjugatedPersonEn</td></tr>
                    }

                </table>
            </dd>

            <dt>
                @StaticResource.Resources.Number
            </dt>
            <dd>
                <table class="table table-striped">
                    @foreach (var item in Model.DictionaryTocharian.Numbers)
                    {
                        <tr><td>@item.WordNumberFr</td></tr>
                    }

                </table>
            </dd>

        }

        @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "zh")
        {
            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.WordClass.Class)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.WordClass.ClassZh)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DictionaryTocharian.WordSubClass.SubClass)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DictionaryTocharian.WordSubClass.SubClassZh)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Mood.MoodZh)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Mood.MoodZh)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TenseAndAspect.Tense)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TenseAndAspect.TenseZh)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Valency.AbbreviationValency)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Valency.ValencyZh)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Voice.AbbreviationVoice)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Voice.VoiceZh)
            </dd>
            <dt>
                @StaticResource.Resources.Person
            </dt>
            <dd>
                <table class="table table-striped">
                    @foreach (var item in Model.Persons)
                    {
                        <tr><td>@item.ConjugatedPersonEn</td></tr>
                    }

                </table>
            </dd>

            <dt>
                @StaticResource.Resources.Number
            </dt>
            <dd>
                <table class="table table-striped">
                    @foreach (var item in Model.DictionaryTocharian.Numbers)
                    {
                        <tr><td>@item.WordNumberZh</td></tr>
                    }

                </table>
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.PronounSuffix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PronounSuffix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.DerivedFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictionaryTocharian.DerivedFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.RelatedLexemes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictionaryTocharian.RelatedLexemes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.RootCharacter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictionaryTocharian.RootCharacter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.InternalRootVowel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictionaryTocharian.InternalRootVowel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.Stem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictionaryTocharian.Stem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.StemClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictionaryTocharian.StemClass)
        </dd>

       
    </dl>
</div>
<p>
    @Html.ActionLink(StaticResource.Resources.Return, "Verb", null, new { @class = "btn btn-primary", style = "width:85px" }) |
    @if (Model.DictionaryTocharian.TochLanguageId == 1)
    {

        var ulrA = "https://www.univie.ac.at/tocharian/?E_A_" + @Model.DictionaryTocharian.Word.Trim();
        <a href="@ulrA" class="btn btn-primary"> @StaticResource.Resources.LearnMore @StaticResource.Resources.In CETOM </a>
    }
    @if (Model.DictionaryTocharian.TochLanguageId == 2)
    {
        var ulrB = "https://www.univie.ac.at/tocharian/?E_B_" + @Model.DictionaryTocharian.Word.Trim();
        <a href="@ulrB" class="btn btn-primary"> @StaticResource.Resources.LearnMore @StaticResource.Resources.In CETOM </a>
    }

</p>
