@model Horizone.Models.DictionaryTocharian

@{
    ViewBag.Title = @StaticResource.Resources.Details;
}

<h2>@StaticResource.Resources.Details</h2>

<div>
    <h4>@StaticResource.Resources.DictionaryTocharian</h4>
    <hr />
    @*Partie Commun*@
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Word)
        </dt>
        <dd style="font-size: medium; font-weight:bold;">
            <strong> @Html.DisplayFor(model => model.Word) </strong>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TochLanguage.Language)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TochLanguage.Language)
        </dd>
        @if (Model.TochLanguage.Language == "TA")
        {
            <dt>
                @Html.DisplayNameFor(model => model.EquivalentTB)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EquivalentTB)
            </dd>
        }
        @if (Model.TochLanguage.Language == "TB")
        {
            <dt>
                @Html.DisplayNameFor(model => model.EquivalentTA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EquivalentTA)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.TochCorrespondence)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TochCorrespondence)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquivalentInOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquivalentInOther)
        </dd>

        @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "en")
        {
            <dt>
                @Html.DisplayNameFor(model => model.WordClass.Class)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.WordClass.ClassEn)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.WordSubClass.SubClass)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.WordSubClass.SubClassEn)
            </dd>
            <dt>
                @StaticResource.Resources.Number
            </dt>
            <dd>
                <table class="table table-striped">
                    @foreach (var item in Model.Numbers)
                    {
                        <tr><td>@item.WordNumberZh</td></tr>
                    }

                </table>
            </dd>
            if (Model.WordClass.ClassEn == "Verb")
            {

            }
            if (Model.WordClass.ClassEn == "Noun" || Model.WordClass.ClassEn == "Adjective")
            {


            }


        }

        @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "fr")
        {
            <dt>
                @Html.DisplayNameFor(model => model.WordClass.Class)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.WordClass.ClassFr)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.WordSubClass.SubClass)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.WordSubClass.SubClassFr)
            </dd>
            <dt>
                @StaticResource.Resources.Number
            </dt>
            <dd>
                <table class="table table-striped">
                    @foreach (var item in Model.Numbers)
                    {
                        <tr><td>@item.WordNumberFr</td></tr>
                    }

                </table>
            </dd>
            if (Model.WordClass.ClassEn == "Verb")
            {

            }
            if (Model.WordClass.ClassEn == "Noun" || Model.WordClass.ClassEn == "Adjective")
            {



            }

        }

        @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "zh")
        {
            <dt>
                @Html.DisplayNameFor(model => model.WordClass.Class)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.WordClass.ClassZh)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.WordSubClass.SubClass)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.WordSubClass.SubClassZh)
            </dd>
            <dt>
                @StaticResource.Resources.Number
            </dt>
            <dd>
                <table class="table table-striped">
                    @foreach (var item in Model.Numbers)
                    {
                        <tr><td>@item.WordNumberZh</td></tr>
                    }

                </table>
            </dd>
            if (Model.WordClass.ClassEn == "Verb")
            {

            }
            if (Model.WordClass.ClassEn == "Noun" || Model.WordClass.ClassEn == "Adjective")
            {



            }


        }
        <dt>
            @StaticResource.Resources.Meaning @Html.DisplayNameFor(model => model.Sanskrit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sanskrit)
        </dd>
        <dt>
            @StaticResource.Resources.Meaning @Html.DisplayNameFor(model => model.English)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.English)
        </dd>
        <dt>
            @StaticResource.Resources.Meaning @Html.DisplayNameFor(model => model.Francaise)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Francaise)
        </dd>
        <dt>
            @StaticResource.Resources.Meaning @Html.DisplayNameFor(model => model.German)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.German)
        </dd>

        <dt>
            @StaticResource.Resources.Meaning @Html.DisplayNameFor(model => model.Latin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latin)
        </dd>
        <dt>
            @StaticResource.Resources.Meaning  @Html.DisplayNameFor(model => model.Chinese)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chinese)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(StaticResource.Resources.Return, "Vocabulaire", null, new { @class = "btn btn-primary", style = "width:85px" })
    @if (Model.TochLanguageId == 1)
    {

        var ulrA = "https://www.univie.ac.at/tocharian/?E_A_" + @Model.Word.Trim();
        <a href="@ulrA" class="btn btn-primary"> @StaticResource.Resources.LearnMore @StaticResource.Resources.In CETOM </a>
    }
    @if (Model.TochLanguageId == 2)
    {
        var ulrB = "https://www.univie.ac.at/tocharian/?E_B_" + @Model.Word.Trim();
        <a href="@ulrB" class="btn btn-primary"> @StaticResource.Resources.LearnMore @StaticResource.Resources.In CETOM </a>
    }
</p>