@model IEnumerable<Horizone.Models.Pronoun>

@{
    ViewBag.Title = @StaticResource.Resources.DictionaryTocharian;
}

<h2>@StaticResource.Resources.DictionaryTocharian - @StaticResource.Resources.Pronoun</h2>
<div class="autocontents">
    <p>
        <b> @StaticResource.Resources.Presentation @StaticResource.Resources.DictionaryTocharian </b>
        @{Html.RenderAction("PresentationDictionaryTocharian", "Home"); }
    </p>
</div>
<div id="search">
    <form class="form-group row" action="@Url.Action("SearchPronoun", "Vocabularies")" method="post" enctype="multipart/form-data">
        <div>
            @{Html.RenderAction("SearchForm", "Home"); }
        </div>
    </form>

</div>
<div class="col-md-2" style="float:right;">
    <a href="@Url.Action("PrintVocabulaire", "Vocabularies")" class="btn btn-info">
        <span class="glyphicon glyphicon-print"></span> @StaticResource.Resources.Print
    </a>

    @*(Bo Layout) @Html.ActionLink(@StaticResource.Resources.Print, "PrintHistoire", "Home", new { @class = "btn btn-info", style = "width:90px" },new { onclick= "popitup(this.value);"})*@
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.TochLanguage.Language)
        </th>
        <th>
            @StaticResource.Resources.Tocharian
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.Sanskrit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.English)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.Francaise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.German)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.Latin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.Chinese)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.WordSubClass.SubClass)
        </th>

    </tr>
    @foreach (var item in Model)
    {
        if (item.DictionaryTocharian.WordClass.ClassEn == "Pronoun")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DictionaryTocharian.TochLanguage.Language)
                </td>
                <td>
                    <a href="@Url.Action("DetailsPronoun", "Vocabularies", new { id = item.Id })">&diams;  @item.DictionaryTocharian.Word </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DictionaryTocharian.Sanskrit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DictionaryTocharian.English)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DictionaryTocharian.Francaise)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DictionaryTocharian.German)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DictionaryTocharian.Latin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DictionaryTocharian.Chinese)
                </td>
                @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "en")
                {
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.DictionaryTocharian.WordSubClass.SubClassEn)
                    </td>
                }
                @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "fr")
                {
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.DictionaryTocharian.WordSubClass.SubClassFr)
                    </td>
                }
                @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "zh")
                {
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.DictionaryTocharian.WordSubClass.SubClassZh)
                    </td>
                }
            </tr>
        }
    }
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        }
    </script>
}
