@model PagedList.IPagedList<Horizone.Models.ReverseDictionary>
@using PagedList.Mvc;
@*model IEnumerable<Horizone.Models.ReverseDictionary>*@
@{
    ViewBag.Title = @StaticResource.Resources.ReverseDictionary;
}

<h2>@StaticResource.Resources.ReverseDictionary</h2>
<div id="search">
    <form class="form-group row" action="@Url.Action("SearchReverse", "Vocabularies")" method="post" enctype="multipart/form-data">
        <label for="Title"><strong> @StaticResource.Resources.SearchContain </strong></label>
        <div>
            @{Html.RenderAction("SearchForm", "Home"); }
        </div>

    </form>

</div>
<div id="search">
    <form class="form-group row" action="@Url.Action("SearchEnd", "Vocabularies")" method="post" enctype="multipart/form-data">
        <label for="Title"><strong> @StaticResource.Resources.SearchEnd </strong></label>
        <div>
            @{Html.RenderAction("SearchForm", "Home"); }
        </div>

    </form>

</div>



<table class="table">
    <tr>
        <th hidden>
            @StaticResource.Resources.Words
        </th>
        <th>
            @StaticResource.Resources.Reverse
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                <form class="form-group row" action="@Url.Action("Search", "Vocabularies")" method="post" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-default" style="width:35%; text-align:left;">  @Html.DisplayFor(modelItem => item.ReverseWord) </button>
                    <input class="form-control" type="hidden" id="Search" name="search" value=@item.ReverseWord />
                </form>
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("reverse", new { page }))
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        }
    </script>
}
