@model IEnumerable<Horizone.Models.SearchResult>

@{
    ViewBag.Title = @StaticResource.Resources.AbbreviationDictionary;
}

<h2>@StaticResource.Resources.AbbreviationDictionary</h2>
<h4>@StaticResource.Resources.SearchResult</h4>
@Model.Count() @StaticResource.Resources.SearchResult <b> " @ViewBag.Search " </b> @StaticResource.Resources.Found
<br />
@if (Model.Count() == 0)
{
    @StaticResource.Resources.AskSearchAdvantage;
    <form class="form-group row" action="@Url.Action("SearchIndex", "Home" )" method="post" enctype="multipart/form-data">
        <button type="submit" class="btn btn-default" style="width:20%; text-align:left;"> @StaticResource.Resources.Search <b> " @ViewBag.Search " </b> </button>
        <input class="form-control" type="hidden" id="Search" name="search" value="@ViewBag.Search" />
    </form>
}

<br />

@foreach (var item in Model)
{
    if (item.NameTable == "AbbreviationDictionaries")
    {
        <a href="@Url.Action("DetailsAbbreviationDictionary", "vocabularies", new { id = item.IdResult })"> @StaticResource.Resources.AbbreviationDictionary </a>
        <br />
        <p>@Html.DisplayFor(modelItem => item.Summary) ...</p>
    }

    if (item.NameTable == "Abbreviations")
    {
        <a href="@Url.Action("DetailsAbbreviation", "FontBibliographies", new { id = item.IdResult })"> @StaticResource.Resources.Abbreviations </a>
        <br />
        <p>@Html.DisplayFor(modelItem => item.Summary)...</p>

    }

}
<br />
@if (@ViewBag.Search != null)
{
    @StaticResource.Resources.AskSearchAdvantage;
    <br />
    var ulrA = "https://www.univie.ac.at/tocharian/?A_" + @ViewBag.Search;
    var ulrB = "https://www.univie.ac.at/tocharian/?B_" + @ViewBag.Search;
    var ulrG = "https://www.google.com/search?q=" + @ViewBag.Search + "&rlz=1C1CHBF_frFR865FR865&oq=" + @ViewBag.Search + " &aqs=chrome..69i57j35i39j69i60l2.1406j0j8&sourceid=chrome&ie=UTF-8";
    <a href="@ulrA"> @StaticResource.Resources.Search @StaticResource.Resources.Tocharian A<b> " @ViewBag.Search " @StaticResource.Resources.With CETOM </b></a>
    <br />
    <a href="@ulrB"> @StaticResource.Resources.Search @StaticResource.Resources.Tocharian B <b> " @ViewBag.Search " @StaticResource.Resources.With CETOM </b></a>
    <br />
    <a href="@ulrG"> @StaticResource.Resources.Search <b> " @ViewBag.Search " @StaticResource.Resources.With Google</b></a>

}


@Html.ActionLink(StaticResource.Resources.Return, "Abbreviation", null, new { @class = "btn btn-primary", style = "width:90px" })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
