@model IEnumerable<Horizone.Models.ReverseDictionary>

@{
    ViewBag.Title = @StaticResource.Resources.ReverseDictionary;
}

<h2>@StaticResource.Resources.ReverseDictionary</h2>
<h4>@StaticResource.Resources.SearchResult</h4>
&#10063; @Model.Count() @StaticResource.Resources.SearchResult <b> " @ViewBag.Search " </b> @StaticResource.Resources.Found
<table class="table">
    <tr>
        <th hidden>
            @Html.DisplayNameFor(model => model.Word)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReverseWord)
        </th>

    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td hidden>
                <form class="form-group row" action="@Url.Action("SearchWord", "Home")" method="post" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-default" style="width:30%; text-align:left;">  @Html.DisplayFor(modelItem => item.Word) </button>
                    <input class="form-control" type="hidden" id="Search" name="search" value=@item.Word />
                </form>
            </td>
            <td>
                <form class="form-group row" action="@Url.Action("SearchWord", "Home")" method="post" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-default" style="width:30%; text-align:left;">  @Html.DisplayFor(modelItem => item.ReverseWord) </button>
                    <input class="form-control" type="hidden" id="Search" name="search" value=@item.ReverseWord />
                </form>
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink(StaticResource.Resources.Return, "Reverse", null, new { @class = "btn btn-primary", style = "width:85px" })
</p>
