@model PagedList.IPagedList<Horizone.Models.DictionaryTocharian>
@using PagedList.Mvc;

@{
    ViewBag.Title = @StaticResource.Resources.DictionaryTocharian;
}

<h2>@StaticResource.Resources.DictionaryTocharian A </h2>
<div class="autocontents">
    <p>
        <b> @StaticResource.Resources.Presentation @StaticResource.Resources.DictionaryTocharian </b>
        @{Html.RenderAction("PresentationDictionaryTocharian", "Home"); }
    </p>
</div>
<div id="search">
    <form class="form-group row" action="@Url.Action("SearchWord", "Vocabularies")" method="post" enctype="multipart/form-data">
        <div>
            @{Html.RenderAction("SearchForm", "Home"); }
        </div>

    </form>
</div>

<div class="col-md-2" style="float:right;">
    <a href="@Url.Action("PrintVocabulaire", "Vocabularies")" class="btn btn-info">
        <span class="glyphicon glyphicon-print"></span> @StaticResource.Resources.Print
    </a>
    @*(Bo Layout) @Html.ActionLink(@StaticResource.Resources.Print, "PrintHistoire", "Home", new { @class = "btn btn-info", style = "width:90px" },new { onclick= "popitup(this.value);"})*@
</div>
<table class="table">
    <tr>
        <th>
            @StaticResource.Resources.Tocharian A
        </th>
        <th>
            @StaticResource.Resources.WordClass
        </th>
        <th>
            @StaticResource.Resources.Sanskrit
        </th>
        <th>
            @StaticResource.Resources.English
        </th>
        <th>
            @StaticResource.Resources.French
        </th>
        <th>
            @StaticResource.Resources.German
        </th>
        <th>
            @StaticResource.Resources.Latin
        </th>
        <th>
            @StaticResource.Resources.Chinese
        </th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            <a href="@Url.Action("Details", "Vocabularies", new { id = item.Id })">&diams;  @item.Word </a>
        </td>
        @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "en")
        {
            <td>
                @Html.DisplayFor(modelItem => item.WordClass.ClassEn)
            </td>

        }
        @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "fr")
        {
            <td>
                @Html.DisplayFor(modelItem => item.WordClass.ClassFr)
            </td>

        }
        @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "zh")
        {
            <td>
                @Html.DisplayFor(modelItem => item.WordClass.ClassZh)
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Sanskrit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.English)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Francaise)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.German)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chinese)
        </td>


    </tr>
    }
</table>
@Html.PagedListPager(Model, page => Url.Action("TocharianA", new { page }))

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        }
    </script>
}
