@model IEnumerable<Horizone.Models.WordClass>
@{
    ViewBag.Title = @StaticResource.Resources.WordClass;
}

<h2>@StaticResource.Resources.WordClass</h2>

<p>
    @Html.ActionLink(@StaticResource.Resources.Add, "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassFr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassZh)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Class)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassEn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassFr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassZh)
        </td>
        <td>

            @Html.ActionLink(@StaticResource.Resources.WordSubClass,"ListWordSubClass", new { id = item.Id }, new { @class = "btn btn-info", style = "width:145px" })
            @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:145px" })
            @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:145px" })
        </td>
    </tr>
    }

</table>
