@model Horizone.Models.PreparationPaperBeforeUsing

@{
    ViewBag.Title = @StaticResource.Resources.Details;
}

<h2>@StaticResource.Resources.Details</h2>

<div>
    <h4>@StaticResource.Resources.PreparationPaperBeforeUsing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PreparationEn) @StaticResource.Resources.English
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreparationEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreparationFr) @StaticResource.Resources.French
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreparationFr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreparationZh) @StaticResource.Resources.Chinese
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreparationZh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(StaticResource.Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
    @Html.ActionLink(StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-primary" })
</p>
