@model Horizone.Models.Publication

@{
    ViewBag.Title = @StaticResource.Resources.Details;
}

<h2>@StaticResource.Resources.Details</h2>

<div>
    <h4>@StaticResource.Resources.Publications</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Journal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Journal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UlrBibliography)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UlrBibliography)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicationIndividual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublicationIndividual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicationProjet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublicationProjet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(StaticResource.Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
    @Html.ActionLink(StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-primary" })
</p>
