@model Horizone.Models.SieveMark

@{
    ViewBag.Title = @StaticResource.Resources.Delete;
}

<h2> @StaticResource.Resources.Delete</h2>

<h3 class="text-danger"> @StaticResource.Resources.AskDelete</h3>

 <div>
     <h4>@StaticResource.Resources.SieveMark</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SieveMarkEn) @StaticResource.Resources.English
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SieveMarkEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SieveMarkFr) @StaticResource.Resources.French
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SieveMarkFr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SieveMarkZh) @StaticResource.Resources.Chinese
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SieveMarkZh)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink(@StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-default" })
    </div>
    }
</div>
