@model Horizone.Models.AbbreviationDictionary

@{
    ViewBag.Title = @StaticResource.Resources.Details;
}

<h2>@StaticResource.Resources.Details</h2>

<div>
    <h4>@StaticResource.Resources.AbbreviationDictionary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Symbol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>       

    </dl>
</div>
<p>
    @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(@StaticResource.Resources.Return, "Index")
</p>
