@model PagedList.IPagedList<Horizone.Models.AbbreviationDictionary>
@using PagedList.Mvc;

@{
    ViewBag.Title = @StaticResource.Resources.AbbreviationDictionary;
}

<h2>@StaticResource.Resources.AbbreviationDictionary</h2>

<p>
    @Html.ActionLink(@StaticResource.Resources.Add, "Create", null, new { @class = "btn btn-primary" })
</p>


<table class="table">
    <tr>
        <th>
            @StaticResource.Resources.Symbol
        </th>
        <th>
            @StaticResource.Resources.Description
        </th>
        <th>
            @StaticResource.Resources.Abbreviations  @StaticResource.Resources.Language
        </th>
        <th>
            @StaticResource.Resources.Abbreviations  @StaticResource.Resources.Manuscript
        </th>
        <th>
            @StaticResource.Resources.GrammaticalAbbreviation
        </th>
        <th>
            @StaticResource.Resources.OtherAbbreviation
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Symbol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AbbreviationsLanguage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AbbreviationManuscript)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrammaticalAbbreviation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherAbbreviation)
        </td>
        <td>
            @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
            @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
        </td>
    </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("index", new { page }))