@model Horizone.Models.PaperColor

@{
    ViewBag.Title = @StaticResource.Resources.Details;
}

<h2>@StaticResource.Resources.Details</h2>

<div>
    <h4>@StaticResource.Resources.PaperColor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaperColorEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaperColorEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaperColorFr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaperColorFr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaperColorZh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaperColorZh)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(StaticResource.Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
    @Html.ActionLink(StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-primary" })
</p>