@model IEnumerable<Horizone.Models.AboutProject>
@{
    ViewBag.Title = @StaticResource.Resources.AboutProject;
}


<div class="content">

    <h2 class="main-cat"> @StaticResource.Resources.AboutProject HISTOCHTEXT </h2>
    <div class="autocontents">
        <p>
            <b>@StaticResource.Resources.Content (s): </b>
        </p>

        <ul>
            <li>
                <a href="#Aim">&diams; @StaticResource.Resources.Aim </a>
            </li>
            <li>
                <a href="#Funding">&diams; @StaticResource.Resources.Funding       </a>
            </li>
            <li>
                <a href="#Programing">&diams; @StaticResource.Resources.Programing</a>
            </li>
            <li>
                <a href="#Feedback">&diams; @StaticResource.Resources.Feedback</a>
            </li>
            <li>
                <a href="#HisTochTextPress">&diams; @StaticResource.Resources.HisTochTextPress</a>
            </li>

        </ul>
    </div>

    <div class="autocontents">
        <p>
            <b> @StaticResource.Resources.SeeAlso : </b>
        </p>
        <ul>

            <li>@Html.ActionLink(StaticResource.Resources.AboutUs, "AboutUs", "Home")</li>
            <li>@Html.ActionLink(StaticResource.Resources.Collaboration, "Collaboration", "Home")</li>
            <li>@Html.ActionLink(StaticResource.Resources.Contact, "Contact", "Home")</li>
        </ul>

    </div>
    <div class="autocontents">
       
            <h4 id="Aim"><u>@StaticResource.Resources.Aim</u></h4>     
            
                @foreach (var item in Model)
                {
                    if (item.Language.Symbol == Session[Horizone.Common.CommonConstants.CurrentCulture].ToString())
                    {
                        @Html.Raw(item.Aim);
                    }
                   
                }
            
            <h4 id="Funding"><u>@StaticResource.Resources.Funding</u></h4>
           
                @foreach (var item in Model)
                {
                    if (item.Language.Symbol == Session[Horizone.Common.CommonConstants.CurrentCulture].ToString())
                    {
                        @Html.Raw(item.Funding)
                    }

                }
            
            <h4 id="Programing"><u>@StaticResource.Resources.Programing</u></h4>
            
                @foreach (var item in Model)
                {
                    if (item.Language.Symbol == Session[Horizone.Common.CommonConstants.CurrentCulture].ToString())
                    {
                    @Html.Raw(item.Programing)
                    }
                }
               
            <h4 id="Feedback"><u>@StaticResource.Resources.Feedback</u></h4>
            
                @foreach (var item in Model)
                {
                    if (item.Language.Symbol == Session[Horizone.Common.CommonConstants.CurrentCulture].ToString())
                    {
                    @Html.Raw(item.Feedback)
                    }
                }
            
            <h4 id="HisTochTextPress"><u>@StaticResource.Resources.HisTochTextPress</u></h4>
            <ul>
                <li>
                    @{Html.RenderAction("Presse", "Home");}                    
                </li>
            </ul>
    </div>
  
 </div>


