@model IEnumerable<Horizone.Models.MainContent>
@{
    ViewBag.Title = @StaticResource.Resources.AboutProject;
}


<div class="content">

    <h2> @StaticResource.Resources.AboutProject HISTOCHTEXT </h2>
    <div class="autocontents">
        <p>
            <b>@StaticResource.Resources.Content (s): </b>
        </p>

        <ul>
            <li>
                <a href="#">&diams; @StaticResource.Resources.Aim </a>
            </li>
            <li>
                <a href="#">&diams; @StaticResource.Resources.Funding       </a>
            </li>
            <li>
                <a href="#">&diams; @StaticResource.Resources.Programing</a>
            </li>
            <li>
                <a href="#">&diams; @StaticResource.Resources.Feedback</a>
            </li>
            <li>
                <a href="#">&diams; @StaticResource.Resources.HisTochTextPress</a>
            </li>

        </ul>
    </div>

    <div class="autocontents">
        <p>
            <b> @StaticResource.Resources.SeeAlso : </b>
        </p>       
        <ul>

            <li>@Html.ActionLink(StaticResource.Resources.AboutUs, "AboutUs", "Home")</li>
            <li>@Html.ActionLink(StaticResource.Resources.Collaboration, "Collaboration", "Home")</li>            
            <li>@Html.ActionLink(StaticResource.Resources.Contact, "Contact", "Home")</li>
        </ul>
       
    </div>
</div>


