@model IEnumerable<Horizone.Models.AboutProject>
@{
    ViewBag.Title = @StaticResource.Resources.AboutProject;
}


<div class="content">

    <h2> @StaticResource.Resources.AboutProject HISTOCHTEXT </h2>
    <div class="autocontents">
        <p>
            <b>@StaticResource.Resources.Content (s): </b>
        </p>

        <ul>
            <li>
                <a href="#Aim">&diams; @StaticResource.Resources.Aim </a>
            </li>
            <li>
                <a href="#Funding">&diams; @StaticResource.Resources.Funding       </a>
            </li>
            <li>
                <a href="#Programing">&diams; @StaticResource.Resources.Programing</a>
            </li>
            <li>
                <a href="#Feedback">&diams; @StaticResource.Resources.Feedback</a>
            </li>
            <li>
                <a href="#HisTochTextPress">&diams; @StaticResource.Resources.HisTochTextPress</a>
            </li>

        </ul>
    </div>

    <div class="autocontents">
        <p>
            <b> @StaticResource.Resources.SeeAlso : </b>
        </p>
        <ul>

            <li>@Html.ActionLink(StaticResource.Resources.AboutUs, "AboutUs", "Home")</li>
            <li>@Html.ActionLink(StaticResource.Resources.Collaboration, "Collaboration", "Home")</li>
            <li>@Html.ActionLink(StaticResource.Resources.Contact, "Contact", "Home")</li>
        </ul>

    </div>
    <div class="content">
       
            <h2 id="Aim">@StaticResource.Resources.Aim</h2>     
            <p class="content">
                @foreach (var item in Model)
                {
                    if (item.Language.Symbol == Session[Horizone.Common.CommonConstants.CurrentCulture].ToString())
                    {
                        @Html.Raw(item.Aim);
                    }
                   
                }
            </p>
            <h2 id="Funding">@StaticResource.Resources.Funding</h2>
            <p class="content">
                @foreach (var item in Model)
                {
                    if (item.Language.Symbol == Session[Horizone.Common.CommonConstants.CurrentCulture].ToString())
                    {
                        @Html.Raw(item.Funding)
                    }

                }
            </p>
            <h2 id="Programing">@StaticResource.Resources.Programing</h2>
            <p class="content">
                @foreach (var item in Model)
                {
                    if (item.Language.Symbol == Session[Horizone.Common.CommonConstants.CurrentCulture].ToString())
                    {
                    @Html.Raw(item.Programing)
                    }
                }
                </p>
            <h2 id="Feedback">@StaticResource.Resources.Feedback</h2>
            <p class="content">
                @foreach (var item in Model)
                {
                    if (item.Language.Symbol == Session[Horizone.Common.CommonConstants.CurrentCulture].ToString())
                    {
                    @Html.Raw(item.Feedback)
                    }
                }
            </p>
            <h2 id="HisTochTextPress">@StaticResource.Resources.HisTochTextPress</h2>
            <ul>
                <li>
                    <a href="https://www.harrassowitz-verlag.de/dzo/artikel/201/273_201.pdf?t=1253862532">
                        &diams; Dictionary and Thesaurus
                        of Tocharian A
                    </a>
                </li>
                <li>
                    <a href="https://www.persee.fr/doc/onoma_0755-7752_1988_num_11_1_1002_t1_0178_0000_4">&diams; «Notes d'onomastique koutchéenne»       </a>
                </li>
                <li>
                    <a href="https://www.persee.fr/doc/ephe_0000-0001_1993_num_9_1_7743">&diams;  Les voies de la comparaison védique</a>
                </li>
                <li>
                    <a href="https://www.persee.fr/doc/ephe_0000-0001_1990_num_7_1_7474">&diams; Tocharian</a>
                </li>
                <li>
                    <a href="#https://www.persee.fr/doc/crai_0065-0536_1993_num_137_1_15186">
                        &diams;  « Un  témoignage  tokharien  sur les  premières  nonnes  bouddhistes »,
                    </a>
                </li>

            </ul>
        </div>
 </div>


