@model IEnumerable<Horizone.Models.Activity>

@{
    ViewBag.Title = @StaticResource.Resources.Activity;
}

<h2> @StaticResource.Resources.Activity</h2>
<div class="autocontents">
    <p>
        <b> @StaticResource.Resources.Presentation @StaticResource.Resources.Activity </b>
        @{Html.RenderAction("PresentationActivity", "Home"); }
    </p>
</div>

<table class="table">
    <tr>
        <th>
            @StaticResource.Resources.Language
        </th>
        <th>
            @StaticResource.Resources.DateActivity
        </th>
        <th>
            @StaticResource.Resources.Place
        </th>
        <th>
            @StaticResource.Resources.Activity
        </th>
        <th>
            @StaticResource.Resources.Description
        </th>
        <th>
            @StaticResource.Resources.LearnMore
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Language.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateofActivity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameActivity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a href=@item.UlrActivity class="btn btn-info">@StaticResource.Resources.LearnMore &raquo;</a>
            </td>            
            
        </tr>
    }

</table>
