
@{
    ViewBag.Title = @StaticResource.Resources.Help;
}
<h2>@StaticResource.Resources.Help</h2>
<div class="autocontents">
    <p>
        <b> @StaticResource.Resources.Presentation </b>
        @{Html.RenderAction("PresentationVisualAid", "Home"); }
    </p>
</div>
<div class="autocontents">
    <ul>     
        <li>@Html.ActionLink(StaticResource.Resources.Photographs, "Photographs", "Home")</li>
        <li>@Html.ActionLink(StaticResource.Resources.Glossary, "Glossary", "Home")</li>
    </ul>
</div>
<div class="row">
    @{Html.RenderAction("Map", "Home"); }
    <img style="width: 400px" id="imageCarte" src="" />
</div>

<script>
    function insertImage(imageCarte, ulr) {
        document.getElementById(imageCarte).src = ulr;
    }
</script>
