
@{
    ViewBag.Title = @StaticResource.Resources.Help;
}
<h2>@StaticResource.Resources.Help</h2>
<div class="autocontents">
    <p>
        <b> @StaticResource.Resources.Presentation </b>
        @{Html.RenderAction("PresentationVisualAid", "Home"); }
    </p>
</div>
<div class="autocontents">
    <ul>
        <li><a href="@Url.Action("Photographs", "Home")">&#9733; @StaticResource.Resources.Photographs</a></li>
        <li><a href="@Url.Action("Glossary", "Home")">&#9733; @StaticResource.Resources.Glossary</a></li>
        <li><a href="#">&#9733; @StaticResource.Resources.Maps</a></li>       
    </ul>
    <div class="row">
        @{Html.RenderAction("Map", "Home"); }
        <img style="width: 400px" id="imageCarte" src="" />
    </div>
</div>
<script>
    function insertImage(imageCarte, ulr) {
        document.getElementById(imageCarte).src = ulr;
    }
</script>
