@model IEnumerable<Horizone.Models.VisualAid>
@{
    ViewBag.Title = @StaticResource.Resources.Help;
}

<div class="content">
    <div class="autocontents">
        <p>
            <b> @StaticResource.Resources.Presentation </b>
            @{Html.RenderAction("PresentationVisualAid", "Home"); }
        </p>
    </div>
    <h2 class="main-cat"> @StaticResource.Resources.Help </h2>
    <div class="autocontents">
        <p>
            <b>@StaticResource.Resources.Content (s): </b>
        </p>

        <ul>
            <li>
                <a href="#Glossary">&diams; @StaticResource.Resources.Glossary </a>
            </li>
            <li>
                <a href="#Photography">&diams; @StaticResource.Resources.Photography       </a>
            </li>
            <li>
                <a href="#Question">&diams; @StaticResource.Resources.Question</a>
            </li>
            <li>
                <a href="#Map">&diams; @StaticResource.Resources.Maps</a>
            </li>

        </ul>
    </div>

    <div class="autocontents">
        <p>
            <b> @StaticResource.Resources.SiteMap : </b>
        </p>
        <ul>

            <li><a href="@Url.Action("Index", "FontManuscripts")">&#9733; @StaticResource.Resources.Manuscript</a></li>
            <li><a href="@Url.Action("Publications", "Home")">&#9733; @StaticResource.Resources.Publications</a></li>
            <li><a href="@Url.Action("Vovabulaire", "Vocabularies")">&#9733; @StaticResource.Resources.Words</a></li>
            <li><a href="@Url.Action("TochHistoire", "Home")">&#9733; @StaticResource.Resources.TochStory</a></li>
            <li><a href="@Url.Action("Index", "FontTochPhrases")">&#9733; @StaticResource.Resources.TochPhrase</a></li>
            <li><a href="@Url.Action("Bibliographie", "FontBibliographies")">&#9733; @StaticResource.Resources.Bibliography</a></li>
        </ul>
    </div>
    <div class="autocontents">

        <h4 id="Glossary"><b><u>@StaticResource.Resources.Glossary</u></b></h4>

        @foreach (var item in Model)
        {
            if (item.Language.Symbol == Session[Horizone.Common.CommonConstants.CurrentCulture].ToString())
            {
                if (@item.Glosary)
                {
                    <div class="col-md-3">
                        @Html.Raw(item.Aids);
                    </div>
                    <div class="col-md-9">
                        @Html.Raw(item.Description);
                    </div>
                }
            }

        }

                    <h4 id="Photography"><b><u>@StaticResource.Resources.Photography</u></b></h4>

        @foreach (var item in Model)
        {
            if (item.Language.Symbol == Session[Horizone.Common.CommonConstants.CurrentCulture].ToString())
            {
                if (@item.Photography)
                {
                    <div class="col-md-3">
                        @Html.Raw(item.Aids);
                    </div>
                    <div class="col-md-9">

                        <a href=@item.Description>@StaticResource.Resources.LearnMore &raquo;</a>


                    </div>
                }
            }
        }

                    <h4 id="Question"><b><u>@StaticResource.Resources.Question</u></b></h4>
        <div class="row" style="padding: 30px;">
            @foreach (var item in Model)
            {
                if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == item.Language.Symbol)
                {
                    if (@item.Question)
                    {
                        <div class="form-group row">
                            @Html.DropDownListFor(modelItem => item.Id, ViewBag.Aide as SelectList, @StaticResource.Resources.Question, new { @onChange = "selectedText(this)" })
                        </div>
                        <form class="form-group row" action="@Url.Action("SearchQuestion", "Home")" method="post" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-default" style="width:95px; text-align:center;"> @StaticResource.Resources.Answer </button>
                            <input class="form-control" type="hidden" id="Search" name="search" readonly="readonly" />
                        </form>
                    }
                }
            }
        </div>
        <h4 id="Map"><b><u>@StaticResource.Resources.Maps</u></b></h4>
        <div class="row">
            @{Html.RenderAction("Map", "Home"); }
            <img style="width: 400px" id="imageCarte" src="" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function insertImage(imageCarte, ulr) {
        document.getElementById(imageCarte).src = ulr;
    }
    function selectedText(dropListItem) {
        var selectValue = dropListItem.value;
        var selectText = dropListItem.option[dropListItem.selectedIndex].innerHTML;
        $('#Search').val(selectText);
    }
</script>
