@{
    ViewBag.Title = @StaticResource.Resources.Collaboration;
}


<div class="content">

    <h2> @StaticResource.Resources.Collaboration </h2>
    <div class="autocontents">
        <p>
            <b> @StaticResource.Resources.SeeAlso : </b>
        </p>
        <ul>

            <li>@Html.ActionLink(StaticResource.Resources.AboutProject, "About", "Home")</li>
            <li>@Html.ActionLink(StaticResource.Resources.AboutUs, "AboutUs", "Home")</li>
            <li>@Html.ActionLink(StaticResource.Resources.Contact, "Contact", "Home")</li>
        </ul>

    </div>
    <div class="autocontents">
        <p>
            <b>@StaticResource.Resources.Collaboration </b>
        </p>

        <ul>
            <li>
                <h3 class="underline">BNF-Jérome</h3>
                <div class="row">
                    <div class="col-lg-9">
                        <p>
                            Project collaborator 2/2011-1/2017

                            Ph.D. (2010) in Linguistics, Leiden University

                            Edition of the texts of the London and Paris collections
                        </p>
                        <a href="~/Equipe/CV/CV1.docx">&diams; CV @StaticResource.Resources.And @StaticResource.Resources.Publications</a>
                        <br />
                        <a href="mailto:pierre.fr">&diams; @StaticResource.Resources.SendEmail       </a>
                    </div>
                    <div class="col-lg-3">
                        <img style="width:150px;" src="~/Equipe/Image/1.jpg" />
                    </div>
                </div>
            </li>
            <li>
                <h3 class="underline">ERC-Anne Michel</h3>
                <div class="row">
                    <div class="col-lg-9">
                        <p>
                            Project collaborator 2/2011-1/2017

                            Ph.D. (2010) in Linguistics, Leiden University

                            Edition of the texts of the London and Paris collections
                        </p>
                        <a href="~/Equipe/CV/CV2.docx">&diams; CV @StaticResource.Resources.And @StaticResource.Resources.Publications</a>
                        <br />
                        <a href="mailto:pierre.fr">&diams; @StaticResource.Resources.SendEmail       </a>
                    </div>
                    <div class="col-lg-3">
                        <img style="width:150px;" src="~/Equipe/Image/2.jpg" />
                    </div>
                </div>
            </li>
            <li>
                <h3 class="underline">Museum history-</h3>
                <div class="row">
                    <div class="col-lg-9">
                        <p>
                            Project collaborator 2/2011-1/2017

                            Ph.D. (2010) in Linguistics, Leiden University

                            Edition of the texts of the London and Paris collections
                        </p>
                        <a href="~/Equipe/CV/CV3.docx">&diams; CV @StaticResource.Resources.And @StaticResource.Resources.Publications</a>
                        <br />
                        <a href="mailto:pierre.fr">&diams; @StaticResource.Resources.SendEmail       </a>
                    </div>
                    <div class="col-lg-3">
                        <img style="width:150px;" src="~/Equipe/Image/3.jpg" />
                    </div>
                </div>
            </li>           
        </ul>
    </div>
</div>

