@model IEnumerable<Horizone.Models.Activity>

@{
    ViewBag.Title = @StaticResource.Resources.Conferences;
}

<h2>@StaticResource.Resources.Conferences - @StaticResource.Resources.Seminars</h2>

<table class="table">
    <tr>
         
        <th>
            @Html.DisplayNameFor(model => model.Topic.TopicEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofActivity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameActivity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @StaticResource.Resources.LearnMore
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Topic.TopicEn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofActivity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameActivity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <a href=@item.UlrActivity class="btn btn-info">@StaticResource.Resources.LearnMore &raquo;</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>

    </tr>
}

</table>
