@model Horizone.Models.TochStory

@{
    ViewBag.Title = @StaticResource.Resources.Details;
}

<div class="content">
    <div class="row">
        <div class="form-group col-md-10">
            <hr />
            <h4>
                @Html.DisplayNameFor(model => model.Name) : <strong> @Html.DisplayFor(model => model.Name) </strong>
            </h4>
        </div>
        <div class="form-group col-md-2">

            @Html.ActionLink(@StaticResource.Resources.Print, "PrintHistoire", "Home", new { id = Model.Id }, new { @class = "btn btn-info", style = "width:90px" })
            <span class="glyphicon glyphicon-print"></span>
        </div>
    </div>
    <dl class="dl-horizontal">


        @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "en")
        {
            <dt>
                @Html.DisplayNameFor(model => model.SourceStory.SourceEn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SourceStory.SourceEn)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ThemeStory.ThemeEn)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ThemeStory.ThemeEn)
            </dd>
        }
        @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "fr")
        {
            <dt>
                @Html.DisplayNameFor(model => model.SourceStory.SourceFr)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SourceStory.SourceFr)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ThemeStory.ThemeFr)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ThemeStory.ThemeFr)
            </dd>

        }
        @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "zh")
        {
            <dt>
                @Html.DisplayNameFor(model => model.SourceStory.SourceZh)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SourceStory.SourceZh)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ThemeStory.ThemeZn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ThemeStory.ThemeZn)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.PlasticRepresentation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlasticRepresentation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MainFindSpot)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MainFindSpot)
        </dd>
    </dl>
    <div class="autocontents">
        <h5 style="font-weight: bold">
            @Html.DisplayNameFor(model => model.Content) @StaticResource.Resources.Tocharian
        </h5>

        @Html.Raw(Model.Content)

    </div>
    <div class="autocontents">
        @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "en")
        {

            <h5 style="font-weight: bold">
                @StaticResource.Resources.Meaning    @Html.DisplayNameFor(model => model.English)
            </h5>

            @Html.Raw(Model.English)

        }
        @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "fr")
        {
            <h5 style="font-weight: bold">
                @StaticResource.Resources.Meaning @Html.DisplayNameFor(model => model.Francaise)
            </h5>

            @Html.Raw(Model.Francaise)

        }
        @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "zh")
        {
            <h5 style="font-weight: bold">
                @StaticResource.Resources.Meaning  @Html.DisplayNameFor(model => model.Chinese)
            </h5>


            @Html.DisplayFor(model => model.Chinese)
        }
    </div>

    <div>
        <h6 style="font-weight: bold">
            @Html.DisplayNameFor(model => model.Description)
        </h6>
        @Html.Raw(Model.Description)

    </div>
</div>
<p>
    @Html.ActionLink(StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-primary" })
</p>
