@{
    ViewBag.Title = StaticResource.Resources.Home;
}
<div class="container body-content">
    <!--Recherche-->
    <div id="search">
        <form class="form-group row" action="@Url.Action("Search", "FrontMamuscripts")" method="post" enctype="multipart/form-data">
            <div class="form-group col-md-2">
                <br />
                <button type="submit" class="btn btn-info bigBtn"> @StaticResource.Resources.Search </button>
            </div>
            <div class="form-group col-md-2">
                <label for="Topic">@StaticResource.Resources.Topic</label>
                <a> <input type="text" class="form-control" id="Word" name="Word" /> </a> <br />

            </div>

            <div class="form-group col-md-2">
                <label for="Date">@StaticResource.Resources.PublicationDate</label>
                <input class="form-control" type="number" id="Date" name="Date" />
            </div>

            <div class="form-group col-md-2">
                <label for="Manuscript">@StaticResource.Resources.Manuscript</label>
                <input class="form-control" type="text" id="Manuscript" name="search" />
            </div>

            

        </form>
    </div>
    <!--Information principal-->

    <div id="midheader-vp">        
        <div id="right">
            <!--information-->
            <h3>HISTOCHTEXT</h3>
            <p>Tocharian is the name given to two closely related languages, Tocharian A and Tocharian B, which form together a subgroup of the Indo-European family of languages. Their decipherment happened in 1908, not too long after significant discoveries of manuscripts in Buddhist sites of the Tarim Basin, on the northern range of the Taklamakan desert, in present-day Xinjiang (China). These Buddhist sites were located near major stages and oases of a part of the ancient Silk Road. They were centers of cult, teaching, pilgrimage, and last but not least, writing and copying of texts. The Tocharian manuscripts were discovered or purchased for the most part during the first two decades of the past century, and they are now kept by various libraries and museums, a majority in Europe (Berlin, London, Paris, St. Petersburg), and several ones in China and Japan (see the survey by Malzahn 2007a). One may distinguish three major centers of writing in the Tocharian area, from west to east: Kucha, Yanqi/Karašahr and Turfan.  Tocharian B manuscripts have been found on this whole northern road, Tocharian A manuscripts only in the intermediate area and in the east. The Pelliot collection, kept in the Bibliothèque nationale de France, Paris, is the second major collection of Tocharian manuscripts, by the number of pieces (around 2,000), after the one kept in the so-called “Turfansammlung” (Berlin, 4,074 THT items, in Tocharian A and Tocharian B). It contains a wide variety of texts,  both  literary  and  non-literary,  most  of  them  having  no  match  in  the  other  collections</p>

        </div>

        <div id="left">
            <hr/>

            <img class="GrandImage" src="~/Image/China_Tarim.jpg" />

        </div>
    </div>
    <div class="clear"></div>

    <!--Last News-->
    <div id="slide-vp">
        <h4>Latest News</h4>
        <div id="slide-left">

            <div id="slideleft-main">
                <h2 class="title"><a href="#">Tarim</a> </h2>
                <img src="~/Image/Central_Tian_Shan_mountains.jpg" /><br />

                <div class="des">
                    HisTochText aborde la culture bouddhiste.Le Tarim est un fleuve sans embouchure traversant le désert du Taklamakan dans le sud du Xinjiang, une des cinq régions autonomes de République populaire de Chine. Il forme le bassin du Tarim.

                    Avant l'utilisation massive des eaux du Tarim pour irriguer de
                </div>
                <p class="tlq"><a href="#">HisTochText aborde la culture bouddhiste</a></p>

            </div>
            <div id="slideleft-scroll">
                <!--Five last news-->

                <div class="content_scoller width_common">
                    <ul>
                        <li>
                            <div class="title_news">
                                <a href="#" class="txt_link"> HisTochText aborde la culture bouddhiste </a>
                            </div>
                        </li>
                        <li>
                            <div class="title_news">
                                <a href="#" class="txt_link"> HisTochText aborde la culture bouddhiste </a>
                            </div>
                        </li>
                        <li>
                            <div class="title_news">
                                <a href="#" class="txt_link"> HisTochText aborde la culture bouddhiste </a>
                            </div>
                        </li>
                        <li>
                            <div class="title_news">
                                <a href="#" class="txt_link"> HisTochText aborde la culture bouddhiste </a>
                            </div>
                        </li>
                        <li>
                            <div class="title_news">
                                <a href="#" class="txt_link"> HisTochText aborde la culture bouddhiste </a>
                            </div>
                        </li>

                    </ul>
                </div>
                <!--Logo Histochtech-->
                <div id="gocnhin">
                    <img class="moyenImage" alt="" src="~/Image/basin.jpg">
                    <div class="title_news"></div>
                </div>

            </div>
        </div>
        <!--Main-Right-->
        <div id="slide-right">
            @*{Html.RenderAction("Activity", "Home");}*@
            <h2> ACTIVITY </h2>
            <p> g n gh g ghn  h gtt rty -rya"r' eytj jhk dt et hj  s et yj kekgo q fg jqsjg </p>
            <img style="width:90px;height:90px;" src="~/Image/10.jpg" />
            <p> g n gh g ghn  h gtt rty -rya"r' eytj jhk dt et hj  s et yj kekgo q fg jqsjg </p>
            <img style="width:90px;height:90px;" src="~/Image/11.jpg" />
            <p> g n gh g ghn  h gtt rty -rya"r' eytj jhk dt et hj  s et yj kekgo q fg jqsjg </p>
            <img style="width:90px;height:90px;" src="~/Image/19.jpg" />
            <p> g n gh g ghn  h gtt rty -rya"r' eytj jhk dt et hj  s et yj kekgo q fg jqsjg </p>
            <img style="width:90px;height:90px;" src="~/Image/21.jpg" />
        </div>
  <!--Page content--> 

    <div id="content-vp">
        <!--Frequntly-->
        <div id="content-left">
            <div class="box-cat">
                <div class="cat">
                    <div class="main-cat">
                        <a href="#"> Seen frequently</a>
                    </div>

                    <div class="clear"></div>
                    <div class="cat-content">

                        <div class="col1">
                            <div class="news">
                                <img class="images_news" src="~/Image/imagesToch.jpg" />
                                <h4 class="title"><a href="#">Les langues tokhariennes</a><span class="hit">20</span></h4>
                                <div class="clear"></div>
                            </div>
                        </div>

                        <div class="col1">
                            <div class="news">
                                <img class="images_news" src="~/Image/images.jpg" />
                                <h4 class="title"><a href="#">Tocharian, also spelled Tokharian .</a><span class="hit">20</span></h4>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="news">
                                <img class="images_news" src="~/Image/Wfm_tarim_basin.jpg" />
                                <h4 class="title"><a href="#">Branch of the Indo-European language family.</a><span class="hit">20</span></h4>
                                <div class="clear"></div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!--Active-->
        <div id="content-main">

            <h2>PAGES ACTIVE</h2>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <!--Group of topic-->
        <div id="content-right">
            <div class="box-cat">
                <div class="cat">
                    <div class="main-cat">
                        <a href="#">Manuscript</a>
                    </div>

                    <div class="clear"></div>
                    <div class="cat-content">
                        <div class="col1">
                            <div class="news">
                                <h3 class="title"><a href="#"> Tocharian A </a></h3>
                                <img class="images_news" src="~/Image/Tocharian.jpg" align="left" />
                                <div class="des">hgjhjkjk </div>


                                <div class="clear"></div>

                            </div>
                        </div>
                        <div class="col2">
                            <h3 class="tlq"><a href="#">Tocharian B</a></h3>
                            <h3 class="tlq"><a href="#">Wooden Manuscript </a></h3>
                            <h3 class="tlq"><a href="#">Leaf</a></h3>

                        </div>

                    </div>

                </div>

            </div>
            <div class="clear"></div>
            <div class="box-cat">
                <div class="cat">
                    <div class="main-cat">
                        <a href="#">TochStoty</a>
                    </div>

                    <div class="clear"></div>
                    <div class="cat-content">
                        <div class="col1">
                            <div class="news">
                                <h3 class="title"><a href="#"> Story 1 </a></h3>
                                <img class="images_news" src="~/Image/tarim.jpg" />/" align="left" />
                                <div class="des">vf,jjjd j dfftt bdfg  </div>


                                <div class="clear"></div>

                            </div>
                        </div>
                        <div class="col2">
                            <h3 class="tlq"><a href="#">TochStory 2</a></h3>
                            <h3 class="tlq"><a href="#">TochStory 3</a></h3>
                            <h3 class="tlq"><a href="#">TochStory 4</a></h3>

                        </div>

                    </div>

                </div>

            </div>
            <div class="clear"></div>
        </div>

        <div class="clear"></div>

    </div>

   
    
    
    <div id="footer">
        <div class="row">

            <div class="col-md-4">
                <h4>Colaborator 1</h4>
                <img style="width:30px;height:30px;" src="~/Image/open-book.jpg" class="logo" />
                <p>CETOM</p>
                <p><a class="btn btn-default" href="https://www.univie.ac.at/tocharian/?A%2023">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h4>Colaborator 2</h4>
                <img style="width:30px;height:30px;" src="~/Image/th.jpg" class="logo" />
                <p> la Bibliothèque nationale de France</p>

                <p><a class="btn btn-default" href="https://gallica.bnf.fr/accueil/fr/content/accueil-fr?mode=desktop">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h4>Travail d'Equipes</h4>
                <img style="width:30px;height:30px;" src="~/Image/logo2.png" class="logo" />       <p>
                    EPHE - Paris
                </p>
                <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/jquery.datetimepicker.js"></script>
        <script>

            $(function () {
                $('#DepartureDate').datetimepicker({
                    lang: 'fr',
                    format: 'd/M/Y'
                });

                $('#DepartureDate').attr('autocomplete', 'off');

            });
        </script>
    }
