@{
    ViewBag.Title = StaticResource.Resources.Home;
}
<div class="container body-content">
    <!--Recherche-->
    <div id="search">
        <form class="form-group row" action="@Url.Action("Search", "FrontBibliographys")" method="post" enctype="multipart/form-data">
            <div class="form-group col-md-2">
                <br />
                <button type="submit" class="btn btn-info bigBtn"> @StaticResource.Resources.Search</button>
            </div>

            <div class="form-group col-md-4">
                <label for="search">@StaticResource.Resources.SearchWord </label>
                <input class="form-control" type="text" id="Search" name="search" />
            </div>
            <div>
                <p><strong>Insert:  </strong> </p>
                <a onclick="insertText('Search','ā');" href="#">ā  </a>
                <a onclick="insertText('Search','ä');" href="#">ä  </a>
                <a onclick="insertText('Search','ī');" href="#">ī  </a>
                <a onclick="insertText('Search','ö');" href="#">ö  </a>
                <a onclick="insertText('Search','ū');" href="#">ū  </a>
                <a onclick="insertText('Search','ü');" href="#">ü  </a>
                <a onclick="insertText('Search','ṅ');" href="#">ṅ  </a>
                <a onclick="insertText('Search','ñ');" href="#">ñ  </a>
                <a onclick="insertText('Search','ṃ');" href="#">ṃ  </a>
                <a onclick="insertText('Search','ś');" href="#">ś  </a>
                <a onclick="insertText('Search','ṣ');" href="#">ṣ  </a>
                <a onclick="insertText('Search','š');" href="#">š  </a>
                <a onclick="insertText('Search','ß');" href="#">ß  </a>
            </div>
        </form>
    </div>
    <!--Information principal-->

    <div id="midheader-vp">
        <div id="right">
            <!--Presenter le projet-->
            <h3> @StaticResource.Resources.Project HISTOCHTEXT</h3>
            @{Html.RenderAction("PresenteProject", "Home"); }
        </div>
        <div id="left">
            <hr />
            <img class="GrandImage" src="~/Image/21.jpg" />
        </div>
    </div>
    <div class="clear"></div>
    <!--Last News-->
    <div id="slide-vp">       
        <div id="slide-left">
            <div id="slideleft-main">                
                    @{Html.RenderAction("LatestNews", "FontNews"); }                
            </div>
            <div id="slideleft-scroll">
                <!--Frequntly-->
                <div class="content_scoller width_common">
                    <ul>
                        <li>
                            <div class="title_news">
                                @{Html.RenderAction("ListNews", "FontNews"); }
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Main-Right - ACTIVITE-->
        <div id="slide-right">
            <img style="width:90px;height:90px;" src="~/Image/15.jpg" />
            @{Html.RenderAction("PageActivity", "Home"); }
        </div>
        <!--Logo Histochtech-->
        <div id="gocnhin">
            <img class="moyenImage" alt="" src="~/Image/basin.jpg">
            <div class="title_news"></div>
        </div>
        <div id="slideleft-scroll">
            <div id="content-vp">
                <div class="box-cat">
                    <div class="cat">
                        <div class="content_scoller width_common">
                            <ul>
                                <li>
                                    <div class="main-cat">
                                        <a href="#" class="content-title">Manuscript</a>
                                        <br />
                                        <div class="clear"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Page Manuscript-->
    <div id="content-vp">
        <div class="box-cat">
            <div class="cat">
                <div id="slideleft-scroll">
                    <div class="content_scoller width_common">
                        <ul>
                            <li>
                                <div class="news">
                                    <h3 class="title"><a href="#"> Tocharian A </a></h3>
                                    <img class="images_news" src="~/Image/Tocharian.jpg" align="left" />
                                    <div class="des">hgjhjkjk </div>
                                </div>
                            </li>
                            <li>
                                <div class="news">
                                    <h3 class="title"><a href="#"> Tocharian B </a></h3>
                                    <img class="images_news" src="~/Image/Tocharian.jpg" align="left" />
                                    <div class="des">hgjhjkjk </div>
                                    <div class="clear"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Group of tochStory-->
    <div id="midheader-vp">
        <div id="content-vp">           
            <div class="clear"></div>
            <div class="cat">
                <div class="main-cat">
                    <a href="#">TochStory</a>
                </div>
                <div class="clear"></div>
                <div class="cat-content">
                    <div class="col-md-4">
                        <div class="news">
                            <h3 class="title"><a href="#"> Story 1 </a></h3>
                            <img class="images_news" src="~/Image/tarim.jpg" />/" align="left" />
                            <div class="des">vf,jjjd j dfftt bdfg  </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="news">
                            <h3 class="title"><a href="#"> Story 2 </a></h3>
                            <img class="images_news" src="~/Image/tarim.jpg" />/" align="left" />
                            <div class="des">vf,jjjd j dfftt bdfg  </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="news">
                            <h3 class="title"><a href="#"> Story 3 </a></h3>
                            <img class="images_news" src="~/Image/tarim.jpg" />/" align="left" />
                            <div class="des">vf,jjjd j dfftt bdfg  </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="footer">
        
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
   
    function insertText(elemID, text) {
        document.getElementById(elemID).value += text;       
    }
 </script>
}
