@model Horizone.Models.Map

@{
    ViewBag.Title = @StaticResource.Resources.Details;
}

<h2> @StaticResource.Resources.Maps @StaticResource.Resources.Details</h2>

<div>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            <img style="width: 500px" id="imageCarte" src="@Model.UlrMap" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UlrMap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UlrMap)
        </dd>

    </dl>
</div>
<p>   
    @Html.ActionLink(@StaticResource.Resources.Return, "Aide")
</p>
