@model IEnumerable<Horizone.Models.Activity>

@{
    ViewBag.Title = @StaticResource.Resources.Missions;
}

<h2> @StaticResource.Resources.Missions</h2>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-lg-2">
            <ul>
                <li>
                    <img class="moyenImage" alt="" src="~/Image/Activity/@item.Picture" />
                </li>
            </ul>

        </div>
        <div class="col-lg-8">
            <dl class="dl-horizontal">

                <dt>
                    @StaticResource.Resources.DateActivity

                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.DateofActivity)
                </dd>
                <dt>
                    @StaticResource.Resources.Place

                </dt>
                <dd>
                    @Html.Raw(item.Place)

                </dd>
                <dt>
                    @StaticResource.Resources.NameActivity
                </dt>

                <dd>
                    @Html.DisplayFor(modelItem => item.NameActivity)

                </dd>
                <dt>
                    @StaticResource.Resources.Description

                </dt>
                <dd>
                    @Html.Raw(item.Description)

                </dd>
                <dt>

                </dt>
                <dd>
                    <a href=@(item.UlrActivity) class="btn btn-info">  @StaticResource.Resources.LearnMore &raquo;</a>
                </dd>
            </dl>
        </div>
    </div>

}

