@model IEnumerable<Horizone.Models.News>

@{
    ViewBag.Title = "Nouvelles";
}

<h2>Nouvelles</h2>
<div id="search">
    <form class="form-group row" action="@Url.Action("Search", "FrontMamuscripts")" method="post" enctype="multipart/form-data">
        <div class="form-group col-md-2">
            <br />
            <button type="submit" class="btn btn-info bigBtn"> Rechercher</button>
        </div>
        <div class="form-group col-md-2">
            <label for="Topic">Topic:</label>
            <a> <input type="text" class="form-control" id="Word" name="Word" /> </a> <br />

        </div>

        <div class="form-group col-md-2">
            <label for="Date">Date Public:</label>
            <input class="form-control" type="number" id="Date" name="Date" />
        </div>

        <div class="form-group col-md-2">
            <label for="Manuscript">Title</label>
            <input class="form-control" type="text" id="Manuscript" name="search" />
        </div>

        

    </form>
</div>
<table class="table">
    <tr>
        <th>
            Posted by:
           
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic.NameFrench)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentEnglish)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.View)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Colaborateur.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic.NameFrench)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentEnglish)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.View)
            </td>
            
        </tr>
    }

</table>
