@model IEnumerable<Horizone.Models.Activity>

<h4 ><strong>    @StaticResource.Resources.Activity</strong> </h4>
@foreach (var item in Model)
{
    if (item.Language.Symbol == Session[Horizone.Common.CommonConstants.CurrentCulture].ToString())
    {       <img class="ActivityImage" alt="" src="~/Image/Activity/@item.Picture">
            <p>&diams; @Html.Raw(item.DateofActivity)| @Html.Raw(item.NameActivity)| @Html.Raw(item.Description)</p>
            <a href=@item.UlrActivity> @StaticResource.Resources.LearnMore  &raquo;</a>       
            <hr />
    }
}
