
@{
    ViewBag.Title = @StaticResource.Resources.Partner;
}
<h2> @StaticResource.Resources.Partner</h2>
<div class="autocontents">
    <p>
        <b> @StaticResource.Resources.SeeAlso : </b>
    </p>
    <ul>
        <li>@Html.ActionLink(StaticResource.Resources.AboutProject, "About", "Home")</li>
        <li>@Html.ActionLink(StaticResource.Resources.AboutUs, "AboutUs", "Home")</li>
        <li>@Html.ActionLink(StaticResource.Resources.AssociatedResearcher, "AssociatedResearcher", "Home")</li>
        <li>@Html.ActionLink(StaticResource.Resources.Collaboration, "Collaboration", "Home")</li>
        <li>@Html.ActionLink(StaticResource.Resources.RelationInternational, "RelationInternational", "Home")</li>
        <li>@Html.ActionLink(StaticResource.Resources.Contact, "Contact", "Home")</li>

    </ul>
</div>
<div class="autocontents">
    
    <h2> @StaticResource.Resources.Partner</h2>

    <div class="row">

        <div class="col-md-6">
            <h4> Universität Wien</h4>
            <img style="width:80px;height:60px;" src="~/Image/ưien.jfif" class="logo" />
            <p>CETOM</p>
            <p><a class="btn btn-default" href="https://www.univie.ac.at/tocharian/?A%2023">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h4>BnF</h4>
            <img style="width:80px;height:60px;" src="~/Image/BNF.jfif" class="logo" />
            <p> la Bibliothèque nationale de France</p>

            <p><a class="btn btn-default" href="https://gallica.bnf.fr/accueil/fr/content/accueil-fr?mode=desktop">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>BNHN</h4>
            <img style="width:80px;height:60px;" src="~/Image/BNHM.jfif" class="logo" />
            <p> Bibliothèque Centrale du Muséum national d'histoire naturelle</p>

            <p><a class="btn btn-default" href="https://www.mnhn.fr/fr/visitez/lieux/bibliotheques-museum">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h4>PARIS I</h4>
            <img style="width:80px;height:60px;" src="~/Image/pr1.jfif" class="logo" />
            <p> Université Paris I</p>

            <p><a class="btn btn-default" href="http://www.pantheonsorbonne.fr/accueil">Learn more &raquo;</a></p>
        </div>

    </div>
    </div>
