@model IEnumerable<Horizone.Models.ProperNoun>

@{
    ViewBag.Title = @StaticResource.Resources.ProperNoun;
}

<h3>@StaticResource.Resources.TochStory </h3>
 <h4>   @StaticResource.Resources.SearchBy @StaticResource.Resources.ProperNoun</h4>

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-4">
                <form class="form-group row" action="@Url.Action("SearchStory", "Home" )" method="post" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-default" style="width:95%; text-align:left;">  @Html.DisplayFor(modelItem => item.Name) </button>
                    <input class="form-control" type="hidden" id="Search" name="search" value="@item.Name"/>
                </form>
            </div>

        </div>
    }
