@model IEnumerable<Horizone.Models.PartnerAndRelation>
@{
    ViewBag.Title = @StaticResource.Resources.RelationInternational;
}
<h2> @StaticResource.Resources.RelationInternational</h2>
<div class="autocontents">
    <p>
        <b> @StaticResource.Resources.SeeAlso : </b>
    </p>
    <ul>
        <li>@Html.ActionLink(StaticResource.Resources.AboutProject, "About", "Home")</li>
        <li>@Html.ActionLink(StaticResource.Resources.AboutUs, "AboutUs", "Home")</li>
        <li>@Html.ActionLink(StaticResource.Resources.AssociatedResearcher, "AssociatedResearcher", "Home")</li>
        <li>@Html.ActionLink(StaticResource.Resources.Collaboration, "Collaboration", "Home")</li>
        <li>@Html.ActionLink(StaticResource.Resources.Partner, "Partner", "Home")</li>
        <li>@Html.ActionLink(StaticResource.Resources.Contact, "Contact", "Home")</li>
    </ul>
</div>
<div class="autocontents">
    <div class="row">
        @{Html.RenderAction("DecorRelation", "Home");}
    </div>
    <div class="row">

        @foreach (var item in Model)
        {
            if (item.Relation)
            {
                <div class="col-md-2">
                    <h4>  @Html.DisplayFor(modelItem => item.Name)</h4>
                    <p>
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>
                    <p><a class="btn btn-default" style="background-color: #A8A2CC;" href=@item.Link>@StaticResource.Resources.LearnMore &raquo;</a></p>
                </div>
            }
        }
    </div>
</div>
