
@{
    ViewBag.Title = @StaticResource.Resources.RelationInternational;
}
<h2> @StaticResource.Resources.RelationInternational</h2>
<div class="autocontents">
    <p>
        <b> @StaticResource.Resources.SeeAlso : </b>
    </p>
    <ul>
        <li>@Html.ActionLink(StaticResource.Resources.AboutProject, "About", "Home")</li>
        <li>@Html.ActionLink(StaticResource.Resources.AboutUs, "AboutUs", "Home")</li>
        <li>@Html.ActionLink(StaticResource.Resources.AssociatedResearcher, "AssociatedResearcher", "Home")</li>
        <li>@Html.ActionLink(StaticResource.Resources.Collaboration, "Collaboration", "Home")</li>
        <li>@Html.ActionLink(StaticResource.Resources.Partner, "Partner", "Home")</li>
        <li>@Html.ActionLink(StaticResource.Resources.Contact, "Contact", "Home")</li>

    </ul>
</div>
<div class="autocontents">
    <div class="row">

        <div class="col-md-4">
            <h4> Universität Wien</h4>
            <img style="width:80px;height:60px;" src="~/Image/ưien.jfif" class="logo" />
            <p>
                Comprehensive Edition of Tocharian Manuscripts (CEToM, Vienna)
            </p>
            <p><a class="btn btn-default" style="background-color: #A8A2CC;" href="https://www.univie.ac.at/tocharian/?A%2023">@StaticResource.Resources.LearnMore &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h4>Berlin-BBAW</h4>
            <img style="width:80px;height:60px;" src="~/Image/BBAW.jpg" class="logo" />
            <p> Berlin-Brandenburgische Akademie der Wissenschaften</p>

            <p><a class="btn btn-default" style="background-color: #A8A2CC;" href="http://www.bbaw.de/en/">@StaticResource.Resources.LearnMore &raquo;</a></p>
        </div>
    
        <div class="col-md-4">
            <h4>CSMC</h4>
            <img style="width:80px;height:60px;" src="~/Image/BNHM.jfif" class="logo" />
            <p> Centre for the Study of Manuscript Cultures - Warburgstr. 26, 20354 Hamburg</p>
            <p><a class="btn btn-default" style="background-color: #A8A2CC;" href="https://www.manuscript-cultures.uni-hamburg.de/">@StaticResource.Resources.LearnMore &raquo;</a></p>
        </div>        
    </div>
</div>
