@model IEnumerable<Horizone.Models.ThemeStory>

@{
    ViewBag.Title = @StaticResource.Resources.ThemeStory;
}

<h2>@StaticResource.Resources.ThemeStory</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ThemeEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThemeFr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThemeZn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ThemeEn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThemeFr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThemeZn)
        </td>
    </tr>
}

</table>
