@model IEnumerable<Horizone.Models.TochStory>

@{
    ViewBag.Title = "Toch Story";
}

<h2>Toch Story</h2>
<div id="search">
    <form class="form-group row" action="@Url.Action("Search", "FrontMamuscripts")" method="post" enctype="multipart/form-data">
        <div class="form-group col-md-2">
            <br />
            <button type="submit" class="btn btn-info bigBtn"> Rechercher</button>
        </div>
        <div class="form-group col-md-2">
            <label for="Topic">Topic:</label>
            <a> <input type="text" class="form-control" id="Word" name="Word" /> </a> <br />

        </div>

        <div class="form-group col-md-2">
            <label for="Date">Mot de recherche:</label>
            <input class="form-control" type="number" id="Date" name="Date" />
        </div>
        
    </form>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Topic
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentEnglish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentEnglish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentFrancaise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentChinese)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentVietnam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
           
        </tr>
    }

</table>
