@model IEnumerable<Horizone.Models.TochStory>

@{
    ViewBag.Title = ViewBag.Title = @StaticResource.Resources.TochStory;
}
<h2>@StaticResource.Resources.TochStory</h2>
<div class="autocontents">
    <p>
        <b> @StaticResource.Resources.Presentation @StaticResource.Resources.TochStory </b>
        @{Html.RenderAction("PresentationTochStory", "Home"); }

    </p>
</div>

<div id="search">

    <form class="form-group row" action="@Url.Action("Search", "Bibliographies")" method="post" enctype="multipart/form-data">

        <div class="form-group col-md-2">
            <br />
            <button type="submit" class="btn btn-info bigBtn"> @StaticResource.Resources.Search</button>
        </div>

        <div class="form-group col-md-4">
            <label for="search">@StaticResource.Resources.SearchWord </label>
            <input class="form-control" type="text" id="Search" name="search" />
        </div>
        <div class="form-group col-md-4">
            <p><strong>Insert:  </strong> </p>
            <a onclick="insertText('Search','ā');" href="#">ā  </a>
            <a onclick="insertText('Search','ä');" href="#">ä  </a>
            <a onclick="insertText('Search','ī');" href="#">ī  </a>
            <a onclick="insertText('Search','ö');" href="#">ö  </a>
            <a onclick="insertText('Search','ū');" href="#">ū  </a>
            <a onclick="insertText('Search','ü');" href="#">ü  </a>
            <a onclick="insertText('Search','ṅ');" href="#">ṅ  </a>
            <a onclick="insertText('Search','ñ');" href="#">ñ  </a>
            <a onclick="insertText('Search','ṇ');" href="#"> ṇ  </a>

            <a onclick="insertText('Search','ṃ');" href="#">ṃ  </a>
            <a onclick="insertText('Search','ś');" href="#">ś  </a>
            <a onclick="insertText('Search','ṣ');" href="#">ṣ  </a>
            <a onclick="insertText('Search','ṛ');" href="#"> ṛ  </a>
            <a onclick="insertText('Search','ṭ');" href="#"> ṭ  </a>
            <a onclick="insertText('Search','š');" href="#">š  </a>
            <a onclick="insertText('Search','ß');" href="#">ß  </a>
        </div>
        <div class="form-group col-md-2">
            @Html.ActionLink(@StaticResource.Resources.Print, "PrintHistoire", "Home", new { @class = "btn btn-info", style = "width:90px" })
            @*(Bo Layout) @Html.ActionLink(@StaticResource.Resources.Print, "PrintHistoire", "Home", new { @class = "btn btn-info", style = "width:90px" },new { onclick= "popitup(this.value);"})*@
        </div>
    </form>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SourceStory.Source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThemeStory.ThemeEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlasticRepresentation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainFindSpot)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SourceStory.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThemeStory.ThemeEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlasticRepresentation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainFindSpot)
            </td>
            
            <td>
                @Html.ActionLink(@StaticResource.Resources.Details, "DetailsStory", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        }
    </script>
    <script>
        function popitup(a) {
            window.open(a,
                'open_window',
                'menubar=no, toolbar=no, location=no, directories=no, status=no, scrollbars=no, resizable=no, dependent, width=800, height=620, left=0, top=0');
        }
    </script>
}
