@model IEnumerable<Horizone.Models.TochPhrase>

@{
    ViewBag.Title = "Toch Phrase";
}

<h2>Tochphrase</h2>

<div id="search">
    <form class="form-group row" action="@Url.Action("Search", "FrontMamuscripts")" method="post" enctype="multipart/form-data">
        <div class="form-group col-md-2">
            <br />
            <button type="submit" class="btn btn-info bigBtn"> Rechercher</button>
        </div>
        <div class="form-group col-md-2">
            <label for="Topic">Mot de recherche :</label>
            <a> <input type="text" class="form-control" id="Word" name="Word" /> </a> <br />

        </div>

        <div class="form-group col-md-2">
            <label for="Date">Index :</label>
            <input class="form-control" type="number" id="Date" name="Date" />
        </div>
       
    </form>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Index)
        </th>
        <th>
            Phrase
        </th>
        <th>
            Translate into English
        </th>       
       <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Index)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.English)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
        </tr>
    }

</table>
