@model IEnumerable<Horizone.Models.Transcription>

@{
    ViewBag.Title = "Word";
}

<h2>Word</h2>
<div id="search">
    <form class="form-group row" action="@Url.Action("Search", "FrontMamuscripts")" method="post" enctype="multipart/form-data">
        <div class="form-group col-md-2">
            <br />
            <button type="submit" class="btn btn-info bigBtn"> Rechercher</button>
        </div>
        <div class="form-group col-md-2">
            <label for="Topic">Mot de recherche</label>
            <a> <input type="text" class="form-control" id="Word" name="Word" /> </a> <br />

        </div>

        <div class="form-group col-md-2">
            <label for="Date">Index manuscript:</label>
            <input class="form-control" type="number" id="Date" name="Date" />
        </div>

        <div class="form-group col-md-2">
            <label for="Manuscript">Topic:</label>
            <input class="form-control" type="text" id="Manuscript" name="search" />
        </div>



    </form>
</div>
<table class="table">
    <tr>
        <th>
            Word
        </th>
        <th>
            TochPhrase
        </th>
        <th>
            TochStory
        </th>
        <th>
            Manuscript
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manuscript.Index)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TochPhrase.Index)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TochStory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            
        </tr>
    }

</table>
