@model Horizone.Models.ScriptAdd

@{
    ViewBag.Title = @StaticResource.Resources.Delete;
}

<h2> @StaticResource.Resources.Delete</h2>

<h3 class="text-danger"> @StaticResource.Resources.AskDelete</h3>

<div>
    <h4>@StaticResource.Resources.ScriptAdd</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ScriptAddEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScriptAddEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScriptAddFr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScriptAddFr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScriptAddZh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScriptAddZh)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink(@StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
