@model Horizone.Models.Presentation
@{
    ViewBag.Title = @StaticResource.Resources.Details;
}
<h2>@StaticResource.Resources.Details</h2>

<div>
    <h4>@StaticResource.Resources.Presentation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Language.Symbol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language.Symbol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AboutUs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutUs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TochPhrase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TochPhrase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TochStory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TochStory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manuscript)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manuscript)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bibliography)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bibliography)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DictionaryTocharian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictionaryTocharian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisualAids)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisualAids)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(StaticResource.Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
    @Html.ActionLink(StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-primary" })
</p>