@model Horizone.Models.FiberDirection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FiberDirection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DirectionEn) @StaticResource.Resources.English
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectionEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectionFr) @StaticResource.Resources.French
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectionFr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectionZh) @StaticResource.Resources.Chinese
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectionZh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
