@model Horizone.Models.FiberDirection

@{
    ViewBag.Title = @StaticResource.Resources.Details;
}

<h2>@StaticResource.Resources.Details</h2>


<div>
    <h4>@StaticResource.Resources.FiberDirection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DirectionEn) @StaticResource.Resources.English
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectionEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectionFr) @StaticResource.Resources.French
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectionFr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectionZh) @StaticResource.Resources.Chinese
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectionZh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(StaticResource.Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
    @Html.ActionLink(StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-primary" })
</p>
