@model IEnumerable<Horizone.Models.FiberDirection>
@{
    ViewBag.Title = @StaticResource.Resources.FiberDirection;
}

<h2>@StaticResource.Resources.FiberDirection</h2>

<p>
    @Html.ActionLink(@StaticResource.Resources.Add, "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DirectionEn) @StaticResource.Resources.English
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DirectionFr) @StaticResource.Resources.French
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DirectionZh) @StaticResource.Resources.Chinese
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DirectionEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectionFr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectionZh)
            </td>
            <td>
                @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
                 @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
            </td>
        </tr>
    }

</table>
