@model PagedList.IPagedList<Horizone.Models.Bibliography>
@using PagedList.Mvc;

@{
    ViewBag.Title = @StaticResource.Resources.Bibliography;
}

<div id="search">
    <form class="form-group row" action="@Url.Action("Search", "FontBibliographies")" method="post" enctype="multipart/form-data">
        <div class="form-group col-md-2">
            <br />
            <button type="submit" class="btn btn-info bigBtn"> @StaticResource.Resources.Search </button>
        </div>

        <div class="form-group col-md-4">
            <label for="Title"> @StaticResource.Resources.SearchWord </label>
            <input class="form-control" type="text" id="Search" name="search" />
        </div>


        <div class="form-group col-md-4">
            <p><strong>Insert:  </strong> </p>
            <a onclick="insertText('Search','ā');" href="#" style="background-color: blanchedalmond; padding:5px"> ā  </a><a> </a>             
            <a onclick="insertText('Search','ä');" href="#" style="background-color: blanchedalmond; padding:5px"> ä  </a>
            <a onclick="insertText('Search','ī');" href="#" style="background-color: blanchedalmond; padding:5px"> ī  </a>
            <a onclick="insertText('Search','ö');" href="#" style="background-color: blanchedalmond; padding:5px"> ö  </a>
            <a onclick="insertText('Search','ū');" href="#" style="background-color: blanchedalmond; padding:5px"> ū  </a>
            <a onclick="insertText('Search','ü');" href="#" style="background-color: blanchedalmond; padding:5px"> ü  </a>
            <a onclick="insertText('Search','ṅ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṅ  </a>
            <a onclick="insertText('Search','ñ');" href="#" style="background-color: blanchedalmond; padding:5px"> ñ  </a>
            <a onclick="insertText('Search','ṃ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṃ  </a>
            <a onclick="insertText('Search','ś');" href="#" style="background-color: blanchedalmond; padding:5px"> ś  </a>
            <a onclick="insertText('Search','ṣ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṣ  </a>
            <a onclick="insertText('Search','š');" href="#" style="background-color: blanchedalmond; padding:5px"> š  </a>
            <a onclick="insertText('Search','ß');" href="#" style="background-color: blanchedalmond; padding:5px"> ß  </a>
        </div>
        <div class="form-group col-md-2">
            @Html.ActionLink(@StaticResource.Resources.Print, "Print", "FontBibliographies", new { @class = "btn btn-info", style = "width:90px" })
        </div>
    </form>
</div>

<h2>@StaticResource.Resources.Bibliography</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <a href=@item.UlrBibliography>@Html.DisplayFor(modelItem => item.Author) - @Html.DisplayFor(modelItem => item.PublicationDate)</a>
        </li>
        <li>
            @Html.DisplayFor(modelItem => item.Author) - @Html.DisplayFor(modelItem => item.PublicationDate) -  @Html.Raw(item.Title) -  @Html.Raw(item.Title) -  @Html.DisplayFor(modelItem => item.Journal)
        </li>
    }
</ul>

@Html.PagedListPager(Model, page => Url.Action("bibliographie", new { page }))
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        }
    </script>
}

