@model IEnumerable<Horizone.Models.Abreviation>

@{
    ViewBag.Title = "SearchAbreviation";
}

<h2>@StaticResource.Resources.SearchResult</h2>
@Model.Count() @StaticResource.Resources.SearchResult <b> " @ViewBag.Search " </b> @StaticResource.Resources.Found
<br />
<p>
    @Html.ActionLink(StaticResource.Resources.Return, "Abbreviation", null, new { @class = "btn btn-primary", style = "width:85px" })
</p>
<br/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Symbol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Raw(item.Symbol)
            </td>
            <td>
                @Html.Raw(item.Description)
            </td>
        </tr>
    }

</table>
