@model ICollection<Horizone.Models.Bibliography>

@{
    ViewBag.Title = @StaticResource.Resources.Search;
}

<h2>@StaticResource.Resources.SearchResult</h2>
@Model.Count() @StaticResource.Resources.SearchResult <b> " @ViewBag.Search " </b> @StaticResource.Resources.Found
<br/>
<p>
    @Html.ActionLink(StaticResource.Resources.Return, "Bibliographie", null, new { @class = "btn btn-primary", style = "width:85px" })
</p>

    <div class="bibliography row">
        <table class="table">
            <tr>
                <th>
                    @StaticResource.Resources.Author
                </th>
                <th>
                    @StaticResource.Resources.PublicationDate
                </th>
                <th>
                    @StaticResource.Resources.TitleArticle
                </th>
                <th>
                    @StaticResource.Resources.Newspaper
                </th>
                <th>
                    @StaticResource.Resources.Link
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublicationDate)
                    </td>
                    <td>
                        @Html.Raw(item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Journal)
                    </td>
                    <td>
                        <a href=@item.UlrBibliography class="btn btn-info">@StaticResource.Resources.LearnMore &raquo;</a>
                    </td>
                </tr>
            }
        </table>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
