@model PagedList.IPagedList<Horizone.Models.Manuscript>
@using PagedList.Mvc;
@{
    ViewBag.Title = @StaticResource.Resources.Manuscript;
}

<h2> @StaticResource.Resources.Manuscript</h2>
<div class="autocontents">
    <p>
        <b> @StaticResource.Resources.Presentation @StaticResource.Resources.Manuscript </b>
        @{Html.RenderAction("PresentationManuscript", "Home"); }
    </p>
</div>
<div id="search">

    <form class="form-group row" action="@Url.Action("Search", "FontManuscripts")" method="post" enctype="multipart/form-data">

        <div class="form-group col-md-2">
            <br />
            <button type="submit" class="btn btn-default bigBtn" style="background-color: #A8A2CC;"> <span class="glyphicon glyphicon-search"></span> @StaticResource.Resources.Search</button>
        </div>

        <div class="form-group col-md-2">
            <label for="search">@StaticResource.Resources.SearchWord </label>
            <input class="form-control" type="text" id="Search" name="search" />
        </div>
        <div class="form-group col-md-6">
            @{Html.RenderAction("SpecialCharacter", "Home"); }

        </div>
        <div class="form-group col-md-2">
            <a href="@Url.Action("PrintIndex", "FontManuscripts")" class="btn btn-default" style="background-color: #A8A2CC;">
                <span class="glyphicon glyphicon-print" ></span> @StaticResource.Resources.Print
            </a>

            @*(Bo Layout) @Html.ActionLink(@StaticResource.Resources.Print, "PrintHistoire", "Home", new { @class = "btn btn-info", style = "width:90px" },new { onclick= "popitup(this.value);"})*@
        </div>
    </form>
</div>

<table class="table">
    <tr>
        <th>
            @StaticResource.Resources.Manuscript
        </th>
        <th>
            @StaticResource.Resources.OtherSiglum
        </th>
        <th>
            @StaticResource.Resources.Language
        </th>
        <th>
            @StaticResource.Resources.LeafNumber
        </th>
        <th>
            @StaticResource.Resources.NumberOfLine
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Index)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherSiglum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TochLanguage.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeafNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfLine)
            </td>

            <td>
                @Html.ActionLink(@StaticResource.Resources.Details, "Details", new { id = item.Id }, new { @class = "btn btn-info", style = "width:90px" })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("index", new { page }))
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        }
    </script>
}
