@model PagedList.IPagedList<Horizone.Models.Manuscript>
@using PagedList.Mvc;
@{
    ViewBag.Title = @StaticResource.Resources.Manuscript;
}

<h2> @StaticResource.Resources.Manuscript</h2>
<div class="autocontents">
    <p>
        <b> @StaticResource.Resources.Presentation @StaticResource.Resources.Manuscript </b>
        @{Html.RenderAction("PresentationManuscript", "Home"); }
    </p>
</div>
<div id="search">

    <form class="form-group row" action="@Url.Action("Search", "FontManuscripts")" method="post" enctype="multipart/form-data">

        <div class="form-group col-md-2">
            <br />
            <button type="submit" class="btn btn-default bigBtn" style="background-color: #A8A2CC;"> <span class="glyphicon glyphicon-search"></span> @StaticResource.Resources.Search</button>
        </div>

        <div class="form-group col-md-2">
            <label for="search">@StaticResource.Resources.SearchWord </label>
            <input class="form-control" type="text" id="Search" name="search" />
        </div>
        <div class="form-group col-md-6">
            @{Html.RenderAction("SpecialCharacter", "Home"); }

        </div>
        <div class="form-group col-md-2">
            <a href="@Url.Action("PrintIndex", "FontManuscripts")" class="btn btn-default" style="background-color: #A8A2CC;">
                <span class="glyphicon glyphicon-print"></span> @StaticResource.Resources.Print
            </a>

            @*(Bo Layout) @Html.ActionLink(@StaticResource.Resources.Print, "PrintHistoire", "Home", new { @class = "btn btn-info", style = "width:90px" },new { onclick= "popitup(this.value);"})*@
        </div>
    </form>
</div>


<div class="row">
    <div class="col-md-2">
        @StaticResource.Resources.Manuscript
    </div>
    <div class="col-md-3">
        @StaticResource.Resources.OtherSiglum
    </div>
    <div class="col-md-2">
        @StaticResource.Resources.Language
    </div>
    <div class="col-md-2">
        @StaticResource.Resources.Source
    </div>
</div>
@foreach (var item in Model)
{
    <div class="row">
        <div div class="col-md-2">
            @if (item.NumberOfLine != 0)
            {
                <a href="@Url.Action("Details", "FontManuscripts", new { id = item.Id })">&diams; @item.Index </a>
            }
            else
            {
                var newIndex = "";
                for (var i = 0; i < item.Index.Length; i++)
                {
                    if (item.Index.Substring(i, 1) != " ")
                    {
                        newIndex += item.Index.Substring(i, 1).ToLower();                        
                    }
                }
                var ulrManuscript = "https://www.univie.ac.at/tocharian/?m-" + newIndex;
                <a href="@ulrManuscript">&diams; @item.Index</a>
            }
        </div>
        <div div class="col-md-3">
            @Html.DisplayFor(modelItem => item.OtherSiglum)
        </div>
        <div div class="col-md-2">
            @Html.DisplayFor(modelItem => item.TochLanguage.Language)
        </div>
        <div div class="col-md-2">
            @if (item.NumberOfLine != 0)
            {
            <p> HisTochText </p>
            }
            else
            {
            <p>Cetom</p>
            }
        </div>
    </div>

}

@Html.PagedListPager(Model, page => Url.Action("index", new { page }))
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        }
    </script>
}
