@model Horizone.Models.Manuscript

@{
    ViewBag.Title = @StaticResource.Resources.OverallDescription;
}

<h2>@StaticResource.Resources.OverallDescription</h2>
<div>
    <h4>@StaticResource.Resources.Details</h4>
    <hr />
    <div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Index)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Index)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Collection)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Collection)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Siglum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Siglum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Joint)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Joint)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OtherSiglum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OtherSiglum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ExpeditionCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ExpeditionCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MapId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Map.NamePicture)  &#8594;
                <a onclick="insertImage('imageCarte','https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Tarimbecken_3._Jahrhundert.png/1200px-Tarimbecken_3._Jahrhundert.png');">@StaticResource.Resources.SeeAlso @StaticResource.Resources.Maps</a>

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SpecificFindSpot)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SpecificFindSpot)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.State.StateEn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.State.StateEn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DescriptionManuscript.DescriptionEn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DescriptionManuscript.DescriptionEn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RemarkAdd.RemarkEn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RemarkAdd.RemarkEn)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LeafNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LeafNumber)
            </dd>

        </dl>
    </div>


    <div class="col-md-6">
        <img style="width: 600px" id="imageCarte" src="" />
    </div>
   </div>
</div>
<p>
    @Html.ActionLink(StaticResource.Resources.Return, "Details", new { id = Model.Id }, new { @class = "btn btn-primary" })
</p>

    <script>
        function insertImage(imageCarte,ulr) {
            document.getElementById(imageCarte).src = ulr;
        }
    </script>
    