@model Horizone.Models.TextContent

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3 class="text-danger">Are you sure you want to delete this?</h3>
<div>
    <h4>TextContent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TitleOfTheWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleOfTheWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextGenre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextGenre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextSubgenre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextSubgenre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerseProse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerseProse)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
