@model Horizone.Models.RulingDetail

@{
    ViewBag.Title = @StaticResource.Resources.Delete;
}

<h2> @StaticResource.Resources.Delete</h2>

<h3 class="text-danger"> @StaticResource.Resources.AskDelete</h3>

<div>
    <h4> @StaticResource.Resources.RulingDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RulingDetailEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RulingDetailEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RulingDetailFr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RulingDetailFr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RulingDetailZh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RulingDetailZh)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink(@StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-default" })
    </div>
    }
</div>
