@model IEnumerable<Horizone.Models.RulingDetail>

@{
    ViewBag.Title = @StaticResource.Resources.RulingDetail;
}

<h2>@StaticResource.Resources.RulingDetail</h2>

<p>
    @Html.ActionLink(@StaticResource.Resources.Add, "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RulingDetailEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RulingDetailFr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RulingDetailZh)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RulingDetailEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RulingDetailFr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RulingDetailZh)
            </td>
            <td>
                @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
                @Html.ActionLink(@StaticResource.Resources.Details, "Details", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
                @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
            </td>
        </tr>
    }

</table>
