@model Horizone.Models.ManufaturingDefect

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ManufaturingDefect</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ManufaturingDefectEn) @StaticResource.Resources.English
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufaturingDefectEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManufaturingDefectFr)  @StaticResource.Resources.French
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufaturingDefectFr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManufaturingDefectZh) @StaticResource.Resources.Chinese
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufaturingDefectZh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
