
@{
    ViewBag.Title = @StaticResource.Resources.Add;
}

<h2>@StaticResource.Resources.Add  @StaticResource.Resources.Words </h2>
<h4>@StaticResource.Resources.Choose @StaticResource.Resources.WordClass</h4>
<div class="row">
    <div class="col-md-3">
        <a href="@Url.Action("Create", "NounAdjectives")" , class="btn btn-info" style="background-color:  #A8A2CC;width:185px"> @StaticResource.Resources.Add @StaticResource.Resources.Noun @StaticResource.Resources.And @StaticResource.Resources.Adjective</a>
    </div>
    <div class="col-md-3">
        <a href="@Url.Action("Create", "Pronouns")" , class="btn btn-info" style="background-color:  #A8A2CC; width:185px"> @StaticResource.Resources.Add @StaticResource.Resources.Pronoun </a>
    </div>
    <div class="col-md-3">
        <a href="@Url.Action("Create", "Verbs")" , class="btn btn-info" style="background-color:  #A8A2CC; width:185px"> @StaticResource.Resources.Add @StaticResource.Resources.Verb </a>
    </div>

    <div class="col-md-3">
        <a href="@Url.Action("Create", "Otherwords")" , class="btn btn-info" style="background-color:  #A8A2CC; width:185px"> @StaticResource.Resources.Add @StaticResource.Resources.OtherWords </a>
    </div>

</div>


