@model PagedList.IPagedList<Horizone.Models.DictionaryTocharian>
@using PagedList.Mvc;
@{
    ViewBag.Title = @StaticResource.Resources.DictionaryTocharian;
}

<h2>@StaticResource.Resources.DictionaryTocharian </h2>
<div class="autocontents">
    <p>
        <b> @StaticResource.Resources.Presentation @StaticResource.Resources.DictionaryTocharian </b>
        @{Html.RenderAction("PresentationDictionaryTocharian", "DashBoards"); }
    </p>
</div>


<div id="search">
    <form class="form-group row" action="@Url.Action("SearchWord", "DashBoards")" method="post" enctype="multipart/form-data">
        <div>
            @{Html.RenderAction("SearchForm", "DashBoards"); }
        </div>
    </form>

</div>
<p>
    @Html.ActionLink(@StaticResource.Resources.Add, "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>

        <th>
            @StaticResource.Resources.Tocharian
        </th>
        <th>
            @StaticResource.Resources.Language
        </th>
        <th>
            @StaticResource.Resources.Sanskrit
        </th>

        <th>
            @StaticResource.Resources.English
        </th>
        <th>
            @StaticResource.Resources.French
        </th>
        <th>
            @StaticResource.Resources.German
        </th>
        <th>
            @StaticResource.Resources.Latin
        </th>
        <th>
            @StaticResource.Resources.Chinese
        </th>
        <th>
            @StaticResource.Resources.WordClass
        </th>
        <th>
            @StaticResource.Resources.WordSubClass
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.Word)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TochLanguage.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sanskrit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.English)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Francaise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.German)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chinese)
            </td>
            @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "en")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.WordClass.ClassEn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WordSubClass.SubClassEn)
                </td>

            }
            @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "fr")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.WordClass.ClassFr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WordSubClass.SubClassFr)
                </td>

            }
            @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "zh")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.WordClass.ClassZh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WordSubClass.SubClassZh)
                </td>

            }
                <td>
                    @if (item.IdClassSource == 1)
                    {
                        if (item.TochLanguage.Language == "TA")
                        {
                            var ulr = "https://www.univie.ac.at/tocharian/?E_A_" + item.Word;
                            <a href="@ulr"> @StaticResource.Resources.Details </a>

                        }
                        if (item.TochLanguage.Language == "TB")
                        {
                            var ulr = "https://www.univie.ac.at/tocharian/?E_B_" + item.Word;

                            <a href="@ulr"> @StaticResource.Resources.Details </a>
                        }
                    }
                    else
                    {
                        @Html.ActionLink(@StaticResource.Resources.Details, "Details", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
                    }
                    @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
                </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        }
    </script>
}
