@model IEnumerable<Horizone.Models.ReverseDictionary>

@{
    ViewBag.Title = @StaticResource.Resources.ReverseDictionary;
}

<h2>@StaticResource.Resources.ReverseDictionary</h2>

@if (@Model.Count() == 0)
{
    <h3 class="text-danger"> @StaticResource.Resources.NoReverse </h3>
    <h4 style="color: blueviolet">@ViewBag.Word 	&harr; @StaticResource.Resources.Reverse : @ViewBag.Reverse </h4>
    <h3>@StaticResource.Resources.AskAdd  </h3>
    @Html.ActionLink(StaticResource.Resources.Add, "AddReverse", new { id = @ViewBag.Id }, new { @class = "btn btn-default", style = "width:85px" })

}
@if (@Model.Count() != 0)
{
    foreach (var item in Model)
    {
        <dl class="dl-horizontal">

            <dt>
                @StaticResource.Resources.Reverse
            </dt>
            <dd>
                <form class="form-group row" action="@Url.Action("SearchWord", "DashBoards")" method="post" enctype="multipart/form-data">
                    <div class="form-group col-md-2">
                        <button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-search"></span> @ViewBag.Reverse  </button>
                        <input class="form-control" type="hidden" id="Search" name="search" value=@ViewBag.Reverse />
                    </div>
                </form>
            </dd>

        </dl>

    }

}
<p>
    @Html.ActionLink(StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-primary", style = "width:85px" })
</p>
