@model Horizone.Models.AboutProject

@{
    ViewBag.Title = @StaticResource.Resources.Delete;
}

<h2> @StaticResource.Resources.Delete</h2>

<h3 class="text-danger"> @StaticResource.Resources.AskDelete</h3>
<div>
    <h4> @StaticResource.Resources.AboutProject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Language.Symbol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language.Symbol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Programing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Programing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Feedback)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Feedback)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@StaticResource.Resources.Delete class="btn btn-danger" /> |
            @Html.ActionLink(@StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
