@model IEnumerable<Horizone.Models.OtherWord>

@{
    ViewBag.Title = @StaticResource.Resources.DictionaryTocharian;
}

<h2>@StaticResource.Resources.DictionaryTocharian - @StaticResource.Resources.Adverb</h2>

<div id="search">
    <form class="form-group row" action="@Url.Action("SearchWord", "DashBoards")" method="post" enctype="multipart/form-data">
        <div>
            @{Html.RenderAction("SearchForm", "Dashboards"); }
        </div>
    </form>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.TochLanguage.Language)
        </th>
        <th>
            @StaticResource.Resources.Tocharian
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.Sanskrit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.English)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.Francaise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.German)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.Latin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.Chinese)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.WordClass.Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DictionaryTocharian.WordSubClass.SubClass)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        if ((item.DictionaryTocharian.WordClass.ClassEn == "Adverb") || (item.DictionaryTocharian.WordSubClass.SubClassEn == "Adverb"))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DictionaryTocharian.TochLanguage.Language)
                </td>
                <td>
                    <a href="@Url.Action("Details","OtherWords", new { id = item.Id })">&diams;  @item.DictionaryTocharian.Word </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DictionaryTocharian.Sanskrit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DictionaryTocharian.English)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DictionaryTocharian.Francaise)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DictionaryTocharian.German)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DictionaryTocharian.Latin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DictionaryTocharian.Chinese)
                </td>
                @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "en")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.DictionaryTocharian.WordClass.ClassEn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DictionaryTocharian.WordSubClass.SubClassEn)
                    </td>
                }
                @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "fr")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.DictionaryTocharian.WordClass.ClassFr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DictionaryTocharian.WordSubClass.SubClassFr)
                    </td>
                }
                @if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "zh")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.DictionaryTocharian.WordClass.ClassZh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DictionaryTocharian.WordSubClass.SubClassZh)
                    </td>
                }
                    <td>
                        @Html.ActionLink(@StaticResource.Resources.Details, "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                        <a href="@Url.Action("Edit","DictionaryTocharians",new { id = item.DictionaryId })" class="btn btn-info" , style="width:85px">@StaticResource.Resources.Edit</a>
                        @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })

                    </td>
            </tr>
        }
    }
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        }
    </script>
}
