@model IEnumerable<Horizone.Models.RulingColor>

@{
    ViewBag.Title = @StaticResource.Resources.RulingColor;
}

<h2>@StaticResource.Resources.RulingColor</h2>

<p>
    @Html.ActionLink(@StaticResource.Resources.Add, "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RulingColorEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RulingColorFr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RulingColorZh)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RulingColorEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RulingColorFr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RulingColorZh)
            </td>
            <td>
                @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
                @Html.ActionLink(@StaticResource.Resources.Details, "Details", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
                @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
            </td>
        </tr>
    }

</table>
