@model Horizone.Models.Manuscript

@{
    ViewBag.Title = @StaticResource.Resources.Delete;
}

<h2> @StaticResource.Resources.Delete</h2>

<h3 class="text-danger"> @StaticResource.Resources.AskDelete</h3>

<div>
    <h4>@StaticResource.Resources.Manuscript</h4>
    <hr />
    <dl class="dl-horizontal">
   
        <dt>
            @Html.DisplayNameFor(model => model.DescriptionManuscript.DescriptionEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionManuscript.DescriptionEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenderManuscript.NameGenderEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenderManuscript.NameGenderEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TochLanguage.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TochLanguage.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Index)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Index)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfLine)
        </dd>
  
        <dt>
            @Html.DisplayNameFor(model => model.English)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.English)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@StaticResource.Resources.Delete class="btn btn-danger" /> |
            @Html.ActionLink(@StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
