@model Horizone.Models.Manuscript

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3 class="text-danger">Are you sure you want to delete this?</h3>
<div>
    <h4>Manuscript</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ObjectManuscript.Manuscript)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectManuscript.Manuscript)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provenience.MainFindSpot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provenience.MainFindSpot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextContent.TitleOfTheWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextContent.TitleOfTheWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Index)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Index)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Script)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Script)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repository)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repository)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shelfmark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shelfmark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TranslateEnglish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TranslateEnglish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TranslateFrench)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TranslateFrench)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TranslateChinese)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TranslateChinese)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Editor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Editor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bibliography)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bibliography)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
