@model Horizone.Models.Manuscript
@{
    ViewBag.Title = @StaticResource.Resources.Details;
}

<h2> @StaticResource.Resources.Details</h2>
<div>
    <h4> @StaticResource.Resources.Manuscript</h4>
    <hr />
    <div class="autocontents">
        <ul>
            <li>
                <h4> @Html.DisplayNameFor(model => model.Index)</h4>
            </li>
            <li>
                @Html.DisplayFor(model => model.Index)
            </li>
        </ul>
        <p>
            <h4> @StaticResource.Resources.SeeAlso : </h4>
        </p>
        <ul>

            <li><a href="@Url.Action("LayoutManuscripts","Manuscripts",new { id = Model.Id})">@StaticResource.Resources.LayoutManuscript</a></li>
            <li><a href="@Url.Action("OverallDescriptions","Manuscripts",new { id = Model.Id })">@StaticResource.Resources.OverallDescription</a></li>
            <li><a href="@Url.Action("ScriptManuscripts","Manuscripts",new { id = Model.Id })">@StaticResource.Resources.ScriptManuscript</a></li>
            <li><a href="@Url.Action("TextContents","Manuscripts",new { id = Model.Id })">@StaticResource.Resources.TextContent</a></li>
            <li><a href="@Url.Action("TextLanguages","Manuscripts",new { id = Model.Id })">@StaticResource.Resources.TextLanguage</a></li>
            <li> <a href="@Url.Action("MaterialManuscripts","Manuscripts",new { id = Model.Id })">@StaticResource.Resources.Material</a></li>
        </ul>
    </div>
    <div class="autocontents">

        <ul>
            <li>
                <h4> @StaticResource.Resources.Manuscript </h4>
            </li>
            <li>
                @if (Model.ImageManuscripts?.Count > 0)
                {
                    foreach (var item in Model.ImageManuscripts)
                    {
                        <img src="data:@item.ContentType;base64,@Convert.ToBase64String(item.Content)" alt="Photo" style="width:100%" />
                    }
                }
            </li>
        </ul>
        <ul>
            <li>
                <h4> @Html.DisplayNameFor(model => model.Transliteration)</h4>
            </li>
            <li>
                @Html.Raw(Model.Transliteration)
            </li>
        </ul>
        <ul>
            <li>
                <h4> @Html.DisplayNameFor(model => model.Transcription)</h4>
            </li>
            <li>
                @Html.Raw(Model.Transcription)
            </li>
        </ul>
        <ul>
            <li>
                <h4> @Html.DisplayNameFor(model => model.English) </h4>
            </li>
            <li>
                @Html.Raw(Model.English)
            </li>
        </ul>
        <ul>
            <li>
                <h4>  @Html.DisplayNameFor(model => model.Francaise) </h4>
            </li>
            <li>
                @Html.Raw(Model.Francaise)
            </li>
        </ul>
        <ul>
            <li>
                <h4>  @Html.DisplayNameFor(model => model.Chinese) </h4>
            </li>
            <li>
                @Html.Raw(Model.Chinese)
            </li>
        </ul>
        <ul>
            <li>
                <h4>   @Html.DisplayNameFor(model => model.Editor) </h4>
            </li>
            <li>
                @Html.DisplayFor(model => model.Editor)
            </li>
        </ul>
        <ul>
            <li>
                <h4> @Html.DisplayNameFor(model => model.References) </h4>
            </li>
            <li>
                @Html.DisplayFor(model => model.References)
            </li>
        </ul>
        <ul>
            <li>
                <h4>  @Html.DisplayNameFor(model => model.PhilologicalCommentary) </h4>
            </li>
            <li>
                @Html.Raw(Model.PhilologicalCommentary)
            </li>
        </ul>
        <ul>
            <li>
                <h4>  @Html.DisplayNameFor(model => model.Visible) </h4>
            </li>
            <li>
                @Html.DisplayFor(model => model.Visible)
            </li>
        </ul>
    </div>
</div>
<div>
    <p>
        @Html.ActionLink(StaticResource.Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
        @Html.ActionLink(StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-primary" })
    </p>

</div>
