@model Horizone.Models.Manuscript
@{
    ViewBag.Title = @StaticResource.Resources.Details;
}
<div id="search">

    <form class="form-group row" action="@Url.Action("Search", "Manuscripts")" method="post" enctype="multipart/form-data">

        <div class="form-group col-md-2">
            <br />
            <button type="submit" class="btn btn-info bigBtn"> <span class="glyphicon glyphicon-search"></span> @StaticResource.Resources.Search</button>
        </div>

        <div class="form-group col-md-4">
            <label for="search">@StaticResource.Resources.SearchWord (s) </label>
            <input class="form-control" type="text" id="Search" name="search" />
        </div>
        <div class="form-group col-md-4">
            <p><strong>Insert:  </strong> </p>
            <a onclick="insertText('Search','ā');" href="#" style="background-color: blanchedalmond; padding:5px">ā  </a>
            <a onclick="insertText('Search','ä');" href="#" style="background-color: blanchedalmond; padding:5px">ä  </a>
            <a onclick="insertText('Search','ī');" href="#" style="background-color: blanchedalmond; padding:5px">ī  </a>
            <a onclick="insertText('Search','ö');" href="#" style="background-color: blanchedalmond; padding:5px">ö  </a>
            <a onclick="insertText('Search','ū');" href="#" style="background-color: blanchedalmond; padding:5px">ū  </a>
            <a onclick="insertText('Search','ü');" href="#" style="background-color: blanchedalmond; padding:5px">ü  </a>
            <a onclick="insertText('Search','ṅ');" href="#" style="background-color: blanchedalmond; padding:5px">ṅ  </a>
            <a onclick="insertText('Search','ñ');" href="#" style="background-color: blanchedalmond; padding:5px">ñ  </a>
            <a onclick="insertText('Search','ṇ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṇ  </a>

            <a onclick="insertText('Search','ṃ');" href="#" style="background-color: blanchedalmond; padding:5px">ṃ  </a>
            <a onclick="insertText('Search','ś');" href="#" style="background-color: blanchedalmond; padding:5px">ś  </a>
            <a onclick="insertText('Search','ṣ');" href="#" style="background-color: blanchedalmond; padding:5px">ṣ  </a>
            <a onclick="insertText('Search','ṛ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṛ  </a>
            <a onclick="insertText('Search','ṭ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṭ  </a>
            <a onclick="insertText('Search','š');" href="#" style="background-color: blanchedalmond; padding:5px">š  </a>
            <a onclick="insertText('Search','ß');" href="#" style="background-color: blanchedalmond; padding:5px">ß  </a>
        </div>

    </form>
</div>


<h2> @StaticResource.Resources.Details</h2>
<div>
    <h4> @StaticResource.Resources.Manuscript</h4>
    <hr />
    <div class="autocontents">
        <ul>
            <li>
                <h4> @Html.DisplayNameFor(model => model.Index)</h4>
            </li>
            <li>
                @Html.DisplayFor(model => model.Index)
            </li>
        </ul>
        <p>
            <h4> @StaticResource.Resources.SeeAlso : </h4>
        </p>
        <ul>

            <li><a href="@Url.Action("LayoutManuscripts","Manuscripts",new { id = Model.Id})">@StaticResource.Resources.LayoutManuscript</a></li>
            <li><a href="@Url.Action("OverallDescriptions","Manuscripts",new { id = Model.Id })">@StaticResource.Resources.OverallDescription</a></li>
            <li><a href="@Url.Action("ScriptManuscripts","Manuscripts",new { id = Model.Id })">@StaticResource.Resources.ScriptManuscript</a></li>
            <li><a href="@Url.Action("TextContents","Manuscripts",new { id = Model.Id })">@StaticResource.Resources.TextContent</a></li>
            <li><a href="@Url.Action("TextLanguages","Manuscripts",new { id = Model.Id })">@StaticResource.Resources.TextLanguage</a></li>
            <li> <a href="@Url.Action("MaterialManuscripts","Manuscripts",new { id = Model.Id })">@StaticResource.Resources.Material</a></li>
        </ul>
    </div>
    <div class="autocontents">

        <ul>
            <li>
                <h4> @StaticResource.Resources.Manuscript </h4>
            </li>
            <li>
                @if (Model.ImageManuscripts?.Count > 0)
                {
                    foreach (var item in Model.ImageManuscripts)
                    {
                        <img src="data:@item.ContentType;base64,@Convert.ToBase64String(item.Content)" alt="Photo" style="width:100%" />
                    }
                }
            </li>
        </ul>
        <ul>
            <li>
                <h4> @Html.DisplayNameFor(model => model.Transliteration)</h4>
            </li>
            <li>
                @Html.Raw(Model.Transliteration)
            </li>
        </ul>


        <ul>
            <li>
                <h4> @Html.DisplayNameFor(model => model.Transcription)</h4>
            </li>
            <li>
                @Html.Raw(Model.Transcription)
            </li>
        </ul>
        <ul>
            <li>
                <h4> @Html.DisplayNameFor(model => model.English) </h4>
            </li>
            <li>
                @Html.Raw(Model.English)
            </li>
        </ul>
        <ul>
            <li>
                <h4>  @Html.DisplayNameFor(model => model.Francaise) </h4>
            </li>
            <li>
                @Html.Raw(Model.Francaise)
            </li>
        </ul>
        <ul>
            <li>
                <h4>  @Html.DisplayNameFor(model => model.Chinese) </h4>
            </li>
            <li>
                @Html.Raw(Model.Chinese)
            </li>
        </ul>
        <ul>
            <li>
                <h4>   @Html.DisplayNameFor(model => model.Editor) </h4>
            </li>
            <li>
                @Html.DisplayFor(model => model.Editor)
            </li>
        </ul>
        <ul>
            <li>
                <h4> @Html.DisplayNameFor(model => model.References) </h4>
            </li>
            <li>
                @Html.DisplayFor(model => model.References)
            </li>
        </ul>
        <ul>
            <li>
                <h4>  @Html.DisplayNameFor(model => model.PhilologicalCommentary) </h4>
            </li>
            <li>
                @Html.Raw(Model.PhilologicalCommentary)
            </li>
        </ul>
        <ul>
            <li>
                <h4>  @Html.DisplayNameFor(model => model.Visible) </h4>
            </li>
            <li>
                @Html.DisplayFor(model => model.Visible)
            </li>
        </ul>
    </div>
</div>
<div>
    <p>
        @Html.ActionLink(StaticResource.Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
        @Html.ActionLink(StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-primary" })
    </p>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        }

    </script>
}
