@model IEnumerable<Horizone.Models.Manuscript>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ObjectManuscript.Manuscript)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provenience.MainFindSpot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextContent.TitleOfTheWork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Index)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Script)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Repository)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shelfmark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TranslateEnglish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TranslateFrench)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TranslateChinese)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Editor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bibliography)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ObjectManuscript.Manuscript)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provenience.MainFindSpot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextContent.TitleOfTheWork)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Index)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Script)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Repository)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shelfmark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TranslateEnglish)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TranslateFrench)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TranslateChinese)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Editor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bibliography)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
