@model Horizone.Models.Manuscript
@{
    ViewBag.Title = @StaticResource.Resources.Material;
}

<h2>@StaticResource.Resources.Material @StaticResource.Resources.Manuscript</h2>
<div>
    <h4>@StaticResource.Resources.Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Index)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Index)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Material.MaterialEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material.MaterialEn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaperColor.PaperColorEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaperColor.PaperColorEn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaperThickness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaperThickness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WritingTool.WritingToolEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WritingTool.WritingToolEn)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(StaticResource.Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
    @Html.ActionLink(StaticResource.Resources.Return, "Details", new { id = Model.Id }, new { @class = "btn btn-primary" })
</p>