@model IEnumerable<Horizone.Models.Person>
@{
    ViewBag.Title = @StaticResource.Resources.Person;
}

<h2>@StaticResource.Resources.Person</h2>

<p>
    @Html.ActionLink(@StaticResource.Resources.Add, "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ConjugatedPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConjugatedPersonEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConjugatedPersonFr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConjugatedPersonZh)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConjugatedPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConjugatedPersonEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConjugatedPersonFr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConjugatedPersonZh)
            </td>
            <td>
                @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:90px" })
                 @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:90px" })
            </td>
        </tr>
    }

</table>
