@model Horizone.Models.Gender

@{
    ViewBag.Title = @StaticResource.Resources.Delete;
}

<h2> @StaticResource.Resources.Delete</h2>

<h3 class="text-danger"> @StaticResource.Resources.AskDelete</h3>
<div>
    <h4> @StaticResource.Resources.Gender</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameGender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameGender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameGenderEn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameGenderEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameGenderFr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameGenderFr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameGenderZh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameGenderZh)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@StaticResource.Resources.Delete class="btn btn-danger" /> |
            @Html.ActionLink(@StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
