@model Horizone.Models.News

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Colaborateur.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colaborateur.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topic.NameFrench)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic.NameFrench)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentEnglish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentEnglish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentFrench)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentFrench)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentChinese)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentChinese)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.View)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.View)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
