@model Horizone.Models.News

@{
    ViewBag.Title = @StaticResource.Resources.Details;
}

<h2>@StaticResource.Resources.Details</h2>

<div>
    <h4>@StaticResource.Resources.News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @StaticResource.Resources.PublishedBy
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collaborator.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topic.TopicEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic.TopicEn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.View)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.View)
        </dd>
        </dl>
        <ul>
            <li>
                <h4> @StaticResource.Resources.Picture </h4>
            </li>
            <li>
                @if (Model.ImageNewses?.Count > 0)
                {
                    foreach (var item in Model.ImageNewses)
                    {
                        <img src="data:@item.ContentType;base64,@Convert.ToBase64String(item.Content)" alt="Photo" style="width:100%" />
                    }
                }
            </li>
        </ul>

    
</div>
<p>
    @Html.ActionLink(StaticResource.Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
    @Html.ActionLink(StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-primary" })
</p>
