@model Horizone.Models.MainContent

@{
    ViewBag.Title = @StaticResource.Resources.Delete;
}

<h2>@StaticResource.Resources.Delete</h2>

<h3 class="text-danger">@StaticResource.Resources.AskDelete</h3>
<div>
    <h4>@StaticResource.Resources.MainContent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @StaticResource.Resources.AboutUs
        </dt>

        <dd>
            @Html.Raw(Model.AboutUs)
        </dd>

        <dt>
            @StaticResource.Resources.Contact
        </dt>

        <dd>
            @Html.Raw(Model.Contact)
        </dd>

        <dt>
            @StaticResource.Resources.Presentation
        </dt>

        <dd>
            @Html.Raw(Model.Presentation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink(@StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
