@model Horizone.Models.Collaboration


@{
    ViewBag.Title = @StaticResource.Resources.Details;
}

<h2>@StaticResource.Resources.Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FonctionEn)
        </dt>

        <dd>
            @Html.Raw(Model.FonctionEn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AffiliationEn)
        </dt>

        <dd>
            @Html.Raw(Model.AffiliationEn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FonctionFr)
        </dt>

        <dd>
            @Html.Raw(Model.FonctionFr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AffiliationFr)
        </dt>

        <dd>
            @Html.Raw(Model.AffiliationFr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FonctionZh)
        </dt>

        <dd>
            @Html.Raw(Model.FonctionZh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AffiliationZh)
        </dt>

        <dd>
            @Html.Raw(Model.AffiliationZh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssociatedResearcher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssociatedResearcher)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Collaborator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collaborator)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @StaticResource.Resources.Publications
        </dt>
        <dd>
            <table class="table table-striped">
                @foreach (var item in Model.Publications)
                {
                    <tr><td>@item.Title</td></tr>
                }

            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(StaticResource.Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
    @if (Model.Team)
    {
        @Html.ActionLink(@StaticResource.Resources.Return, "Team", null, new { @class = "btn btn-default" })
    };
    @if (Model.Collaborator)
    {
        @Html.ActionLink(@StaticResource.Resources.Return, "Collaboration", null, new { @class = "btn btn-default" })
    }
    @if (Model.AssociatedResearcher)
    {
        @Html.ActionLink(@StaticResource.Resources.Return, "AssociatedResearcher", null, new { @class = "btn btn-default" })
    }
   
</p>