@model IEnumerable<Horizone.Models.LanguageDetail>

@{
    ViewBag.Title = @StaticResource.Resources.LanguageAdd;
}

<h2>@StaticResource.Resources.LanguageAdd</h2>

<p>
    @Html.ActionLink(@StaticResource.Resources.Add, "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LanguageDetailEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LanguageDetailFr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LanguageDetailZh)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LanguageDetailEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LanguageDetailFr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LanguageDetailZh)
            </td>
            <td>
                @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
                 @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
            </td>
        </tr>
    }

</table>
