
<!DOCTYPE html>
<html lang="@Session[Horizone.Common.CommonConstants.CurrentCulture]">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HisTochText</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/layout.css" rel="stylesheet" />
</head>
<body background="~/Content/Background2.jpg" class="parallax">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">                   
                   <li style=" font-size: 18px;"><a href="@Url.Action("index","dashboards",new {area="backoffice" })"><strong>@StaticResource.Resources.Office</strong></a> </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@StaticResource.Resources.ManagementPage <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><h4 class="dropdownTitle">&#x27A4;@StaticResource.Resources.AboutProject </h4></li>
                            <li><a href="@Url.Action("create", "AboutProjects")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("index", "AboutProjects")">@StaticResource.Resources.List</a></li>
                            <li><h4 class="dropdownTitle">&#x27A4;@StaticResource.Resources.Bibliography</h4></li>
                            <li><a href="@Url.Action("create", "Bibliographies")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("index", "Bibliographies")">@StaticResource.Resources.List</a></li>
                            <li><h4 class="dropdownTitle">&#x27A4;@StaticResource.Resources.Activity</h4></li>
                            <li><a href="@Url.Action("create", "Activities")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("index", "Activities")">@StaticResource.Resources.List</a></li>
                            <li><h4 class="dropdownTitle">&#x27A4;@StaticResource.Resources.Link</h4></li>
                            <li><a href="@Url.Action("create", "LinkAndPresses")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("index", "LinkAndPresses")">@StaticResource.Resources.List</a></li>
                            <li><h4 class="dropdownTitle">&#x27A4;@StaticResource.Resources.HisTochTextPress</h4></li>
                            <li><a href="@Url.Action("create", "LinkAndPresses")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("Press", "LinkAndPresses")">@StaticResource.Resources.List</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@StaticResource.Resources.AboutUs <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                           <li><h4 class="dropdownTitle"> &diams; @StaticResource.Resources.Team</h4></li>
                            <li><a href="@Url.Action("create", "Collaborations")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("Team", "Collaborations")">@StaticResource.Resources.List</a></li>
                            <li><h4 class="dropdownTitle"> &diams; @StaticResource.Resources.Collaboration</h4></li>
                            <li><a href="@Url.Action("create", "Collaborations")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("Collaboration", "Collaborations")">@StaticResource.Resources.List</a></li>
                            <li><h4 class="dropdownTitle"> &diams; @StaticResource.Resources.Publications </h4></li>
                            <li><a href="@Url.Action("create", "Publications")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("index", "Publications")">@StaticResource.Resources.List</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@StaticResource.Resources.ManagementManuscript <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><h4 class="dropdownTitle">&#9733; @StaticResource.Resources.TochLanguage</h4></li>
                            <li><a href="@Url.Action("create", "TochLanguages")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("index", "TochLanguages")">@StaticResource.Resources.List</a></li>
                            <li><h4 class="dropdownTitle">&#9733; @StaticResource.Resources.Manuscript </h4></li>
                            <li><a href="@Url.Action("create", "Manuscripts")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("index", "Manuscripts")">@StaticResource.Resources.List</a></li>
                            <li><h4 class="dropdownTitle"> &#9733; @StaticResource.Resources.TochPhrase </h4></li>
                            <li><a href="@Url.Action("create", "TochPhrases")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("index", "TochPhrases")">@StaticResource.Resources.List</a></li>
                            <li><h4 class="dropdownTitle"> &#9733; @StaticResource.Resources.TochStory </h4></li>
                            <li><a href="@Url.Action("create", "TochStories")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("index", "TochStories")">@StaticResource.Resources.List</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@StaticResource.Resources.Linguistics <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><h4 class="dropdownTitle"> &#9733; @StaticResource.Resources.WordClass </h4></li>
                            <li><a href="@Url.Action("create", "WordClasses")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("index", "WordClasses")">@StaticResource.Resources.List</a></li>
                            <li><h4 class="dropdownTitle"> &#9733; @StaticResource.Resources.WordSubClass </h4></li>
                            <li><a href="@Url.Action("create", "WordSubClasses")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("index", "WordSubClasses")">@StaticResource.Resources.List</a></li>
                            <li><h4 class="dropdownTitle"> &#9733; @StaticResource.Resources.Case </h4></li>
                            <li><a href="@Url.Action("create", "Cases")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("index", "Cases")">@StaticResource.Resources.List</a></li>
                            <li><h4 class="dropdownTitle"> &#9733; @StaticResource.Resources.Gender </h4></li>
                            <li><a href="@Url.Action("create", "Genders")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("index", "Genders")">@StaticResource.Resources.List</a></li>
                            <li><h4 class="dropdownTitle"> &#9733; @StaticResource.Resources.Number </h4></li>
                            <li><a href="@Url.Action("create", "Numbers")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("index", "Numbers")">@StaticResource.Resources.List</a></li>
                            <li><h4 class="dropdownTitle"> &#9733; @StaticResource.Resources.Person </h4></li>
                            <li><a href="@Url.Action("create", "Persons")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("index", "Persons")">@StaticResource.Resources.List</a></li>
                            <li><h4 class="dropdownTitle"> &#9733; @StaticResource.Resources.DictionaryTocharian </h4></li>
                            <li><a href="@Url.Action("create", "DictionaryTocharians")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("index", "DictionaryTocharians")">@StaticResource.Resources.List</a></li>                           
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@StaticResource.Resources.PageNews <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><h4 class="dropdownTitle"> &diams; @StaticResource.Resources.Topic </h4></li>
                            <li><a href="@Url.Action("create", "Topics")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("index", "Topics")">@StaticResource.Resources.List</a></li>
                            <li><h4 class="dropdownTitle"> &diams; @StaticResource.Resources.Comment</h4></li>
                            <li><a href="@Url.Action("index", "Comments")">@StaticResource.Resources.List</a></li>
                            <li><h4 class="dropdownTitle"> &diams; @StaticResource.Resources.News</h4></li>
                            <li><a href="@Url.Action("create", "News")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("index", "News")">@StaticResource.Resources.List</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@StaticResource.Resources.ManagementUsers<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><h4 class="dropdownTitle">&#9733; @StaticResource.Resources.ContactMessage </h4></li>
                            <li><a href="@Url.Action("index", "ContactMessages")">@StaticResource.Resources.List</a></li>
                            <li><h4 class="dropdownTitle">&#9733; @StaticResource.Resources.Collaborator</h4></li>
                            <li><a href="@Url.Action("RegisterCollaborator", "Account",new { area = "" })">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("index", "Collaborators")">@StaticResource.Resources.List</a></li>
                            <li><h4 class="dropdownTitle">&#9733; @StaticResource.Resources.User</h4></li>
                            <li><a href="@Url.Action("index", "Clients")">@StaticResource.Resources.List</a></li>
                        </ul>
                    </li>
                </ul>
                @using Microsoft.AspNet.Identity

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink(StaticResource.Resources.Hi + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>
                    <li><a href="@Url.Action("Logout","Dashboards")"> <i class="glyphicon glyphicon-log-out"></i></a> </li>                    
                </ul>
              
            </div>
        </div>

    </div>
    <div class="navbar navbar-inverse navbar" style="background-color:steelblue;">                  
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav">                 
                    <li>@Html.ActionLink(@StaticResource.Resources.AboutProject, "About", "DashBoards")</li>                    
                    <li>@Html.ActionLink(@StaticResource.Resources.TochPhrase, "Index", "TochPhrases")</li>
                    <li>@Html.ActionLink(@StaticResource.Resources.TochStory, "Index", "TochStories")</li>
                    <li>@Html.ActionLink(@StaticResource.Resources.Manuscript, "Index", "Manuscripts")</li>
                    <li>@Html.ActionLink(@StaticResource.Resources.Vocabulary, "Index", "DictionaryTocharians")</li>
                    <li>@Html.ActionLink(@StaticResource.Resources.News_Blog, "Index", "News")</li>
                    <li>@Html.ActionLink(@StaticResource.Resources.Bibliography, "index", "Bibliographies")</li>
                    <li>@Html.ActionLink(@StaticResource.Resources.Activity, "index", "Activities")</li>
                    <li>@Html.ActionLink(@StaticResource.Resources.Help, "Help", "Dashboards")</li>
                    <li>                        
                        @{Html.RenderAction("Link", "LinkAndPresses");}
                     </li>
                </ul>               
            </div>                      
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @StaticResource.Resources.Office Histochtext</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>