
<!DOCTYPE html>
<html lang="@Session[Horizone.Common.CommonConstants.CurrentCulture]">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HisTochText</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/layout.css" rel="stylesheet" />
</head>
<body class="parallax" style="background-color: lightcyan">
    <div class="navbar navbar-expand-sm navbar-light navbar-fixed-top" style="background-color: lightgrey; color: mediumseagreen ; font-weight:bold;">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li style="color: black; font-size: 18px;"><a href="@Url.Action("index","dashboards",new {area="backoffice" })"><strong>@StaticResource.Resources.Office</strong></a> </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@StaticResource.Resources.ManagementPage <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams;@StaticResource.Resources.AboutProject<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "AboutProjects")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "AboutProjects")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Presentation<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "Presentations")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "Presentations")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Help<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "VisualAids")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "VisualAids")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Link<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "LinkAndPresses")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "LinkAndPresses")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.HisTochTextPress<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "LinkAndPresses")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("Press", "LinkAndPresses")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.AboutUs<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu">
                                        <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Team<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("create", "Collaborations")">@StaticResource.Resources.Add</a></li>
                                            <li><a href="@Url.Action("Team", "Collaborations")">@StaticResource.Resources.List</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown-submenu">
                                        <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Collaboration<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("create", "Collaborations")">@StaticResource.Resources.Add</a></li>
                                            <li><a href="@Url.Action("Collaboration", "Collaborations")">@StaticResource.Resources.List</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.AssociatedResearcher<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("create","Collaborations")">@StaticResource.Resources.Add</a></li>
                                            <li><a href="@Url.Action("AssociatedResearcher", "Collaborations")">@StaticResource.Resources.List</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Partner<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("create","PartnerAndRelations")">@StaticResource.Resources.Add</a></li>
                                            <li><a href="@Url.Action("partner", "PartnerAndRelations")">@StaticResource.Resources.List</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.RelationInternational<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("create", "PartnerAndRelations")">@StaticResource.Resources.Add</a></li>
                                            <li><a href="@Url.Action("relation", "PartnerAndRelations")">@StaticResource.Resources.List</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Publications<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action("create", "Publications")">@StaticResource.Resources.Add</a></li>
                                            <li><a href="@Url.Action("index", "Publications")">@StaticResource.Resources.List</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@StaticResource.Resources.Tocharian <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.TochLanguage<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "TochLanguages")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "TochLanguages")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.TochPhrase<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "TochPhrases")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "TochPhrases")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.TochStory<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu">
                                        <a class="test" href="#"> @StaticResource.Resources.ThemeStory <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="@Url.Action("create", "ThemeStories")">@StaticResource.Resources.Add</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("index", "ThemeStories")">@StaticResource.Resources.List</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="test" href="#">  @StaticResource.Resources.NamePlaces <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="@Url.Action("create", "NamePlaces")">@StaticResource.Resources.Add</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("index", "NamePlaces")">@StaticResource.Resources.List</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="test" href="#"> @StaticResource.Resources.SourceStory <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="@Url.Action("create", "SourceStories")">@StaticResource.Resources.Add</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("index", "SourceStories")">@StaticResource.Resources.List</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="test" href="#"> @StaticResource.Resources.ProperNoun <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="@Url.Action("create", "ProperNouns")">@StaticResource.Resources.Add</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("index", "ProperNouns")">@StaticResource.Resources.List</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="test" href="#"> @StaticResource.Resources.TochStory <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="@Url.Action("create", "TochStories")">@StaticResource.Resources.Add</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("index", "TochStories")">@StaticResource.Resources.List</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@StaticResource.Resources.ManagementManuscript <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Catalogue<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "Catalogies")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "Catalogies")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.GeneralState<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "States")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "States")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Description<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "DescriptionManuscripts")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "DescriptionManuscripts")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Remark<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "RemarkAdds")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "RemarkAdds")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Format<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "Formats")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "Formats")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Ruling<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "Rulings")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "Rulings")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.RulingColor<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "RulingColors")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "RulingColors")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.RulingDetail <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "RulingDetails")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "RulingDetails")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Material<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "Materials")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "Materials")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.PaperColor<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "PaperColors")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "PaperColors")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.WritingTool  <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "WritingTools")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "WritingTools")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.AlignmentType <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "AlignmentTypes")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "AlignmentTypes")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Script Brami<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "Scripts")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "Scripts")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Script Kharoshi <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "Scripts")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "Scripts")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Script Ductus<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "Scripts")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "Scripts")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.ScriptAdd<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "ScriptAdds")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "ScriptAdds")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Genre<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "GenderManuscripts")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "GenderManuscripts")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.TextSubgenre<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "SubGenderManuscripts")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "SubGenderManuscripts")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; Forme Litteraire<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "Metrics")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "Metrics")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.LanguageStage<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "LanguageStages")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "LanguageStages")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.LanguageAdd<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "LanguageDetails")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "LanguageDetails")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Manuscript<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "Manuscripts")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "Manuscripts")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.AnalyseMaterial<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "AnalyseMaterials")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "AnalyseMaterials")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@StaticResource.Resources.AnalyseMacroscopic <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Restore<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "Restores")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "Restores")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.FiberDistribution<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "FiberDistributions")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "FiberDistributions")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.SieveMark<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "SieveMarks")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "SieveMarks")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.FiberDirection<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "FiberDirections")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "FiberDirections")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.LaidLinesRegularity<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "LaidLinesRegularities")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "LaidLinesRegularities")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.ChainLinesVisibility <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "ChainLinesVisibilities")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "ChainLinesVisibilities")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Drying<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "Dryings")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "Dryings")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.PreparationPaperBeforeUsing<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "PreparationPaperBeforeUsings")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "PreparationPaperBeforeUsings")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.ManufaturingDefect  <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "ManufaturingDefects")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "ManufaturingDefects")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.AnalyseMacroscopic<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "AnalyseMacroscopics")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "AnalyseMacroscopics")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@StaticResource.Resources.Linguistics <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.WordClass<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "WordClasses")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "WordClasses")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.WordSubClass<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "WordSubClasses")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "WordSubClasses")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Case<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "Cases")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "Cases")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Gender<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "Genders")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "Genders")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Number<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "Numbers")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "Numbers")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.Person<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "Persons")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "Persons")">@StaticResource.Resources.List</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">&diams; @StaticResource.Resources.DictionaryTocharian<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("create", "DictionaryTocharians")">@StaticResource.Resources.Add</a></li>
                                    <li><a href="@Url.Action("index", "DictionaryTocharians")">@StaticResource.Resources.List</a></li>

                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@StaticResource.Resources.PageNews <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><h6 class="dropdownTitle"> &diams; @StaticResource.Resources.Topic </h6></li>
                            <li><a href="@Url.Action("create", "Topics")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("index", "Topics")">@StaticResource.Resources.List</a></li>
                            <li><h6 class="dropdownTitle"> &diams; @StaticResource.Resources.Comment</h6></li>
                            <li><a href="@Url.Action("index", "Comments")">@StaticResource.Resources.List</a></li>
                            <li><h6 class="dropdownTitle"> &diams; @StaticResource.Resources.News</h6></li>
                            <li><a href="@Url.Action("create", "News")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("index", "News")">@StaticResource.Resources.List</a></li>
                            <li><h6 class="dropdownTitle">&diams; @StaticResource.Resources.Activity</h6></li>
                            <li><a href="@Url.Action("create", "Activities")">@StaticResource.Resources.Add</a></li>
                            <li><a href="@Url.Action("index", "Activities")">@StaticResource.Resources.List</a></li>

                        </ul>
                    </li>

                </ul>
                @using Microsoft.AspNet.Identity
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink(StaticResource.Resources.Hi + User.Identity.GetUserName() + "!", "Index", "Collaborators", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>
                    <li><a href="@Url.Action("Logout","Dashboards")"> <i class="glyphicon glyphicon-log-out"></i></a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar navbar-expand-sm" style="background-color: lightblue; font-size: inherit; font-weight:bold">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink(@StaticResource.Resources.AboutProject, "About", "DashBoards")</li>
                <li>@Html.ActionLink(@StaticResource.Resources.TochPhrase, "Index", "TochPhrases")</li>
                <li>@Html.ActionLink(@StaticResource.Resources.TochStory, "Index", "TochStories")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@StaticResource.Resources.Manuscript <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "Manuscripts")"> @StaticResource.Resources.Manuscript - @StaticResource.Resources.Text</a></li>
                        <li><a href="@Url.Action("Index", "AnalyseMaterials")">@StaticResource.Resources.AnalyseMaterial</a></li>
                    </ul>
                </li>
                <li>@Html.ActionLink(@StaticResource.Resources.Vocabulary, "Index", "DictionaryTocharians")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@StaticResource.Resources.News_Blog <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "News")"> @StaticResource.Resources.Publications</a></li>
                        <li><a href="@Url.Action("Index", "News")"> @StaticResource.Resources.Conferences , @StaticResource.Resources.Symposia</a></li>
                        <li><a href="@Url.Action("Index", "News")">  @StaticResource.Resources.Expositions , @StaticResource.Resources.Museums </a></li>
                        <li><a href="@Url.Action("Index", "News")">  @StaticResource.Resources.Media</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@StaticResource.Resources.Activity <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("index", "Activities")"> @StaticResource.Resources.Publications</a></li>
                        <li><a href="@Url.Action("index", "Activities")"> @StaticResource.Resources.Conferences , @StaticResource.Resources.Seminars</a></li>
                        <li><a href="@Url.Action("index", "Activities")">  @StaticResource.Resources.Symposia</a></li>
                        <li><a href="@Url.Action("index", "Activities")">  @StaticResource.Resources.Missions</a></li>
                    </ul>
                </li>
                <li>
                    @{Html.RenderAction("Link", "LinkAndPresses");}
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@StaticResource.Resources.References<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><h6 class="dropdownTitle">&#9733; @StaticResource.Resources.Bibliography</h6></li>
                        <li><a href="@Url.Action("Create", "Bibliographies")">@StaticResource.Resources.Add</a></li>
                        <li><a href="@Url.Action("Index", "Bibliographies")">@StaticResource.Resources.List</a></li>
                        <li><h6 class="dropdownTitle">&#9733; @StaticResource.Resources.Abbreviations</h6></li>
                        <li><a href="@Url.Action("Create", "Abreviations")">@StaticResource.Resources.Add</a></li>
                        <li><a href="@Url.Action("index", "Abreviations")">@StaticResource.Resources.List</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@StaticResource.Resources.Help<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><h6 class="dropdownTitle">&#9733; @StaticResource.Resources.Maps</h6></li>
                        <li><a href="@Url.Action("Create", "Maps")">@StaticResource.Resources.Add</a></li>
                        <li><a href="@Url.Action("index", "Maps")">@StaticResource.Resources.List</a></li>
                        <li><h6 class="dropdownTitle">&#9733; @StaticResource.Resources.Help</h6></li>
                        <li><a href="@Url.Action("Create", "Abreviations")">@StaticResource.Resources.Add</a></li>
                        <li><a href="@Url.Action("help", "dashboards")">@StaticResource.Resources.Help</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@StaticResource.Resources.ManagementUsers<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><h6 class="dropdownTitle">&#9733; @StaticResource.Resources.Collaborator Web</h6></li>
                        <li><a href="@Url.Action("RegisterCollaborator", "Account",new { area = "" })">@StaticResource.Resources.Add</a></li>
                        <li><a href="@Url.Action("index", "Collaborators")">@StaticResource.Resources.List</a></li>
                        <li><h6 class="dropdownTitle">&#9733; @StaticResource.Resources.User</h6></li>
                        <li><a href="@Url.Action("index", "Clients")">@StaticResource.Resources.List</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @StaticResource.Resources.Office Histochtext</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
 <script>
    $(document).ready(function () {
      $('.dropdown-submenu a.test').on("click", function(e){
      $(this).next('ul').toggle();
      e.stopPropagation();
      e.preventDefault();      
      });
    },
        function () {
            $(this).find("ul:first").slideDown(500);
        },
        function () {
            $(this).find("ul:first").hide(300);
     });
</script>
</body>
</html>