<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HISTOCHTEXT", "Index", "Dashboards", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion Manuscripts <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><h4 class="dropdownTitle">Object Manuscript </h4></li>
                            <li><a href="@Url.Action("create", "ObjectManuscripts")">Ajouter</a></li>
                            <li><a href="@Url.Action("index", "ObjectManuscripts")">Lister</a></li>
                            <li><h4 class="dropdownTitle">Proveniences</h4></li>
                            <li><a href="@Url.Action("create", "Proveniences")">Ajouter</a></li>
                            <li><a href="@Url.Action("index", "Proveniences")">Lister</a></li>
                            <li><h4 class="dropdownTitle">Textcontents</h4></li>
                            <li><a href="@Url.Action("create", "Textcontents")">Ajouter</a></li>
                            <li><a href="@Url.Action("index", "Textcontents")">Lister</a></li>
                            <li><h4 class="dropdownTitle">Manuscripts </h4></li>
                            <li><a href="@Url.Action("create", "Manuscripts")">Ajouter</a></li>
                            <li><a href="@Url.Action("index", "Manuscripts")">Lister</a></li>
                            <li><h4 class="dropdownTitle">TochPhrases </h4></li>
                            <li><a href="@Url.Action("create", "TochPhrasess")">Ajouter</a></li>
                            <li><a href="@Url.Action("index", "TochPhrasess")">Lister</a></li>
                            <li><h4 class="dropdownTitle">TochStory </h4></li>
                            <li><a href="@Url.Action("create", "TochStorys")">Ajouter</a></li>
                            <li><a href="@Url.Action("index", "TochStorys")">Lister</a></li>
                            <li><h4 class="dropdownTitle">DictionaryTocharian </h4></li>
                            <li><a href="@Url.Action("create", "DictionaryTocharians")">Ajouter</a></li>
                            <li><a href="@Url.Action("index", "DictionaryTocharians")">Lister</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion Publications <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><h4 class="dropdownTitle">Topic </h4></li>
                            <li><a href="@Url.Action("create", "Topics")">Ajouter</a></li>
                            <li><a href="@Url.Action("index", "Topics")">Lister</a></li>
                            <li><h4 class="dropdownTitle">Comments</h4></li>
                            <li><a href="@Url.Action("create", "Comments")">Ajouter</a></li>
                            <li><a href="@Url.Action("index", "Comments")">Lister</a></li>
                            <li><h4 class="dropdownTitle">News</h4></li>
                            <li><a href="@Url.Action("create", "Newss")">Ajouter</a></li>
                            <li><a href="@Url.Action("index", "Newss")">Lister</a></li>
                            

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion Users <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><h4 class="dropdownTitle">ContactMessages </h4></li>
                            <li><a href="@Url.Action("create", "ContactMessages")">Ajouter</a></li>
                            <li><a href="@Url.Action("index", "ContactMessages")">Lister</a></li>
                            <li><h4 class="dropdownTitle">Colaborateurs</h4></li>
                            <li><a href="@Url.Action("create", "Colaborateurs")">Ajouter</a></li>
                            <li><a href="@Url.Action("index", "Colaborateurs")">Lister</a></li>
                            <li><h4 class="dropdownTitle">Clients</h4></li>
                            <li><a href="@Url.Action("create", "Clients")">Ajouter</a></li>
                            <li><a href="@Url.Action("index", "Clients")">Lister</a></li>
                            

                        </ul>
                    </li>
                   
                </ul>



                    @Html.Partial("_LoginPartial")
             </div>
        </div>

    </div>
                
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Histochtext</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>