@model IEnumerable<Horizone.Models.Collaborator>

@{
    ViewBag.Title = @StaticResource.Resources.Collaborator;
}

<h2>@StaticResource.Resources.List @StaticResource.Resources.Collaborator WEB</h2>

<table class="table">
    <tr>
        <th>
            @StaticResource.Resources.Title
        </th>
        <th>
            @StaticResource.Resources.LastName
        </th>
        <th>
            @StaticResource.Resources.FirstName
        </th>

        <th>
            @StaticResource.Resources.PhoneNumber
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>

        </tr>
    }
</table>
