@model Horizone.Models.WritingTool

@{
    ViewBag.Title = @StaticResource.Resources.Details;
}

<h2>@StaticResource.Resources.Details</h2>

<div>
    <h4>@StaticResource.Resources.WritingTool</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WritingToolEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WritingToolEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WritingToolFr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WritingToolFr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WritingToolZh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WritingToolZh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(StaticResource.Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
    @Html.ActionLink(StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-primary" })
</p>
