@model Horizone.Models.LaidLinesRegularity

@{
    ViewBag.Title = @StaticResource.Resources.Details;
}

<h2>@StaticResource.Resources.Details</h2>


<div>
    <h4>@StaticResource.Resources.LaidLinesRegularity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LaidLinesRegularityEn) @StaticResource.Resources.English
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaidLinesRegularityEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaidLinesRegularityFr) @StaticResource.Resources.French
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaidLinesRegularityFr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaidLinesRegularityZh) @StaticResource.Resources.Chinese
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaidLinesRegularityZh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(StaticResource.Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
    @Html.ActionLink(StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-primary" })
</p>
