@model IEnumerable<Horizone.Models.LaidLinesRegularity>

@{
    ViewBag.Title = "Index";
}

<h2>@StaticResource.Resources.LaidLinesRegularity</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LaidLinesRegularityEn) @StaticResource.Resources.English
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LaidLinesRegularityFr) @StaticResource.Resources.French
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LaidLinesRegularityZh) @StaticResource.Resources.Chinese
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LaidLinesRegularityEn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LaidLinesRegularityFr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LaidLinesRegularityZh)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
