@model ICollection<Horizone.Models.TochPhrase>

@{
    ViewBag.Title = @StaticResource.Resources.Search;
}
<h2>@StaticResource.Resources.SearchResult</h2>

<div class="col-md-2">

    <form class="form-group row" action="@Url.Action("Search", "FontTochPhrases")" method="post" enctype="multipart/form-data">
        <div class="form-group ">
            <label for="search">@StaticResource.Resources.Phrase</label>
            <input type="text" class="form-control" id="search" name="search" /><br />
        </div>                
    </form>
</div>
<div class="col-md-2">
    <div class="form-group">
        <br />
        <button type="submit" class="btn btn-info"> @StaticResource.Resources.Search</button>
    </div>

</div>


<div class="col-md-8">

    <div class="bibliography row">
        <table class="table">
            <tr>
                <th>
                    @StaticResource.Resources.Phrase
                </th>
                <th>
                    @StaticResource.Resources.English
                </th>
                <th>
                    @StaticResource.Resources.TochLanguage
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phrase)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.English)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TochLanguage.Language)
                    </td>
                    <td>
                        @Html.ActionLink(@StaticResource.Resources.Details, "Details", new { id = item.Id }, new { @class = "btn btn-info", style = "width:90px" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
