@model ICollection<Horizone.Models.TochPhrase>

@{
    /**/

    ViewBag.Title = @StaticResource.Resources.Search;
}
<h2>@StaticResource.Resources.SearchResult</h2>
@Model.Count() @StaticResource.Resources.SearchResult <b> " @ViewBag.Search " </b> @StaticResource.Resources.Found
<br />
@if (@Model.Count() != 0)
{
    <div class="bibliography row">
        <table class="table">
            <tr>
                <th>
                    @StaticResource.Resources.Phrase
                </th>
                <th>
                    @StaticResource.Resources.English
                </th>
                <th>
                    @StaticResource.Resources.TochLanguage
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phrase)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.English)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TochLanguage.Language)
                    </td>
                    <td>
                        @Html.ActionLink(@StaticResource.Resources.Details, "Details", new { id = item.Id }, new { @class = "btn btn-info", style = "width:90px" })
                        @Html.ActionLink(@StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-info", style = "width:90px" })
                    </td>
                </tr>
            }
        </table>

    </div>
}
@if (Model.Count() == 0)
{
    @StaticResource.Resources.AskSearchAdvantage;
    <form class="form-group row" action="@Url.Action("SearchIndex", "Home" )" method="post" enctype="multipart/form-data">
        <button type="submit" class="btn btn-default" style="width:20%; text-align:left;"> @StaticResource.Resources.Search <b> " @ViewBag.Search " </b> </button>
        <input class="form-control" type="hidden" id="Search" name="search" value="@ViewBag.Search" />
    </form>
}
@if (@ViewBag.Search != null)
{
    <br />
    @StaticResource.Resources.AskSearchAdvantage @StaticResource.Resources.In @StaticResource.Resources.OtherWebPage ;
    <br />
    var ulrA = "https://www.univie.ac.at/tocharian/?A_" + @ViewBag.Search;
    var ulrB = "https://www.univie.ac.at/tocharian/?B_" + @ViewBag.Search;
    var ulrG = "https://www.google.com/search?q=" + @ViewBag.Search + "&rlz=1C1CHBF_frFR865FR865&oq=" + @ViewBag.Search + " &aqs=chrome..69i57j35i39j69i60l2.1406j0j8&sourceid=chrome&ie=UTF-8";
    <a href="@ulrA"> @StaticResource.Resources.Search @StaticResource.Resources.Tocharian A<b> " @ViewBag.Search " @StaticResource.Resources.With CETOM </b></a>
    <br />
    <a href="@ulrB"> @StaticResource.Resources.Search @StaticResource.Resources.Tocharian B <b> " @ViewBag.Search " @StaticResource.Resources.With CETOM </b></a>
    <br />
    <a href="@ulrG"> @StaticResource.Resources.Search <b> " @ViewBag.Search " @StaticResource.Resources.With Google</b></a>

}

@Html.ActionLink(StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-primary", style = "width:90px" })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
