@model IEnumerable<Horizone.Models.Metric>

@{
    ViewBag.Title = @StaticResource.Resources.MetricForm;
}

<h2> @StaticResource.Resources.LiteraryForm </h2>

<p>
    @Html.ActionLink(@StaticResource.Resources.Add, "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MetricEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetricFr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetricZh)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MetricEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetricFr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetricZh)
            </td>
            <td>
                @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
                @Html.ActionLink(@StaticResource.Resources.Details, "Details", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
                @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
            </td>
        </tr>
    }

</table>
