@model IEnumerable<Horizone.Models.Topic>

@{
    ViewBag.Title = @StaticResource.Resources.Topic;
}

<h2>@StaticResource.Resources.Topic</h2>

<p>
    @Html.ActionLink(@StaticResource.Resources.Add, "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TopicEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopicFr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopicZh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.News)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TopicEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopicFr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopicZh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.News)
            </td>
            <td>
                @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
                 @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
            </td>
        </tr>
    }

</table>
