@model Horizone.Models.Bibliography

@{
    ViewBag.Title = @StaticResource.Resources.Delete;
}

<h2>@StaticResource.Resources.Delete</h2>

<h3 class="text-danger">@StaticResource.Resources.AskDelete</h3>
<div>
    <h4>@StaticResource.Resources.Bibliography</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Journal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Journal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UlrBibliography)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UlrBibliography)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink(@StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
