@model Horizone.Models.Bibliography

@{
    ViewBag.Title = @StaticResource.Resources.Delete;
}

<h2>@StaticResource.Resources.Delete</h2>

<h3>@StaticResource.Resources.AskDelete</h3>
<div>
    <h4>@StaticResource.Resources.Bibliography</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @StaticResource.Resources.Author
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @StaticResource.Resources.PublicationDate
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>

        <dt>
            @StaticResource.Resources.Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @StaticResource.Resources.Newspaper
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Journal)
        </dd>

        <dt>
            @StaticResource.Resources.Link
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UlrBibliography)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink(@StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
