@model PagedList.IPagedList<Horizone.Models.Bibliography>
@using PagedList.Mvc;
@{
    ViewBag.Title = @StaticResource.Resources.Bibliography;
}

<h2>@StaticResource.Resources.Bibliography</h2>
<div class="autocontents">
    <p>
        <b> @StaticResource.Resources.Presentation @StaticResource.Resources.Bibliography </b>
        @{Html.RenderAction("PresentationBibliography", "DashBoards"); }
    </p>
</div>

<div>
    <br />
    @Html.ActionLink(@StaticResource.Resources.Add, "Create", null, new { @class = "btn btn-primary" })

</div>

<div id="search">
    <form class="form-group row" action="@Url.Action("SearchBibliography", "DashBoards")" method="post" enctype="multipart/form-data">
        <div>
            @{Html.RenderAction("SearchForm", "DashBoards"); }
        </div>
    </form>
</div>
<table class="table">
    <tr>
        <th>
            @StaticResource.Resources.Author
        </th>
        <th>
            @StaticResource.Resources.PublicationDate
        </th>
        <th>
            @StaticResource.Resources.TitleArticle
        </th>
        <th>
            @StaticResource.Resources.Newspaper
        </th>
        <th>
            @StaticResource.Resources.Link
        </th>
        <th>
            @StaticResource.Resources.Book
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Journal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UlrBibliography)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book)
            </td>
            <td>
                @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:90px" })
                @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:90px" })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("index", new { page }))