@model Horizone.Models.ProperNoun

@{
    ViewBag.Title = @StaticResource.Resources.Add;
}

<h2>@StaticResource.Resources.Add</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>@StaticResource.Resources.ProperNoun</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <label for="search">@StaticResource.Resources.Insert @StaticResource.Resources.SpecialCharacter : </label>
            <a onclick="insertText('Name','ā');" href="#" style="background-color: blanchedalmond; padding:5px"> ā  </a>
            <a onclick="insertText('Name','ä');" href="#" style="background-color: blanchedalmond; padding:5px"> ä  </a>
            <a onclick="insertText('Name','ī');" href="#" style="background-color: blanchedalmond; padding:5px"> ī  </a>
            <a onclick="insertText('Name','ö');" href="#" style="background-color: blanchedalmond; padding:5px"> ö  </a>
            <a onclick="insertText('Name','ū');" href="#" style="background-color: blanchedalmond; padding:5px"> ū  </a>
            <a onclick="insertText('Name','ü');" href="#" style="background-color: blanchedalmond; padding:5px"> ü  </a>
            <a onclick="insertText('Name','ṅ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṅ  </a>
            <a onclick="insertText('Name','ñ');" href="#" style="background-color: blanchedalmond; padding:5px"> ñ  </a>
            <a onclick="insertText('Name','ṇ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṇ  </a>
            <a onclick="insertText('Name','ṃ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṃ  </a>
            <a onclick="insertText('Name','ś');" href="#" style="background-color: blanchedalmond; padding:5px"> ś  </a>
            <a onclick="insertText('Name','ṣ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṣ  </a>
            <a onclick="insertText('Name','ṛ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṛ  </a>
            <a onclick="insertText('Name','ṭ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṭ  </a>
            <a onclick="insertText('Name','š');" href="#" style="background-color: blanchedalmond; padding:5px"> š  </a>
            <a onclick="insertText('Name','ß');" href="#" style="background-color: blanchedalmond; padding:5px"> ß  </a>
            <a onclick="insertText('Name','Ś');" href="#" style="background-color: blanchedalmond; padding:5px"> Ś  </a>
            <a onclick="insertText('Name','Ā');" href="#" style="background-color: blanchedalmond; padding:5px"> Ā  </a>
            <a onclick="insertText('Name','Ū');" href="#" style="background-color: blanchedalmond; padding:5px"> Ū  </a>
            <a onclick="insertText('Name','Ṃ');" href="#" style="background-color: blanchedalmond; padding:5px"> Ṃ  </a>
            <a onclick="insertText('Name','Ṇ');" href="#" style="background-color: blanchedalmond; padding:5px"> Ṇ  </a>
            <a onclick="insertText('Name','Ñ');" href="#" style="background-color: blanchedalmond; padding:5px"> Ñ  </a>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DescriptionEn, htmlAttributes: new { @class = "control-label col-md-2" })  @StaticResource.Resources.English
        <div class="col-md-10">
            @Html.EditorFor(model => model.DescriptionEn, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DescriptionEn, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DescriptionFr, htmlAttributes: new { @class = "control-label col-md-2" })  @StaticResource.Resources.French
        <div class="col-md-10">
            @Html.EditorFor(model => model.DescriptionFr, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DescriptionFr, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DescriptionZh, htmlAttributes: new { @class = "control-label col-md-2" })  @StaticResource.Resources.Chinese
        <div class="col-md-10">
            @Html.EditorFor(model => model.DescriptionZh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DescriptionZh, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.InStory, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.InStory)
                @Html.ValidationMessageFor(model => model.InStory, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value=@StaticResource.Resources.Add class="btn btn-info" />
            @Html.ActionLink(StaticResource.Resources.Cancel, "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    <script>
        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        };
    </script>
}

