@model IEnumerable<Horizone.Models.ProperNoun>

@{
    ViewBag.Title = @StaticResource.Resources.ProperNoun;
}

<h3>@StaticResource.Resources.ProperNoun </h3>
<p>
    @Html.ActionLink(@StaticResource.Resources.Add, "Create", null, new { @class = "btn btn-primary" })
</p>
<div id="search">
    <h5>&#10148; @StaticResource.Resources.Search @StaticResource.Resources.ProperNoun @StaticResource.Resources.In  @StaticResource.Resources.TochStory  </h5>
    <form class="form-group row" action="@Url.Action("SearchName", "ProperNouns")" method="post" enctype="multipart/form-data">
        <div>
            @{Html.RenderAction("SearchForm", "DashBoards"); }
        </div>
    </form>

</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionFr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionZh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InStory)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionFr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionZh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InStory)
            </td>

            <td>
                @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px;float:left; " })
            </td>
            <td>
                @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px;float:left;" })

            </td>

        </tr>
    }

</table>

