@model Horizone.Models.AnalyseMacroscopic
@{
    ViewBag.Title = @StaticResource.Resources.Delete;
}

<h2> @StaticResource.Resources.Delete</h2>

<h3 class="text-danger"> @StaticResource.Resources.AskDelete</h3>



<div>
    <h4>AnalyseMacroscopic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Catalogie.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catalogie.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChainLinesVisibility.ChainLinesVisibilityEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChainLinesVisibility.ChainLinesVisibilityEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drying.DryingEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drying.DryingEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiberDirection.DirectionEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiberDirection.DirectionEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiberDistribution.DistributionEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiberDistribution.DistributionEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Format.FormatEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Format.FormatEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenderManuscript.NameGenderEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenderManuscript.NameGenderEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaidLinesRegularity.LaidLinesRegularityEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaidLinesRegularity.LaidLinesRegularityEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManufaturingDefect.ManufaturingDefectEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufaturingDefect.ManufaturingDefectEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Map.NamePicture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Map.NamePicture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaperColor.PaperColorEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaperColor.PaperColorEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreparationPaperBeforeUsing.PreparationEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreparationPaperBeforeUsing.PreparationEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restore.RestoreEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restore.RestoreEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ruling.RulingEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruling.RulingEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RulingColor.RulingColorEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RulingColor.RulingColorEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Script.ScriptEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Script.ScriptEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SieveMark.SieveMarkEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SieveMark.SieveMarkEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.StateEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.StateEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TochLanguage.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TochLanguage.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WritingTool.WritingToolEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WritingTool.WritingToolEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Index)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Index)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatedDateProduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedDateProduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceProduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceProduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfHoles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfHoles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageThickness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageThickness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SheetCondition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SheetCondition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedForConservation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedForConservation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfLine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageFrame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageFrame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoftQuality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoftQuality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RattleQuality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RattleQuality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transparency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transparency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurfaceAspect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurfaceAspect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoatingDecayingCondition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoatingDecayingCondition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClayOrSandParticules)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClayOrSandParticules)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurfaceOnBothSides)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurfaceOnBothSides)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberLayer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberLayer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberChainLinePerCm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberChainLinePerCm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpaceBetweenLines)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpaceBetweenLines)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visible)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink(@StaticResource.Resources.Return, "Index", null, new { @class = "btn btn-default" })
    </div>
    }
</div>
