@model IEnumerable<Horizone.Models.ThemeStory>

@{
    ViewBag.Title = @StaticResource.Resources.ThemeStory;
}

<h2>@StaticResource.Resources.ThemeStory</h2>

<p>
    @Html.ActionLink(@StaticResource.Resources.Add, "Create", null, new { @class = "btn btn-primary" })
</p>
<div id="search">
    <form class="form-group row" action="@Url.Action("SearchTheme", "ThemeStories")" method="post" enctype="multipart/form-data">
        <div>
            @{Html.RenderAction("SearchForm", "DashBoards"); }
        </div>

    </form>

</div>
<br />
<h5>&#9658; @StaticResource.Resources.ClickButton @StaticResource.Resources.SearchBy @StaticResource.Resources.ThemeStory @StaticResource.Resources.In @StaticResource.Resources.TochStory</h5>

@if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "en")
{
    var theme = Model.OrderBy(x => x.ThemeEn).ToList();
    <div class="row">
        @foreach (var item in theme)
        {
            <div class="col-md-6">
                <form class="form-group row" action="@Url.Action("SearchStory", "TochStories" )" method="post" enctype="multipart/form-data">

                    <button type="submit" class="btn btn-default" style="width:30%; text-align:left;">  @Html.DisplayFor(modelItem => item.ThemeEn) </button>
                    <input class="form-control" type="hidden" id="Search" name="search" value="@item.ThemeEn" />

                    @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
                    @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })

                </form>
            </div>
        }
    </div>
}
@if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "fr")
{

    var theme = Model.OrderBy(x => x.ThemeFr).ToList();

    <div class="row">
        @foreach (var item in theme)
        {
            <div class="col-md-6">
                <form class="form-group row" action="@Url.Action("SearchStory", "TochStories")" method="post" enctype="multipart/form-data">

                    <button type="submit" class="btn btn-default" style="width:30%; text-align:left;">  @Html.DisplayFor(modelItem => item.ThemeFr) </button>
                    <input class="form-control" type="hidden" id="Search" name="search" value="@item.ThemeFr" />

                    @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
                    @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })

                </form>
            </div>
        }
    </div>
}


@if (Session[Horizone.Common.CommonConstants.CurrentCulture].ToString() == "zh")
{
    var theme = Model.OrderBy(x => x.ThemeZn).ToList();
    <div class="row">
        @foreach (var item in theme)
        {
            <div class="col-md-6">
                <form class="form-group row" action="@Url.Action("SearchStory", "TochStories")" method="post" enctype="multipart/form-data">

                    <button type="submit" class="btn btn-default" style="width:30%; text-align:left;">  @Html.DisplayFor(modelItem => item.ThemeZn) </button>
                    <input class="form-control" type="hidden" id="Search" name="search" value="@item.ThemeZn" />

                    @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
                    @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })

                </form>
            </div>
        }
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        }
    </script>
}
