@model Horizone.Models.TochStory
@{
    ViewBag.Title = @StaticResource.Resources.Add;
}
@using (Html.BeginForm())
{
    <div class="row">
        @{Html.RenderAction("SpecialCharacter", "DashBoards"); }
    </div>
}

<h2>@StaticResource.Resources.Add</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@StaticResource.Resources.TochStory</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SourceStoryId, "SourceStoryId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SourceStoryId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SourceStoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThemeStoryId, "ThemeStoryId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ThemeStoryId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ThemeStoryId, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.PlasticRepresentation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlasticRepresentation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PlasticRepresentation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MainFindSpot, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MainFindSpot, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MainFindSpot, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label for="search">@StaticResource.Resources.Insert @StaticResource.Resources.SpecialCharacter : </label>
                <a onclick="insertText('Content','ā');" href="#" style="background-color: blanchedalmond; padding:5px"> ā  </a>
                <a onclick="insertText('Content','ä');" href="#" style="background-color: blanchedalmond; padding:5px"> ä  </a>
                <a onclick="insertText('Content','ī');" href="#" style="background-color: blanchedalmond; padding:5px"> ī  </a>
                <a onclick="insertText('Content','ö');" href="#" style="background-color: blanchedalmond; padding:5px"> ö  </a>
                <a onclick="insertText('Content','ū');" href="#" style="background-color: blanchedalmond; padding:5px"> ū  </a>
                <a onclick="insertText('Content','ü');" href="#" style="background-color: blanchedalmond; padding:5px"> ü  </a>
                <a onclick="insertText('Content','ṅ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṅ  </a>
                <a onclick="insertText('Content','ñ');" href="#" style="background-color: blanchedalmond; padding:5px"> ñ  </a>
                <a onclick="insertText('Content','ṇ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṇ  </a>
                <a onclick="insertText('Content','ṃ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṃ  </a>
                <a onclick="insertText('Content','ś');" href="#" style="background-color: blanchedalmond; padding:5px"> ś  </a>
                <a onclick="insertText('Content','ṣ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṣ  </a>
                <a onclick="insertText('Content','ṛ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṛ  </a>
                <a onclick="insertText('Content','ṭ');" href="#" style="background-color: blanchedalmond; padding:5px"> ṭ  </a>
                <a onclick="insertText('Content','š');" href="#" style="background-color: blanchedalmond; padding:5px"> š  </a>
                <a onclick="insertText('Content','ß');" href="#" style="background-color: blanchedalmond; padding:5px"> ß  </a>
                <a onclick="insertText('Content','ḍ');" href="#" style="background-color: blanchedalmond; padding:5px"> ḍ  </a>
                <a onclick="insertText('Content','Ā');" href="#" style="background-color: blanchedalmond; padding:5px"> Ā  </a>
                <a onclick="insertText('Content','Ū');" href="#" style="background-color: blanchedalmond; padding:5px"> Ū  </a>
                <a onclick="insertText('Content','Ṃ');" href="#" style="background-color: blanchedalmond; padding:5px"> Ṃ  </a>
                <a onclick="insertText('Content','Ṇ');" href="#" style="background-color: blanchedalmond; padding:5px"> Ṇ  </a>
                <a onclick="insertText('Content','Ñ');" href="#" style="background-color: blanchedalmond; padding:5px"> Ñ  </a>
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.English, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.English, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.English, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Francaise, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Francaise, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Francaise, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Chinese, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Chinese, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Chinese, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Visible, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Visible)
                    @Html.ValidationMessageFor(model => model.Visible, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@StaticResource.Resources.Add class="btn btn-info" />
                @Html.ActionLink(StaticResource.Resources.Cancel, "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    <script>
        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        };

        $(function () {
            tinymce.init({ selector: '#Content' });
            tinymce.init({ selector: '#English' });
            tinymce.init({ selector: '#Francaise' });
            tinymce.init({ selector: '#Chinese' });
        });
    </script>
}
