@model IEnumerable<Horizone.Models.TochStory>
@{
    ViewBag.Title = @StaticResource.Resources.TochStory;
}

<h2>@StaticResource.Resources.TochStory</h2>
<div class="autocontents">
    <p>
        <b> @StaticResource.Resources.Presentation @StaticResource.Resources.TochStory </b>
        @{Html.RenderAction("PresentationTochStory", "DashBoards"); }
    </p>
</div>


<p>
    @Html.ActionLink(@StaticResource.Resources.Add, "Create", null, new { @class = "btn btn-primary" })
</p>

@foreach (var item in Model)
{
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SourceStory.SourceEn)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => item.SourceStory.SourceEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThemeStory.ThemeEn)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => item.ThemeStory.ThemeEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>


            @Html.DisplayFor(modelItem => item.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlasticRepresentation)
        </dt>

        <dd>


            @Html.DisplayFor(modelItem => item.PlasticRepresentation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainFindSpot)
        </dt>

        <dd>


            @Html.DisplayFor(modelItem => item.MainFindSpot)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>

            @Html.Raw(item.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.English)
        </dt>

        <dd>


            @Html.Raw(item.English)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Francaise)
        </dt>

        <dd>


            @Html.Raw(item.Francaise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chinese)
        </dt>

        <dd>


            @Html.Raw(item.Chinese)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>


            @Html.Raw(item.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visible)
        </dt>

        <dd>


            @Html.DisplayFor(modelItem => item.Visible)
        </dd>





        @Html.ActionLink(@StaticResource.Resources.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
        @Html.ActionLink(@StaticResource.Resources.Details, "Details", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
        @Html.ActionLink(@StaticResource.Resources.Delete, "Delete", new { id = item.Id }, new { @class = "btn btn-info", style = "width:85px" })
    </dl>
}

