@model Horizone.Models.Restore

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Restore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RestoreEn) @StaticResource.Resources.English
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestoreEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestoreFr) @StaticResource.Resources.French
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestoreFr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestoreZh) @StaticResource.Resources.Chinese
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestoreZh)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
