@model Horizone.Models.Restore

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Restore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RestoreEn) @StaticResource.Resources.English
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestoreEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestoreFr) @StaticResource.Resources.French
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestoreFr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestoreZh) @StaticResource.Resources.Chinese
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestoreZh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
